### ***Foreign key:***

#### - Foreign key helps to perform operations related to the parent table, such as joining tables or ensuring referential integrity
```
QUERY:

    CREATE TABLE childtableName(
    childId INT PRIMARY KEY,
    baseId INT,
    FOREIGN KEY (baseId) REFERENCES basetableName(basedId)
    );
```
![](Images/Image_01(video11).png)
![](Images/Image_02(video11).png)
![](Images/Image_03(video11).png)

### ***Cascading in Foreign Key:***
#### Cascading are set of rules which dictate what actions should be taken automatically when a referenced row in the parent table is modified or deleted

### (1) CASCADE: 
#### - If a row in the parent table is updated or deleted, all related rows in the child table will be automatically updated or deleted

### (2) SET NULL: 
#### - If a row in the parent table is updated or deleted, all corresponding foreign key values in the child table will be set to NULL

### (3) RESTRICT or NO ACTION: 
#### - Blocks the modification or deletion of referenced row in the parent table if related rows exist in the child table thus maintaining referential integrity

### These cascading actions help maintain the integrity of the data across related tables in the database
#### (1) ON DELETE CASCADE
#### (2) ON UPDATE CASCADE


### ***ON DELETE CASCADE:***

#### - The `ON DELETE CASCADE` clause indicates that if a row in the parent table(parent_table) is deleted,
#### - all corresponding rows in the child table(child_table) will be automatically deleted as well
```
QUERY:
    CREATE TABLE childtableName(
    childId INT PRIMARY KEY,
    baseId INT
    FOREIGN KEY (baseId) REFERENCES basetableName(basedId)
    ON DELETE CASCADE
    );
```

### ***ON UPDATE CASCADE:***

#### - The `ON UPDATE CASCADE` clause indicates that if a row in the parent table(parent_table) is updated, 
#### - all corresponding rows in the child table(child_table) will be automatically updated as well
```
QUERY:

    CREATE TABLE childtableName(
    childId INT PRIMARY KEY,
    baseId INT
    FOREIGN KEY (baseId) REFERENCES basetableName(basedId)
    ON UPDATE CASCADE
    );
```

----

### Let's make a database for all SQL commands

#### Let's make a Database for a company
#### Requirements:

#### 1. Make a database for a company xyz
```
command: 

CREATE DATABASE xyz;
USE xyz;
```
![](Images/Image_04(video12).png)

#### 2. Make an employee table in the xyz database
```
command:

CREATE TABLE employee(
id INT PRIMARY KEY,
name VARCHAR(50),
age INT,
department VARCHAR(50),
city VARCHAR(50),
salary INT
);
```
![](Images/Image_05(video12).png)

### 3. Fill details in the table
```
command:

INSERT INTO employee(id, name, age, department, city, salary)
VALUES
(1, "rahul", 25, "IT", "Mumbai", 1500),
(2, "afsara", 26, "HR", "Pune", 2000),
(3, "abhimanyu", 27, "IT", "Mumbai", 2500),
(4, "aditya", 25, "Marketing", "Surat", 2400),
(5, "raj", 24, "Finance", "Indore", 1500);
```
![](Images/Image_06(video12).png)

#### 4. See all the data in the table
```
command: SELECT * FROM employee;
```
![](Images/Image_07(video12).png)

### ***UPDATE Command:***

#### - The UPDATE command in SQL is used to modify existing records in a table.
#### - If you get a safe mode error while executing queries run this query
```
QUERY:

    SET SQL_SAFE_UPDATES = 0;
```
```
QUERY:

    UPDATE table_name
    SET columnName1 = value1(to be set), columnName2 = value2(to be set)
    WHERE condition;
```

### ***UPDATE Command(Practice Question):***
#### (1) Write a query to update the salary for all employees in the "HR" department to 50000
```
QUERY:

    UPDATE employee
    SET salary = 50000
    WHERE department = "HR";
```
![](Images/Image_08(video12).png)
![](Images/Image_09(video12).png)

----

### ***DELETE Command:***

#### - The DELETE command in SQL is used to remove records from a table
```
QUERY:

    DELETE FROM table_name
    WHERE condition;
```

### ***DELETE Command(Practice Question):***

#### (1) Write a query to DELETE all records from the employee table where the department is "IT"
```
QUERY:

    DELETE FROM employee
    WHERE department="IT";
```
![](Images/Image_10(video13).png)
![](Images/Image_11(video13).png)

#### (2) Write a query to DELETE the record of an employee having name "raj"
```
QUERY:

    DELETE FROM employee
    WHERE name="raj";
```
![](Images/Image_12(video13).png)
![](Images/Image_13(video13).png)
![](Images/Image_14(video13).png)

----

### ***Retrieving data from table:***

### ***SELECT command:***

#### - SELECT is a DQL(DataQueryLanguage) command. It is used to retrieve data from a database
#### - We can provide specific columns from which we can retrive data

#### - To retrive data present in specific column in a table
```
command: 

    SELECT column1, column2 FROM tableName;
```
![](Images/Image_15(video14).png)

#### - To retrive all the data present in table
```
command:
    
    SELECT * FROM tableName;
```
![](Images/Image_16(video14).png)

### ***Filtering data using the WHERE clause:***

### WHERE clause:
#### - It filters the rows based on specified condition
```
QUERY:

    SELECT col1, col2 FROM tableName WHERE condition;
```
```
QUERY:

    SELECT * FROM employee WHERE age>20;
```
![](Images/Image_17(video15).png)
![](Images/Image_18(video15).png)