### ***Creating a table:***

#### - we use the CREATE TABLE statement to create a table in db
#### - CREATE is a DDL Command
#### - constraints are set of rules provides to our attributes

```
command:

CREATE TABLE TableName(
Column1 DataType1 Constraint1,
Column2 DataType2 Constraint2,
Column3 DataType3 Constraint3,
-- additional columns if needed
);

Example:

CREATE TABLE employee(
empid INT PRIMARY KEY,
name VARCHAR(50),
salary INT
);
```
![](Images/Image01(video6).png)

![](Images/Image02(video6).png)

![](Images/Image03(video6).png)

### ***Inserting values into table***

#### - INSERT is a DML Command
#### - If we not provide the columns order for insertion then values will be inserted in a sequential order 
```
command:

INSERT INTO tableName(Column1, Column2, Column3,....., ColumnN)
VALUES(value1, value2, value3, ....., valueN)

Example:

INSERT INTO employee(empid, name, salary)
VALUES(1, "Raj", 1200),(2, "Rahul", 1100),(3, "Riti", 1100);
```
![](Images/Image04(video6).png)

### ***Seeing values of table***

#### - To see all the values in table
```
command: SELECT
```
#### - To see specific values of a column:
```
SELECT empid FROM employee;
```
#### - To see all the values or the entire table
```
SELECT * FROM employee;
```
![](Images/Image05(video6).png)

### ***Seeing tables***
#### - seeing tables in a given Database
```
command:

    SHOW TABLES;
```
#### - It helps us to see all the tables in a given database
![](Images/Image06(video6).png)

----

### ***End to End Implementation of table***
#### - Lets create a database for Instagram

#### Step1: Create a database
```
command: CREATE DATABASE IF NOT EXISTS instagramDb;
```
![](Images/Image08(video7).png)

#### Step2: Use the database to create tables
```
command: USE instagramDb;
```
![](Images/Image09(video7).png)

#### Step3: Create tables into the db
```
CREATE TABLE IF NOT EXISTS users(
userId INT PRIMARY KEY,
userName VARCHAR(50),
email VARCHAR(100)
);
```
![](Images/Image10(video7).png)
```
CREATE TABLE IF NOT EXISTS posts(
postId INT PRIMARY KEY,
userId INT,
caption VARCHAR(100)
);
```
![](Images/Image11(video7).png)

#### Step4: Insert values in the tables
```
INSERT INTO users(userId, username, email)
VALUES
(1, "riti", "abc@gmail.com"),
(2, "raj", "xyz@gmail.com"),
(3, "Rahul", "abc2@gmail.com");
```
![](Images/Image12(video7).png)
```
INSERT INTO posts(postId, userId, caption)
VALUES
(101, 561, "light"),
(102, 562, "air"),
(103, 563, "water");
```
![](Images/Image13(video7).png)

### Step5: To see all the tables in the database
```
USE instagramDb;
SHOW TABLES;
```
![](Images/Image14(video7).png)

#### Step6: All the values in a specific table
```
SELECT * FROM users;
```
![](Images/Image15(video7).png)
```
SELECT * FROM posts;
```
![](Images/Image16(video7).png)

----

### ***Datatypes in SQL:***
#### - Data types are used to specify the type of data that a column can store

### ***Numeric:***
#### - INTEGER/INT
#### - SMALLINT
#### - BIGINT
#### - DECIMAL
#### - FLOAT
#### - DOUBLE

### ***Character/String:***
#### - CHAR(n)
#### - VARCHAR(n)
#### - TEXT

### ***Date & Time:***
#### - DATE
#### - TIME
#### - DATETIME
#### - TIMESTAMP

### ***Boolean:***
#### - BOOLEAN

### ***Binary:***
#### - BINARY(n)
#### - VARBINARY(n)
#### - BLOB

### ***Numeric DataTypes:***
#### (1) `INT          :` Used  for storing whole numbers without decimal points
#### (2) `BIGINT       :` Used for storing large whole numbers
#### (3) `FLOAT        :` Used for storing decimal numbers(4bytes)
#### (4) `DOUBLE       :` Used for storing decimal numbers(8-bytes)
#### (5) `DECIMAL(p,s) :` Used for exact numeric representation. p is the precision and s is the scale

#### - By default, all the numeric datatypes can have negative as well as positive values.
#### - This restrict the range so if we know there is only +ve values which is stored we use UNSIGNED attribute(0-255)
#### - for eg: salary, age can never be in negative
```
command:

CREATE TABLE example1(
id INT UNSIGNED
);
```

### ***Character Datatypes:***

```n: size of string```

#### (1) `CHAR(n)    :` Fixed-length character strings can be stored(0-255)
#### (2) `VARCHAR(n) :` variable-length character string can be stored(0-255)
#### (3) `TEXT       :` variable-length character string with no specific limit
```
command:

CREATE TABLE example1(
name VARCHAR(50)
);
```

### ***Date & Time Datatypes:***

#### (1) `DATE               :` Used for storing date values (YYYY-MM-DD)
#### (2) `TIME               :` Used for storing time values(hh:mm:ss)
#### (3) `DATETIME/TIMESTAMP :` Used for storing date and time values(YYYY-MM-DD hh:mm:ss)
```
command:

CREATE TABLE example1(
createdTs TIMESTAMP
);
```

### ***Boolean Datatypes:***

#### (1) `BOOLEAN :` Used to store a true or false value
```
command:

CREATE TABLE example1(
isActive BOOLEAN
);
```

### ***Binary Datatypes:***

#### (1) `BINARY(n)               :` Used for storing fixed-length binary data
#### (2) `VARBINARY(n)            :` Used for storing variable length binary data
#### (3) `BLOB(BinaryLargeObject) :` Used for storing large amounts of binary data(variable length)
```
Command:

CREATE TABLE document(
data BLOB
);
```

----

### ***Keys in SQL:***

### (1) Primary key:
#### - A primary key is a unique identifier for each record in the table
#### - It ensures that each row can be uniquely identified and accessed within the table
#### - It is always ```unique + not null```

### (2) Foreign key:
#### - A foreign key is a field in a table that refers to primary key of another table
#### - It establish relationship between tables

----

### ***Constraints in SQL:***
#### - Constraints define rules or conditions that must be satisfied by the data in the table
#### - Common constraints include uniqueness, nullability, default values etc

#### (1) Unique constraint: ensures values in a columns are unique across the table

![](Images/Image17(video10).png)

![](Images/Image18(video10).png)

![](Images/Image19(video10).png)

#### (2) Not null constraint: ensures a column cannot have null value

![](Images/Image20(video10).png)

![](Images/Image21(video10).png)

![](Images/Image22(video10).png)

#### (3) Check constraint: enforces a condition to be true for each row

![](Images/Image23(video10).png)

![](Images/Image24(video10).png)

![](Images/Image25(video10).png)

#### (4) Default constraint: Provides a default value for a column if no value is specified

![](Images/Image26(video10).png)

![](Images/Image27(video10).png)

![](Images/Image28(video10).png)

#### (5) Primary key: Enforces the uniqueness of values in one or more columns

![](Images/Image29(video10).png)

![](Images/Image30(video10).png)

![](Images/Image31(video10).png)

#### (6) Foreign key: Enforces a link between two tables by referencing a column in one table that is primary key in another table

![](Images/Image32(video10).png)