### ***Data Types***
#### -In python data types are classified into two categories:
#### 1. Single valued data types
#### 2. Collection data types

### ***Single valued data types***

### ***Integer***
#### - Any value without floating point is consider as integer both positive and negative values

In [2]:
num = 10
print("num: ", num)
print("type: ", type(num))

num:  10
type:  <class 'int'>

In [3]:
num = 0
print("num: ", num)
print("type: ", type(num))

num:  0
type:  <class 'int'>

In [4]:
num = -5
print("num: ", num)
print("type: ", type(num))

num:  -5
type:  <class 'int'>

### ***Float***
#### - Any value with floating point is considered as float  both positive and negative values

In [5]:
num1 = 12.02
print("num1: ", num1)
print("type: ", type(num1))

num1:  12.02
type:  <class 'float'>

In [6]:
num2 = 0.0
print("num2: ", num2)
print("type: ", type(num2))

num2:  0.0
type:  <class 'float'>

In [7]:
num3 = -1.22
print("num3: ", num3)
print("type: ", type(num3))

num3:  -1.22
type:  <class 'float'>

### ***Boolean***
#### - Boolean has only two values True and False
#### - In python, True is considered as 1 and False is considered as 0

In [8]:
num1 = True
print("num1: ", num1)
print("type: ", type(num1))

num1:  True
type:  <class 'bool'>

In [9]:
num2 = False
print("num2: ", num2)
print("type: ", type(num2))

num2:  False
type:  <class 'bool'>

In [10]:
print(True+True)

2

In [11]:
print(True*2)

2

In [12]:
print(True+False)

1

In [1]:
print(True+2)

3

### ***Complex***
#### - Complex data type has two parts real and imaginary part
#### - For complex data type imaginary part is mandatory

In [18]:
num1 = 2+3j
print("num1: ", num1)
print("type: ", type(num1))

num1:  (2+3j)
type:  <class 'complex'>

In [19]:
num2 = 2+0j
print("num2: ", num2)
print("type: ", type(num2))

num2:  (2+0j)
type:  <class 'complex'>

In [20]:
num3 = 0+0j
print("num3: ", num3)
print("type: ", type(num3))

num3:  0j
type:  <class 'complex'>

In [21]:
num4 = 0+2j
print("num4: ", num4)
print("type: ", type(num4))

num4:  2j
type:  <class 'complex'>

In [23]:
num5 = 2-3j
print("num5: ", num5)
print("type: ", type(num5))

num5:  (2-3j)
type:  <class 'complex'>

In [24]:
num5 = -2-3j
print("num5: ", num5)
print("type: ", type(num5))

num5:  (-2-3j)
type:  <class 'complex'>

### ***None***
#### - In python, None is null data type. It's boolean value is False

In [25]:
num = None
print("num: ", num)
print("boolean: ", bool(num))

num:  None
boolean:  False

### ***Collection DataTypes***

### ***String***
#### - String is declared using single quotes, double quotes and triple quotes
#### - To declare single line string we use single quotes, double quotes where as to declare multiline string we use triple quotes
#### - It is ordered data type, supports indexing
#### - String is a immutable data type. It cannot be modified

In [29]:
# single line string
program_lang1 = 'python'
program_lang2 = "python"
print(program_lang1)
print(type(program_lang1))
print(program_lang2)
print(type(program_lang2))

python
<class 'str'>
python
<class 'str'>

In [28]:
# multiline string
program_lang3 = """
Python supports functional programming language, scripting language, Object oriented programming language.
It is both compiled and interpreted language
"""
print(program_lang3)
print(type(program_lang3))

Python supports functional programming language, scripting language, Object oriented programming language.
It is both compiled and interpreted language

<class 'str'>

In [32]:
language = "python"
print("index -4: ",language[-4])
print("index -1: ",language[-1])
print("index  0: ",language[0])
print("index  1: ",language[1])

index -4:  t
index -1:  n
index  0:  p
index  1:  y

In [33]:
# immutable 
language[2] = "k"
print(language)

TypeError: 'str' object does not support item assignment

### ***List***
#### - List is declared by using square brackets []
#### - List is ordered data type. It supports indexing
#### - List is mutable data type. It can be modified
#### - It allows duplicate values
#### - List is both homogenous and heterogenous

In [35]:
num_list = [90, 45.5, True, 2+3j]
print(num_list)
print("index  2: ", num_list[2])
print("index -3: ", num_list[-3])
print("index  0: ", num_list[0])
num_list[2] = "python"
print(num_list)

[90, 45.5, True, (2+3j)]
index  2:  True
index -3:  45.5
index  0:  90
[90, 45.5, 'python', (2+3j)]

### ***Tuple***
#### - It is declared by using round brackets ()
#### - It is ordered data type. It supports indexing
#### - Tuple is immutable data type. It cannot be modified
#### - It allows duplicate values
#### - Tuple is both homogenous and heterogenous

In [36]:
num_tuple = ((10,20), "ABCD", [11, 12, 13])
print(num_tuple)

((10, 20), 'ABCD', [11, 12, 13])

In [37]:
print("index -1: ", num_tuple[-1])
print("index  0: ", num_tuple[0])

index -1:  [11, 12, 13]
index  0:  (10, 20)

In [38]:
num_tuple[0] = 10
print(num_tuple)

TypeError: 'tuple' object does not support item assignment

### ***Note:***
#### - Tuple is a immutable datatype, It cannot be modified. But mutable data type inside tuple can be modified

In [41]:
num_tuple = ((10,20), "ABCD", [11, 12, 13])
print(num_tuple)
print(num_tuple[2][0])
print(num_tuple[2][-3])
print(num_tuple[-1][0])
print(num_tuple[-1][-3])

((10, 20), 'ABCD', [11, 12, 13])
11
11
11
11

In [42]:
num_tuple[2][0] = 100
print(num_tuple)

((10, 20), 'ABCD', [100, 12, 13])

### ***Set***
#### - Elements inside of set are seperated by commas and surrounded by flower braces but empty set is defined using set()
#### - It is unordered datatype. It does not supports indexing
#### - It is mutable datatype. It can be modified
#### - It doesnot allow duplicates
#### - set is both homogenous and heterogenous but it allows only immutable data type

In [44]:
num_set = {12, 12.0, 10, 10.0, 1, True, 1.0, "python", False, 0.0, 0}
print(num_set)

{False, 1, 'python', 10, 12}

### ***Dictionary***
#### - Dictionary is declared using curly brackets and elements in the form of key, value pair
#### - Dictionary is ordered datatype. It does not supports indexing
#### - It is mutable datatype. It can be modified.
#### - Duplicates of keys are not allowed but if we try to add duplicate of key old value is replaced with new value where as duplicates of values are allowed
#### - Only immutable keys are allowed but values can be both mutable and immutable

In [45]:
name_dict = {
    54: "Ram",
    55: "Lava",
    54: "Sam",
    55: "Seeta",
    56: "Seeta"
}
print(name_dict)

{54: 'Sam', 55: 'Seeta', 56: 'Seeta'}