### ***Tuples***

#### 1. Initialize tuple
#### 2. Tuple with single item
#### 3. Packing and unpacking tuples
#### 4. Accessing a Tuple & slicing a tuple
#### 5. Update a tuple
#### 6. del

### ***Initialize a tuple***

In [1]:
t = ()
print(t)
print(type(t))

()
<class 'tuple'>

In [2]:
t = tuple()
print(t)
print(type(t))

()
<class 'tuple'>

In [3]:
t = tuple([])
print(t)
print(type(t))

()
<class 'tuple'>

In [4]:
t = tuple(())
print(t)
print(type(t))

()
<class 'tuple'>

In [5]:
t = tuple("")
print(t)
print(type(t))

()
<class 'tuple'>

In [6]:
t = tuple(" ")
print(t)
print(type(t))

(' ',)
<class 'tuple'>

### ***Tuple with single item***

In [7]:
t1= (1)
t2 = 1
t3 = 1, 
t4 = (1,)
print(t1)
print(type(t1))
print(t2)
print(type(t2))
print(t3)
print(type(t3))
print(t4)
print(type(t4))

1
<class 'int'>
1
<class 'int'>
(1,)
<class 'tuple'>
(1,)
<class 'tuple'>

In [8]:
t1 = "a","b","c"
t2 = ("a","b","c")
print(t1)
print(t2)
print(type(t1))
print(type(t2))

('a', 'b', 'c')
('a', 'b', 'c')
<class 'tuple'>
<class 'tuple'>

### ***Packing***
#### - Combining multiple values into single tuple
### ***Unpacking***
#### - Extracting multiple values from tuple and assigning to multiple variables

In [9]:
i,j,k = ("a","b","c")
print(i)
print(j)
print(k)

a
b
c

In [10]:
a,b = (1,2,3,4,5,6,7)
print(a)
print(b)

ValueError: too many values to unpack (expected 2)

In [11]:
a, *b = (1,2,3,4,5,6,7)
print(a)
print(b)
print(type(a))
print(type(b))

1
[2, 3, 4, 5, 6, 7]
<class 'int'>
<class 'list'>

In [12]:
a, *b, c, d = (1,2,3,4,5,6,7)
print(a)
print(b)
print(c)
print(d)
print(type(a))
print(type(b))
print(type(c))
print(type(d))

1
[2, 3, 4, 5]
6
7
<class 'int'>
<class 'list'>
<class 'int'>
<class 'int'>

In [13]:
a, *b, c, *d = (1,2,3,4,5,6,7)
print(b)
print(d)

SyntaxError: multiple starred expressions in assignment (1344957428.py, line 1)

In [14]:
a, *b = (1,2)
c,d = (1,2)
print(a)
print(b)
print(c)
print(d)
print(type(a))
print(type(b))
print(type(c))
print(type(d))

1
[2]
1
2
<class 'int'>
<class 'list'>
<class 'int'>
<class 'int'>

In [15]:
a,b,c,d = (1,2)
print(a)
print(b)
print(c)
print(d)

ValueError: not enough values to unpack (expected 4, got 2)

In [16]:
a,b = [1,2,3]

ValueError: too many values to unpack (expected 2)

In [17]:
a, *b = [1,2,3]
print(a)
print(b)
print(type(a))
print(type(b))

1
[2, 3]
<class 'int'>
<class 'list'>

### ***Accessing tuples***

In [18]:
t = tuple("python")
print(t)
print(type(t))

('p', 'y', 't', 'h', 'o', 'n')
<class 'tuple'>

In [19]:
print(t[0])
print(t[-1])
print(t[5])

p
n
n

### ***slicing a tuple***

In [20]:
print(t[1:4])
print(t[1:])

('y', 't', 'h')
('y', 't', 'h', 'o', 'n')

### ***Updating a tuple***

In [21]:
t = ("python", "c", "c++")
t[1] = "Java"

TypeError: 'tuple' object does not support item assignment

In [22]:
temp = list(t)
print(temp)

['python', 'c', 'c++']

In [23]:
temp[1] = "Java"
print(temp)

['python', 'Java', 'c++']

In [24]:
t = tuple(temp)
print(t)

('python', 'Java', 'c++')

### ***del***
#### - It can delete a tuple object but it cannot delete an element of tuple

In [25]:
l = [1,2,3,4,5]
del l[1:3]
print(l)

[1, 4, 5]

In [28]:
t = (1,2,3,4,5)
del t[1:3]
print(t)

TypeError: 'tuple' object does not support item deletion

In [29]:
t = (1,2,3,4,5)
del t
print(t)

NameError: name 't' is not defined

### ***sort***
#### syntax: sort(reverse=False)
#### - It arranges the items of list in ascending order. It performs inplace sorting 
#### - we can also arrange it in descending order by providing `reverse=True` as argument to sort function

In [1]:
l = [1,10,5,8,9,12,11]
print(l)
print(id(l))
l.sort() # inplace sorting 
print(l)
print(id(l))

[1, 10, 5, 8, 9, 12, 11]
1698154143040
[1, 5, 8, 9, 10, 11, 12]
1698154143040

In [34]:
l = [1,10,5,8,9,12,11]
print(l)
print(id(l))
l.sort(reverse=True) # inplace sorting 
print(l)
print(id(l))

[1, 10, 5, 8, 9, 12, 11]
2711444364928
[12, 11, 10, 9, 8, 5, 1]
2711444364928

In [35]:
l = ['a','b','d','z','f']
l.sort()
print(l)

['a', 'b', 'd', 'f', 'z']

In [45]:
ord('f')

102

In [46]:
ord('z')

122

In [36]:
l = ['abc', 'aac', 'aca', 'cab','bca']
l.sort()
print(l)

['aac', 'abc', 'aca', 'bca', 'cab']

In [37]:
l = ['abc', 'aac', 'aca', 'cab','bca', "9", "10"]
l.sort()
print(l)

['10', '9', 'aac', 'abc', 'aca', 'bca', 'cab']

In [38]:
ord("1")

49

In [39]:
ord("9")

57

In [40]:
l = ["8948279632687268", "9"]
l.sort()
print(l)

['8948279632687268', '9']

In [41]:
l = [" ", "1", "a"]
l.sort(reverse=True)
l

['a', '1', ' ']

In [42]:
ord(" ")

32

In [43]:
ord("0")

48

In [44]:
ord("a")

97

In [47]:
t = (1,2,3,5,7,9,4,12,10)
t.sort() # will fail

AttributeError: 'tuple' object has no attribute 'sort'

### ***sorted***
#### - sorted(iterable, reverse=Fale)
#### - It arranges the items of iterable in ascending order or descending order. It performs outplace sorting
#### - It returns list as output
#### - we can also arrange it in descending order by providing `reverse=True` as argument to sorted function

In [31]:
l = [1,10,5,8,9,12,11]
print(l)
print(id(l))
print(sorted(l))
print(id(sorted(l))) # out of place sorting 
print(l)
print(id(l))

[1, 10, 5, 8, 9, 12, 11]
2711444519616
[1, 5, 8, 9, 10, 11, 12]
2711444421440
[1, 10, 5, 8, 9, 12, 11]
2711444519616

In [32]:
l = [1,2,3,5,7,9,4]
sorted(l, reverse = True)

[9, 7, 5, 4, 3, 2, 1]

In [33]:
m = l.sort()
print(m)
print(type(m))

None
<class 'NoneType'>

In [48]:
t = (1,2,3,5,7,9,4,12,10)
t.sort() # will fail

AttributeError: 'tuple' object has no attribute 'sort'

In [49]:
sorted(t)

[1, 2, 3, 4, 5, 7, 9, 10, 12]

In [50]:
sorted("venky")

['e', 'k', 'n', 'v', 'y']

### ***reverse***
#### syntax: reverse()
#### - It reverse the items of list. It perform in place reverse operation

In [51]:
# reverse
l = list("Venkatesh")
print(l)

['V', 'e', 'n', 'k', 'a', 't', 'e', 's', 'h']

In [52]:
l.reverse() # equivalent to l[::-1] 
print(l)  # reverse in place

['h', 's', 'e', 't', 'a', 'k', 'n', 'e', 'V']

In [54]:
t = tuple("Venkatesh")
t.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

### ***reversed***
#### syntax: reversed(iterable)
#### - It reverse the items of iterable and returns iterable object

In [56]:
l = list("Venkatesh")
list(reversed(l)) # out of place - creates new list

['h', 's', 'e', 't', 'a', 'k', 'n', 'e', 'V']

In [58]:
t = tuple("Venkatesh")
tuple(reversed(t)) # out of place - creates new list

('h', 's', 'e', 't', 'a', 'k', 'n', 'e', 'V')

### ***index***
#### - It returns the index position of first occurrence of given value.
#### - If value is not present in tuple then it throws value error

In [59]:
t = (10, 20, 30, 10, 20)
print(t.index(10))
print(t.index(20))

0
1

In [60]:
print(t.index(70))

ValueError: tuple.index(x): x not in tuple

In [62]:
# index(value, start_index, end_index)
print(t.index(20, 2, 5))

4

### ***count***
#### - It returns number of times value occurred in a tuple

In [64]:
t = (10, 20, 30, 10, 20)
print(t.count(10))
print(t.count(20))

2
2

In [65]:
print(t.count(30))

1