### ***TypeCasting***
#### - It is a process of converting python variable data type from one datatype to other.
#### - Generally, TypeCasting are two types:
#### 1. Implicit TypeCasting: No need of user involvment, Type casting happens automatically
#### 2. Explicit TypeCasting: User involvment is needed, Type casting does not happens automatically

### ***Implicit TypeCasting***

In [1]:
num1 = 7
print(type(num1))
num2 = 3.0
print(type(num2))
add = num1 + num2
print(add)
print(type(add))

<class 'int'>
<class 'float'>
10.0
<class 'float'>

### ***Explicit TypeCasting***

#### ***Int(arg)***
#### arg: float, boolean, string of number

In [9]:
print("15.5 : ", int(15.5))
print("True : ", int(True))
print("False: ", int(False))
print("'10' : ", int('10'))

15.5 :  15
True :  1
False:  0
'10' :  10

In [3]:
print("'11.8': ", int('11.8'))

ValueError: invalid literal for int() with base 10: '11.8'

In [4]:
print("A: ", int('A'))

ValueError: invalid literal for int() with base 10: 'A'

In [5]:
print("(3+2j): ", int(3+2j))

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

#### ***Float(arg)***
#### arg: integer, boolean, string of number

In [8]:
print("11    : ", float(11))
print("True  : ", float(True))
print("'12.5': ", float('12.5'))
print("'12'  : ", float('12'))

11    :  11.0
True  :  1.0
'12.5':  12.5
'12'  :  12.0

In [1]:
print("A: ", float('A'))

ValueError: could not convert string to float: 'A'

In [2]:
print("(3+2j): ", float(3+2j))

TypeError: float() argument must be a string or a real number, not 'complex'

#### ***Complex(arg1, arg2)***
#### It takes two arguments. If first argument is string then no need of second argument otherwise throws an error
#### arg1: integer, float, boolean
#### arg2: integer, float, boolean

In [11]:
print("(2.5, 5.7)   :", complex(2.5,5.7))
print("(True, True) :", complex(True,True))
print("(6)          :", complex(6))
print("('2')        :", complex('2'))

(2.5, 5.7)   : (2.5+5.7j)
(True, True) : (1+1j)
(6)          : (6+0j)
('2')        : (2+0j)

In [13]:
print("('2', '5')        :", complex('2', '5'))

TypeError: complex() can't take second arg if first is a string

In [14]:
print("('2', 5)        :", complex('2', 5))

TypeError: complex() can't take second arg if first is a string

In [3]:
print("(2, '5')        :", complex(2, '5'))

TypeError: complex() second arg can't be a string

In [15]:
print("('2.0', '5.0')        :", complex('2.0', '5.0'))

TypeError: complex() can't take second arg if first is a string

### ***bool(arg)***
#### arg: single valued datatypes, collection datatypes

In [39]:
a = None
print("a          : ", a)
print("type(a)    : ", type(a))
print("bool value : ", bool(a))

a          :  None
type(a)    :  <class 'NoneType'>
bool value :  False

In [40]:
a = 10
print("a          : ", a)
print("type(a)    : ", type(a))
print("bool value : ", bool(a))

a          :  10
type(a)    :  <class 'int'>
bool value :  True

In [41]:
a = 0
print("a          : ", a)
print("type(a)    : ", type(a))
print("bool value : ", bool(a))

a          :  0
type(a)    :  <class 'int'>
bool value :  False

In [42]:
a = -10
print("a          : ", a)
print("type(a)    : ", type(a))
print("bool value : ", bool(a))

a          :  -10
type(a)    :  <class 'int'>
bool value :  True

In [43]:
a = 10.25
print("a          : ", a)
print("type(a)    : ", type(a))
print("bool value : ", bool(a))

a          :  10.25
type(a)    :  <class 'float'>
bool value :  True

In [44]:
a = -10.25
print("a          : ", a)
print("type(a)    : ", type(a))
print("bool value : ", bool(a))

a          :  -10.25
type(a)    :  <class 'float'>
bool value :  True

In [45]:
a = 0.00
print("a          : ", a)
print("type(a)    : ", type(a))
print("bool value : ", bool(a))

a          :  0.0
type(a)    :  <class 'float'>
bool value :  False

In [46]:
a = 0.0001
print("a          : ", a)
print("type(a)    : ", type(a))
print("bool value : ", bool(a))

a          :  0.0001
type(a)    :  <class 'float'>
bool value :  True

In [47]:
a = -0.0001
print("a          : ", a)
print("type(a)    : ", type(a))
print("bool value : ", bool(a))

a          :  -0.0001
type(a)    :  <class 'float'>
bool value :  True

In [48]:
a = 2+3j
print("a          : ", a)
print("type(a)    : ", type(a))
print("bool value : ", bool(a))

a          :  (2+3j)
type(a)    :  <class 'complex'>
bool value :  True

In [49]:
a = 2+0j
print("a          : ", a)
print("type(a)    : ", type(a))
print("bool value : ", bool(a))

a          :  (2+0j)
type(a)    :  <class 'complex'>
bool value :  True

In [50]:
a = 0+0j
print("a          : ", a)
print("type(a)    : ", type(a))
print("bool value : ", bool(a))

a          :  0j
type(a)    :  <class 'complex'>
bool value :  False

In [51]:
a = 2-0j
print("a          : ", a)
print("type(a)    : ", type(a))
print("bool value : ", bool(a))

a          :  (2+0j)
type(a)    :  <class 'complex'>
bool value :  True

In [52]:
a = -2-0j
print("a          : ", a)
print("type(a)    : ", type(a))
print("bool value : ", bool(a))

a          :  (-2+0j)
type(a)    :  <class 'complex'>
bool value :  True

In [53]:
a = ""
print("a          : ", a)
print("type(a)    : ", type(a))
print("bool value : ", bool(a))

a          :
type(a)    :  <class 'str'>
bool value :  False

In [54]:
a = " "
print("a          : ", a)
print("type(a)    : ", type(a))
print("bool value : ", bool(a))

a          :
type(a)    :  <class 'str'>
bool value :  True

In [55]:
a = []
print("a          : ", a)
print("type(a)    : ", type(a))
print("bool value : ", bool(a))

a          :  []
type(a)    :  <class 'list'>
bool value :  False

In [56]:
a = [1, 2, 3]
print("a          : ", a)
print("type(a)    : ", type(a))
print("bool value : ", bool(a))

a          :  [1, 2, 3]
type(a)    :  <class 'list'>
bool value :  True

In [57]:
a = (1)
print("a          : ", a)
print("type(a)    : ", type(a))
print("bool value : ", bool(a))

a          :  1
type(a)    :  <class 'int'>
bool value :  True

In [58]:
a = (1,)
print("a          : ", a)
print("type(a)    : ", type(a))
print("bool value : ", bool(a))

a          :  (1,)
type(a)    :  <class 'tuple'>
bool value :  True

In [59]:
a = (1, 2, 3)
print("a          : ", a)
print("type(a)    : ", type(a))
print("bool value : ", bool(a))

a          :  (1, 2, 3)
type(a)    :  <class 'tuple'>
bool value :  True

In [60]:
a = set()
print("a          : ", a)
print("type(a)    : ", type(a))
print("bool value : ", bool(a))

a          :  set()
type(a)    :  <class 'set'>
bool value :  False

In [2]:
a = {1,2,3}
print("a          : ", a)
print("type(a)    : ", type(a))
print("bool value : ", bool(a))

a          :  {1, 2, 3}
type(a)    :  <class 'set'>
bool value :  True

In [61]:
a = {}
print("a          : ", a)
print("type(a)    : ", type(a))
print("bool value : ", bool(a))

a          :  {}
type(a)    :  <class 'dict'>
bool value :  False

In [62]:
a = {"a": 10, "b": 20}
print("a          : ", a)
print("type(a)    : ", type(a))
print("bool value : ", bool(a))

a          :  {'a': 10, 'b': 20}
type(a)    :  <class 'dict'>
bool value :  True

### ***str(arg)***
#### arg: single valued and collection data types

In [4]:
a = None
print("a          : ", a)
print("type(a)    : ", type(a))
print("str value  : ", str(a))
print("str len    : ", len(str(a)))

a          :  None
type(a)    :  <class 'NoneType'>
str value  :  None
str len    :  4

In [63]:
a = 10
print("a          : ", a)
print("type(a)    : ", type(a))
print("str value  : ", str(a))
print("str len    : ", len(str(a)))

a          :  10
type(a)    :  <class 'int'>
str value  :  10
str len    :  2

In [64]:
a = 10.05
print("a          : ", a)
print("type(a)    : ", type(a))
print("str value  : ", str(a))
print("str len    : ", len(str(a)))

a          :  10.05
type(a)    :  <class 'float'>
str value  :  10.05
str len    :  5

In [65]:
a = True
print("a          : ", a)
print("type(a)    : ", type(a))
print("str value  : ", str(a))
print("str len    : ", len(str(a)))

a          :  True
type(a)    :  <class 'bool'>
str value  :  True
str len    :  4

In [66]:
a = False
print("a          : ", a)
print("type(a)    : ", type(a))
print("str value  : ", str(a))
print("str len    : ", len(str(a)))

a          :  False
type(a)    :  <class 'bool'>
str value  :  False
str len    :  5

In [67]:
a = 3+4j
print("a          : ", a)
print("type(a)    : ", type(a))
print("str value  : ", str(a))
print("str len    : ", len(str(a)))

a          :  (3+4j)
type(a)    :  <class 'complex'>
str value  :  (3+4j)
str len    :  6

In [68]:
a = 0j
print("a          : ", a)
print("type(a)    : ", type(a))
print("str value  : ", str(a))
print("str len    : ", len(str(a)))

a          :  0j
type(a)    :  <class 'complex'>
str value  :  0j
str len    :  2

In [71]:
a = [11, 12, 13]
print("a          : ", a)
print("type(a)    : ", type(a))
print("str value  : ", str(a))
print("str len    : ", len(str(a)))

a          :  [11, 12, 13]
type(a)    :  <class 'list'>
str value  :  [11, 12, 13]
str len    :  12

In [72]:
a = (11, 12, 13)
print("a          : ", a)
print("type(a)    : ", type(a))
print("str value  : ", str(a))
print("str len    : ", len(str(a)))

a          :  (11, 12, 13)
type(a)    :  <class 'tuple'>
str value  :  (11, 12, 13)
str len    :  12

In [73]:
a = {11, 12, 13}
print("a          : ", a)
print("type(a)    : ", type(a))
print("str value  : ", str(a))
print("str len    : ", len(str(a)))

a          :  {11, 12, 13}
type(a)    :  <class 'set'>
str value  :  {11, 12, 13}
str len    :  12

In [74]:
a = {'a': 10, 'b': 20}
print("a          : ", a)
print("type(a)    : ", type(a))
print("str value  : ", str(a))
print("str len    : ", len(str(a)))

a          :  {'a': 10, 'b': 20}
type(a)    :  <class 'dict'>
str value  :  {'a': 10, 'b': 20}
str len    :  18

### ***list(arg)***
#### arg: string, tuple, set, dictionary

In [77]:
a = "python"
print("a           : ", a)
print("type(a)     : ", type(a))
print("list value  : ", list(a))
print("list length : ", len(list(a)))

a           :  python
type(a)     :  <class 'str'>
list value  :  ['p', 'y', 't', 'h', 'o', 'n']
list length :  6

In [78]:
a = (11, 12, 13)
print("a           : ", a)
print("type(a)     : ", type(a))
print("list value  : ", list(a))
print("list length : ", len(list(a)))

a           :  (11, 12, 13)
type(a)     :  <class 'tuple'>
list value  :  [11, 12, 13]
list length :  3

In [79]:
a = {True, 24, 12, 24, 1, 15}
print("a           : ", a)
print("type(a)     : ", type(a))
print("list value  : ", list(a))
print("list length : ", len(list(a)))

a           :  {24, True, 12, 15}
type(a)     :  <class 'set'>
list value  :  [24, True, 12, 15]
list length :  4

In [80]:
a = {'a': 10, 'b': 20, 'c': 30}
print("a           : ", a)
print("type(a)     : ", type(a))
print("list value  : ", list(a))
print("list length : ", len(list(a)))

a           :  {'a': 10, 'b': 20, 'c': 30}
type(a)     :  <class 'dict'>
list value  :  ['a', 'b', 'c']
list length :  3

### ***tuple(arg)***
#### arg: string, list, set, dictionary

In [82]:
a = "python"
print("a           : ", a)
print("type(a)     : ", type(a))
print("tuple value  : ", tuple(a))
print("tuple length : ", len(tuple(a)))

a           :  python
type(a)     :  <class 'str'>
tuple value  :  ('p', 'y', 't', 'h', 'o', 'n')
tuple length :  6

In [83]:
a = [10, 20, 30]
print("a           : ", a)
print("type(a)     : ", type(a))
print("tuple value  : ", tuple(a))
print("tuple length : ", len(tuple(a)))

a           :  [10, 20, 30]
type(a)     :  <class 'list'>
tuple value  :  (10, 20, 30)
tuple length :  3

In [84]:
a = {True, 1, 1.0, False, 0, 0.0, 12, 24, 15}
print("a           : ", a)
print("type(a)     : ", type(a))
print("tuple value  : ", tuple(a))
print("tuple length : ", len(tuple(a)))

a           :  {False, True, 24, 12, 15}
type(a)     :  <class 'set'>
tuple value  :  (False, True, 24, 12, 15)
tuple length :  5

In [85]:
a = {'a': 10, 'b': 20, 'c': 30}
print("a           : ", a)
print("type(a)     : ", type(a))
print("tuple value  : ", tuple(a))
print("tuple length : ", len(tuple(a)))

a           :  {'a': 10, 'b': 20, 'c': 30}
type(a)     :  <class 'dict'>
tuple value  :  ('a', 'b', 'c')
tuple length :  3

### ***set(arg)***
#### arg: string, list, tuple, dictionary

In [86]:
a = "python"
print("a           : ", a)
print("type(a)     : ", type(a))
print("set value   : ", set(a))
print("set length  : ", len(set(a)))

a           :  python
type(a)     :  <class 'str'>
set value   :  {'n', 'p', 't', 'y', 'h', 'o'}
set length  :  6

In [87]:
a = "malayalam"
print("a           : ", a)
print("type(a)     : ", type(a))
print("set value   : ", set(a))
print("set length  : ", len(set(a)))

a           :  malayalam
type(a)     :  <class 'str'>
set value   :  {'m', 'y', 'a', 'l'}
set length  :  4

In [88]:
a = [11, 12, 13, 11, 12]
print("a           : ", a)
print("type(a)     : ", type(a))
print("set value   : ", set(a))
print("set length  : ", len(set(a)))

a           :  [11, 12, 13, 11, 12]
type(a)     :  <class 'list'>
set value   :  {11, 12, 13}
set length  :  3

In [92]:
a = [11, 12, 13, [11, 12]]
print("a           : ", a)
print("type(a)     : ", type(a))
print("set value   : ", set(a))# not allows mutable datatypes inside list
print("set length  : ", len(set(a)))

a           :  [11, 12, 13, [11, 12]]
type(a)     :  <class 'list'>

TypeError: unhashable type: 'list'

In [94]:
a = [11, 12, 13, (11, 12)]
print("a           : ", a)
print("type(a)     : ", type(a))
print("set value   : ", set(a))# allows immutable datatypes inside list
print("set length  : ", len(set(a)))

a           :  [11, 12, 13, (11, 12)]
type(a)     :  <class 'list'>
set value   :  {(11, 12), 11, 12, 13}
set length  :  4

In [95]:
a = (11, 12, 13, 11, 12)
print("a           : ", a)
print("type(a)     : ", type(a))
print("set value   : ", set(a))
print("set length  : ", len(set(a)))

a           :  (11, 12, 13, 11, 12)
type(a)     :  <class 'tuple'>
set value   :  {11, 12, 13}
set length  :  3

### ***dict(arg)***
#### arg: 
#### - list of tuples [(),()],
#### - list of lists [[],[]],
#### - tuple of tuples ((),()),
#### - tuple of lists ([],[])
#### - Each element of list or tuple should have length 2

In [96]:
a = [('a', 'b'), ('a', 'c'), 'be',[10, 20]]
print("a           : ", a)
print("type(a)     : ", type(a))
print("set value   : ", dict(a))
print("set length  : ", len(dict(a)))

a           :  [('a', 'b'), ('a', 'c'), 'be', [10, 20]]
type(a)     :  <class 'list'>
set value   :  {'a': 'c', 'b': 'e', 10: 20}
set length  :  3

In [97]:
a = [('name', 'robert'), ('age', 25), ('position', 'AI Engineer')]
print("a           : ", a)
print("type(a)     : ", type(a))
print("set value   : ", dict(a))
print("set length  : ", len(dict(a)))

a           :  [('name', 'robert'), ('age', 25), ('position', 'AI Engineer')]
type(a)     :  <class 'list'>
set value   :  {'name': 'robert', 'age': 25, 'position': 'AI Engineer'}
set length  :  3

In [99]:
a = [['name', 'robert'], ['age', 25], ['position', 'AI Engineer']]
print("a           : ", a)
print("type(a)     : ", type(a))
print("set value   : ", dict(a))
print("set length  : ", len(dict(a)))

a           :  [['name', 'robert'], ['age', 25], ['position', 'AI Engineer']]
type(a)     :  <class 'list'>
set value   :  {'name': 'robert', 'age': 25, 'position': 'AI Engineer'}
set length  :  3

In [98]:
a = (('name', 'robert'), ('age', 25), ('position', 'AI Engineer'))
print("a           : ", a)
print("type(a)     : ", type(a))
print("set value   : ", dict(a))
print("set length  : ", len(dict(a)))

a           :  (('name', 'robert'), ('age', 25), ('position', 'AI Engineer'))
type(a)     :  <class 'tuple'>
set value   :  {'name': 'robert', 'age': 25, 'position': 'AI Engineer'}
set length  :  3

In [100]:
a = (['name', 'robert'], ['age', 25], ['position', 'AI Engineer'])
print("a           : ", a)
print("type(a)     : ", type(a))
print("set value   : ", dict(a))
print("set length  : ", len(dict(a)))

a           :  (['name', 'robert'], ['age', 25], ['position', 'AI Engineer'])
type(a)     :  <class 'tuple'>
set value   :  {'name': 'robert', 'age': 25, 'position': 'AI Engineer'}
set length  :  3