### ***96 Create a function that returns a base-2 (binary) representation of a base-10 (decimal) string number***
```
To convert is simple: ((2) means base-2 and (10) means base-10)

==> 010101001(2) = 1 + 8 + 32 + 128

Going from right to left, the value of the most right bit is 1, now from that every bit to the left will be X2 the value, value of an 8 bit binary numbers are(256, 128, 64, 32, 16, 8, 4, 2, 1)

Examples:
---------

binary(1) ==> '1'

i.e 1 * 1 = 1

binary(5) ==> '101'

i.e 1*1 + 1*4 = 5

binary(10) ==> '1010'

i.e 1*2 + 1*8 = 10
```

In [1]:
def binary(decimal):
    binary_str = ""
    while decimal > 0:
        remainder = decimal % 2
        binary_str = str(remainder) + binary_str
        decimal = decimal // 2
    return binary_str if binary_str else "0"

In [2]:
print(binary(1))
print(binary(5))
print(binary(10))

1
101
1010

### ***97 Create a function that takes three arguments a, b, c and returns the sum of the numbers that are evenly divided by c from the range a,b inclusive***
```

Examples:
---------

evenly_divisible(1, 10, 20) ==> 0

==> No number between 1 and 10 can be evenly divided by 20

evenly_divisible(1, 10, 2) ==> 30

==> 2 + 4 + 6 + 8 + 10 = 30

evenly_divisible(1, 10, 3) ==> 18

==> 3 + 6 + 9 = 18
```

In [3]:
def evenly_divisible(a, b, c):
    total = 0
    for num in range(a, b+1):
        if num % c == 0:
            total += num
    return total

In [4]:
print(evenly_divisible(1, 10, 20))
print(evenly_divisible(1, 10, 2))
print(evenly_divisible(1, 10, 3))

0
30
18

### ***98 Create a function that returns True if a given inequality expression is correct and False otherwise***
```
Examples:
---------

correct_signs("3 < 7 < 11")        ==> True

correct_signs("13 > 44 > 33 < 1")  ==> False

correct_signs("1 < 2 < 6 < 9 > 3") ==> True
```

In [5]:
def correct_signs(expression):
    try:
        return eval(expression)
    except:
        return False

In [6]:
print(correct_signs("3 < 7 < 11"))
print(correct_signs("13 > 44 > 33 < 1"))
print(correct_signs("1 < 2 < 6 < 9 > 3"))

True
False
True

### ***99 Create a function that replaces all the vowels in a string with a specified character***
```
Examples:
---------

replace_vowels("the aardvark", "#")  ==> "th# ##rdv#rk"

replace_vowels("minnie mouse", "?")  ==> "m?nn?? m??s?"

replace_vowels("shakespeare", "*")   ==> "sh*k*sp**r*"
```

In [7]:
def replace_vowels(string, char):
    vowels = "AEIOUaeiou"
    for vowel in vowels:
        string = string.replace(vowel, char)
    return string

In [8]:
print(replace_vowels("the aardvark", "#"))
print(replace_vowels("minnie mouse", "?"))
print(replace_vowels("shakespeare", "*"))

th# ##rdv#rk
m?nn?? m??s?
sh*k*sp**r*

### ***100 WAP for a function that calculates the factorial of a number recursively***
```
Examples:
---------

factorial(5)  ==> 120

factorial(3)  ==> 6

factorial(1)  ==> 1

factorial(0)  ==> 1
```

In [9]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

In [10]:
print(factorial(5))
print(factorial(3))
print(factorial(1))
print(factorial(0))

120
6
1
1