### ***111 Using list comprehensions, create a function that finds all even numbers from 1 to the given number***
```
Examples:
---------

find_even_number(8) ==> [2, 4, 6, 8]

find_even_number(4) ==> [2, 4]

find_even_number(2) ==> [2]
```

In [1]:
def find_even_nums(num):
    return [x for x in range(1, num+1) if (x % 2 == 0)]

In [2]:
print(find_even_nums(8))
print(find_even_nums(4))
print(find_even_nums(2))

[2, 4, 6, 8]
[2, 4]
[2]

### ***112 Create a function that takes a list of strings and integers, and filters out the list so that it returns a list of integers only***
```
Examples:
---------

filter_list([1, 2, 3, "a", "b", 4])  ==> [1, 2, 3, 4]

filter_list(["A", 0, "Edabit", 1729, "python", 1729]) ==> [0, 1729, 1729]

filter_list(["Nothing", "here"]) ==> []
```

In [3]:
def filter_list(lst):
    return [x for x in lst if isinstance(x, int)]

In [4]:
print(filter_list([1, 2, 3, "a", "b", 4]))
print(filter_list(["A", 0, "Edabit", 1729, "python", 1729]))
print(filter_list(["Nothing", "here"]))

[1, 2, 3, 4]
[0, 1729, 1729]
[]

### ***113 Given a list of numbers, create a function which returns the list but with each element's index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the number at index 1 etc...***
```
Examples:
---------

add_indexes([0, 0, 0, 0, 0])  ==> [0, 1, 2, 3, 4]

add_indexes([1, 2, 3, 4, 5])  ==> [1, 3, 5, 7, 9]

add_indexes([5, 4, 3, 2, 1])  ==> [5, 5, 5, 5, 5]
```

In [5]:
def add_indexes(lst):
    return [(i + val) for i, val in enumerate(lst)]

In [6]:
print(add_indexes([0, 0, 0, 0, 0]))
print(add_indexes([1, 2, 3, 4, 5]))
print(add_indexes([5, 4, 3, 2, 1]))

[0, 1, 2, 3, 4]
[1, 3, 5, 7, 9]
[5, 5, 5, 5, 5]

### ***114 Create a function that takes the height and radius of a cone as arguments and returns the volume of the cone rounded to the nearest hundredth. See the resources tab for the formula***
```
Examples:
---------

cone_volume(3, 2) ==> 12.57

cone_volume(15, 6) ==> 565.49

cone_volume(18, 0) ==> 0
```

In [7]:
import math

def cone_volume(height, radius):
    if radius == 0:
        return 0
    volume = (1/3) * math.pi * (radius ** 2) * height
    return round(volume, 2)

In [8]:
print(cone_volume(3, 2))
print(cone_volume(15, 6))
print(cone_volume(18, 0))

12.57
565.49
0

### ***115 This Triangular number sequence is generated from a pattern of dots that form a triangle. The first 5 numbers of the sequence, or dots are: 1, 3, 6, 10, 15***
```
This means that the first triangle has just one dot, the second one has three dots, the third one has 6 dots and so on...

Write a function that gives the number of dots with its corresponding triangle number of the sequence

Examples:
---------

triangle(1) ==> 1

triangle(6) ==> 21

triangle(215) ==> 23220
```

In [9]:
def triangle(n):
    if (n < 1):
        return 0
    return n * (n + 1) // 2

In [10]:
print(triangle(1))
print(triangle(6))
print(triangle(215))

1
21
23220