### ***126 Create a function that takes a string and returns True or False, depending on whether the characters are in order or not***
```
Examples:
---------

is_in_order("abc")     ==> True
is_in_order("edabit")  ==> False
is_in_order("123")     ==> True
is_in_order("xyzz")    ==> True

Notes:
------

==> You don't have to handle empty string
```

In [1]:
def is_in_order(s):
    return s == "".join(sorted(s))

In [2]:
print(is_in_order("abc"))
print(is_in_order("edabit"))
print(is_in_order("123"))
print(is_in_order("xyzz"))

True
False
True
True

### ***127 Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetric or not. A number is symmetrical or not. A number is symmetrical when it is the same as its reverse***
```
Examples:
---------

is_symmetrical(7227)     ==> True
is_symmetrical(12567)    ==> False
is_symmetrical(44444444) ==> True
is_symmetrical(9939)     ==> False
is_symmetrical(1112111)  ==> True
```

In [3]:
def is_symmetrical(num):
    num_str = str(num)
    return num_str == num_str[::-1]

In [4]:
print(is_symmetrical(7227))
print(is_symmetrical(12567))
print(is_symmetrical(44444444))
print(is_symmetrical(9939))
print(is_symmetrical(1112111))

True
False
True
False
True

### ***128 Given a string of numbers seperated by a comma and space, return the product of the numbers***
```
Examples:
---------

multiply_nums("2, 3")           ==> 6
multiply_nums("1, 2, 3, 4")     ==> 24
multiply_nums("54, 75, 453, 0") ==> 0 
multiply_nums("10, -2")         ==> -20
```

In [5]:
def multiply_nums(nums_str):
    nums = [int(num) for num in nums_str.split(", ")]
    result = 1
    for num in nums:
        result *= num
    return result

In [6]:
print(multiply_nums("2, 3"))
print(multiply_nums("1, 2, 3, 4"))
print(multiply_nums("54, 75, 453, 0"))
print(multiply_nums("10, -2"))

6
24
0
-20

### ***129 Create a function that squares every digit of a number***
```
Examples:
---------

square_digits(9119)  ==> 811181
square_digits(2483)  ==> 416649
square_digits(3212)  ==> 9414

Notes:
------

==> The function receives an integer and must return an integer
```

In [7]:
def square_digits(n):
    num_str = str(n)
    result_str = ""
    for digit in num_str:
        squared_digit = int(digit) ** 2
        result_str += str(squared_digit)
    return int(result_str)

In [8]:
print(square_digits(9119))
print(square_digits(2483))
print(square_digits(3212))

811181
416649
9414

### ***130 Create a function that sorts a list and removes all duplicates items from it***
```
Examples:
---------

setify([1, 3, 3, 5, 5])      ==> [1, 3, 5]
setify([4, 4, 4, 4])         ==> [4]
setify([5, 7, 8, 9, 10, 15]) ==> [5, 7, 8, 9, 10, 15]
setify([3, 3, 3, 2, 1])      ==> [1, 2, 3]
```

In [9]:
def setify(lst):
    unique_set = set(sorted(lst))
    return list(unique_set)

In [10]:
print(setify([1, 3, 3, 5, 5]))
print(setify([4, 4, 4, 4]))
print(setify([5, 7, 8, 9, 10, 15]))
print(setify([3, 3, 3, 2, 1]))

[1, 3, 5]
[4]
[5, 7, 8, 9, 10, 15]
[1, 2, 3]