### ***Practice Questions:***

### (1) Write a query to find the total number of employees in each city
```
QUERY:

    SELECT city, COUNT(name) AS no_of_emp
    FROM employee
    GROUP BY city;
```
![](Images/Image01(video26).png)

### (2) Write a query to find the maximum salary of employees in each city in descending order
```
QUERY:

    SELECT city, MAx(salary) AS max_salary
    FROM employee
    GROUP BY city
    ORDER BY max_salary DESC;
```
![](Images/Image02(video26).png)

### (3) Write a query to display the department names alongside total count of employees in each department sorting the results by the total number of employees in descending order
```
QUERY:

    SELECT department, COUNT(id) AS total_employee
    FROM employee
    GROUP BY department
    ORDER BY total_employee DESC;
```
![](Images/Image03(video26).png)

### (4) Write a query to list the departments where the average salary is greater than 1200 also display the department name and the average salary
```
QUERY:

    SELECT department, AVG(salary) AS avg_sal
    FROM employee
    GROUP BY department
    HAVING avg_sal>1200;
```
![](Images/Image04(video26).png)

----

### ***The General Order of SQL commands:***

#### (1) `SELECT  :` Retrieve from the database
#### (2) `FROM    :` Identify the table
#### (3) `WHERE   :` Filter rows based on some conditions
#### (4) `GROUP BY:` Group rows that have the same values
#### (5) `HAVING  :` Filter groups based on some conditions
#### (6) `ORDER BY:` sort the result set either ascending or descending order
#### (7) `LIMIT   :` Limit the number of rows returned

----

### ***Joins in SQL:***

#### - Joins are used to combine rows from two or more tables based on a related or shared or common columns between them
#### - There are commonly four types of joins including `INNER JOIN`, `LEFT JOIN`, `RIGHT JOIN`, `FULL JOIN`, `SELF JOIN`, `CROSS JOIN`

### ***Is Foreign Key important for performing joins?***
#### - Joins can be performed based on any columns that establish a relationship between tables, not just FK constraints so its not necessary

----

### ***Inner Join:***

#### - It helps us in getting the rows that have matching values in both tables according to the given join condition
```
QUERY:

    SELECT columns
    FROM table1
    INNER JOIN table2
    ON table1.colName = table2.colName;
Example:
    SELECT customer.id, orders.ordername, customer.name
    FROM customer
    INNER JOIN orders
    ON customer.id = orders.id
```
![](Images/Image06(video29).png)
![](Images/Image07(video29).png)

----

### ***Left join/ Left outer join:***

#### - It is used to fetch all the records from the left table along with matched records from the right table
#### - If there are no matching records in the right table, NULL values are returned for the columns of the right table
```
QUERY:

    SELECT columns
    FROM table1
    LEFT JOIN table2
    ON table1.colName = table2.colName;
Example:
    SELECT *
    FROM customer
    LEFT JOIN orders
    ON customer.id = orders.id
```
#### `Left table :` the table specified before the left join keyword#### `right table:` the table specified after the left join keyword

![](Images/Image09(video30).png)