### ***Right Join/ Right Outer Join:***


#### - It is used to fetch all the records from the right table along with matched records from the left table
#### - If there are no matching records in the left table, NULL values are returned for the columns of the left table
```
QUERY:

    SELECT columns
    FROM table1
    RIGHT JOIN table2
    ON table1.colName = table2.colName;
```
#### - `Left table  :` the table specified before the RIGHT JOIN keyword
#### - `Right table :` the table specified after the RIGHT JOIN keyword
```
Example:

    SELECT *
    FROM customer
    RIGHT JOIN orders
    ON customer.id = orders.id;
```
![](Images/Image01(video31).png)
![](Images/Image02(video31).png)
![](Images/Image03(video31).png)
![](Images/Image04(video31).png)
![](Images/Image05(video31).png)
![](Images/Image06(video31).png)
![](Images/Image08(video31).png)

----

### ***Full Join/ Full Outer Join: (LJ + RJ)***


#### - It returns the matching rows of both left and right table and also includes all rows from both tables even if they don't have matching rows
#### - If there is no match, NULL values are returned for the columns of the missing table
#### - In MySQL, the syntax for a full join is different compared to other SQL databases like PostgreSQL or SQL Server
#### - MySQL does not support the FULL JOIN keyword directly. So we use a combination of LEFT JOIN, RIGHT JOIN and UNION to achieve the result

```
QUERY:

    SELECT columns
    FROM table1
    LEFT JOIN table2
    ON table1.colName = table2.ColName
    UNION
    SELECT columns
    FROM table1
    RIGHT JOIN table2
    ON table1.colName = table2.colName;
```
```
Example:

    SELECT *
    FROM customer
    LEFT JOIN orders
    ON customer.id=orders.id
    UNION
    SELECT *
    FROM customer
    RIGHT JOIN orders
    ON customer.id=orders.id;
```
![](Images/Image09(video32).png)
![](Images/Image10(video32).png)
![](Images/Image11(video32).png)

----

### ***Cross Join:(Cartesian Product)***

#### - It combines each row of the first table with every row of the second table
#### - It results a new table where the number of rows is equal to the product of the number of rows in each table(m*n)
```
QUERY:

    SELECT *
    FROM table1
    CROSS JOIN table2;
```
![](Images/Image12(video33).png)
![](Images/Image13(video33).png)
![](Images/Image14(video33).png)

----

### ***Exclusive Joins in SQL:***

#### - Exclusive joins are used when we want to retrieve data from two tables excluding matched rows. 
#### - They are part of outer joins or full outer join

### ***Types:***

#### (1) Left Exclusive JOIN
#### (2) Right Exclusive JOIN
#### (3) Full Exclusive JOIN

### ***Left Exclusive JOIN:***

#### - When we retrive records from the left table excluding the ones matching in both left and right table
```
QUERY:

    SELECT columns
    FROM table1
    LEFT JOIN table2
    ON table1.colName = table2.colName
    WHERE table2.colName IS NULL;
```
![](Images/Image15(video34).png)
![](Images/Image16(video34).png)

### ***Right Exclusive JOIN:***
#### - When we retrive records from the right table excluding the ones matching in both left and right table
```
QUERY:

    SELECT columns
    FROM table1
    RIGHT JOIN table2
    ON table1.colName = table2.colName
    WHERE table1.colName IS NULL;
```
![](Images/Image17(video34).png)
![](Images/Image18(video34).png)

### ***Full Exclusive JOIN:***

#### - When we retrive records from the right table and left table excluding the ones matching in both left and right table
```
QUERY:

    SELECT columns
    FROM table1
    LEFT JOIN table2
    ON table1.colName = table2.colName
    WHERE table2.colName IS NULL
    UNION
    SELECT columns
    FROM table1
    RIGHT JOIN table2
    ON table1.colName = table2.colName
    WHERE table1.colName IS NULL;
```
![](Images/Image19(video34).png)
![](Images/Image20(video34).png)

----

### ***Self Join:***

#### - A self join in SQL is a type of join where a table is joined with itself
#### - It is a type of inner join
```
QUERY:

    SELECT columns
    FROM table as t1
    JOIN table as t2
    ON t1.colName = t2.colName;

Here, t1 and t2 are aliases for the table, used to distinguish between the order of the rows
```
```
Example:

    SELECT s1.name as mentor_name,s2.name as name
    FROM student as s1
    JOIN student as s2
    WHERE s1.s_id = s2.mentor_id;
```
![](Images/Image21(video35).png)
![](Images/Image22(video35).png)
![](Images/Image23(video35).png)
![](Images/Image24(video35).png)
![](Images/Image25(video35).png)
![](Images/Image26(video35).png)
![](Images/Image27(video35).png)