In [1]:
import numpy as np
import pandas as pd

In [3]:
#df = pd.read_csv("D:\\DataScience\\ClassVideos\\02_PythonLibraries\\Track_01\\Tips.csv")
df = pd.read_csv("Tips.csv")
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [4]:
pd.set_option("display.max_rows",None)

In [5]:
#df = pd.read_csv("D:\\DataScience\\ClassVideos\\02_PythonLibraries\\Track_01\\Tips.csv")
df = pd.read_csv("Tips.csv")
df

     total_bill    tip     sex smoker   day    time  size
0         16.99   1.01  Female     No   Sun  Dinner     2
1         10.34   1.66    Male     No   Sun  Dinner     3
2         21.01   3.50    Male     No   Sun  Dinner     3
3         23.68   3.31    Male     No   Sun  Dinner     2
4         24.59   3.61  Female     No   Sun  Dinner     4
5         25.29   4.71    Male     No   Sun  Dinner     4
6          8.77   2.00    Male     No   Sun  Dinner     2
7         26.88   3.12    Male     No   Sun  Dinner     4
8         15.04   1.96    Male     No   Sun  Dinner     2
9         14.78   3.23    Male     No   Sun  Dinner     2
10        10.27   1.71    Male     No   Sun  Dinner     2
11        35.26   5.00  Female     No   Sun  Dinner     4
12        15.42   1.57    Male     No   Sun  Dinner     2
13        18.43   3.00    Male     No   Sun  Dinner     4
14        14.83   3.02  Female     No   Sun  Dinner     2
15        21.58   3.92    Male     No   Sun  Dinner     2
16        10.33   1.67  Female     No   Sun  Dinner     3
17        16.29   3.71    Male     No   Sun  Dinner     3
18        16.97   3.50  Female     No   Sun  Dinner     3
19        20.65   3.35    Male     No   Sat  Dinner     3
20        17.92   4.08    Male     No   Sat  Dinner     2
21        20.29   2.75  Female     No   Sat  Dinner     2
22        15.77   2.23  Female     No   Sat  Dinner     2
23        39.42   7.58    Male     No   Sat  Dinner     4
24        19.82   3.18    Male     No   Sat  Dinner     2
25        17.81   2.34    Male     No   Sat  Dinner     4
26        13.37   2.00    Male     No   Sat  Dinner     2
27        12.69   2.00    Male     No   Sat  Dinner     2
28        21.70   4.30    Male     No   Sat  Dinner     2
29        19.65   3.00  Female     No   Sat  Dinner     2
30         9.55   1.45    Male     No   Sat  Dinner     2
31        18.35   2.50    Male     No   Sat  Dinner     4
32        15.06   3.00  Female     No   Sat  Dinner     2
33        20.69   2.45  Female     No   Sat  Dinner     4
34        17.78   3.27    Male     No   Sat  Dinner     2
35        24.06   3.60    Male     No   Sat  Dinner     3
36        16.31   2.00    Male     No   Sat  Dinner     3
37        16.93   3.07  Female     No   Sat  Dinner     3
38        18.69   2.31    Male     No   Sat  Dinner     3
39        31.27   5.00    Male     No   Sat  Dinner     3
40        16.04   2.24    Male     No   Sat  Dinner     3
41        17.46   2.54    Male     No   Sun  Dinner     2
42        13.94   3.06    Male     No   Sun  Dinner     2
43         9.68   1.32    Male     No   Sun  Dinner     2
44        30.40   5.60    Male     No   Sun  Dinner     4
45        18.29   3.00    Male     No   Sun  Dinner     2
46        22.23   5.00    Male     No   Sun  Dinner     2
47        32.40   6.00    Male     No   Sun  Dinner     4
48        28.55   2.05    Male     No   Sun  Dinner     3
49        18.04   3.00    Male     No   Sun  Dinner     2
50        12.54   2.50    Male     No   Sun  Dinner     2
51        10.29   2.60  Female     No   Sun  Dinner     2
52        34.81   5.20  Female     No   Sun  Dinner     4
53         9.94   1.56    Male     No   Sun  Dinner     2
54        25.56   4.34    Male     No   Sun  Dinner     4
55        19.49   3.51    Male     No   Sun  Dinner     2
56        38.01   3.00    Male    Yes   Sat  Dinner     4
57        26.41   1.50  Female     No   Sat  Dinner     2
58        11.24   1.76    Male    Yes   Sat  Dinner     2
59        48.27   6.73    Male     No   Sat  Dinner     4
60        20.29   3.21    Male    Yes   Sat  Dinner     2
61        13.81   2.00    Male    Yes   Sat  Dinner     2
62        11.02   1.98    Male    Yes   Sat  Dinner     2
63        18.29   3.76    Male    Yes   Sat  Dinner     4
64        17.59   2.64    Male     No   Sat  Dinner     3
65        20.08   3.15    Male     No   Sat  Dinner     3
66        16.45   2.47  Female     No   Sat  Dinner     2
67         3.07   1.00  Female    Yes   Sat  Dinner     1
68        20.23   2.01    Male     No   Sat  Dinner     2
69        15.01   2.09    Male    Yes   Sat  Dinner     2
70        12.02   1.97    Male     No   Sat  Dinner     2
71        17.07   3.00  Female     No   Sat  Dinner     3
72        26.86   3.14  Female    Yes   Sat  Dinner     2
73        25.28   5.00  Female    Yes   Sat  Dinner     2
74        14.73   2.20  Female     No   Sat  Dinner     2
75        10.51   1.25    Male     No   Sat  Dinner     2
76        17.92   3.08    Male    Yes   Sat  Dinner     2
77        27.20   4.00    Male     No  Thur   Lunch     4
78        22.76   3.00    Male     No  Thur   Lunch     2
79        17.29   2.71    Male     No  Thur   Lunch     2
80        19.44   3.00    Male    Yes  Thur   Lunch     2
81        16.66   3.40    Male     No  Thur   Lunch     2
82        10.07   1.83  Female     No  Thur   Lunch     1
83        32.68   5.00    Male    Yes  Thur   Lunch     2
84        15.98   2.03    Male     No  Thur   Lunch     2
85        34.83   5.17  Female     No  Thur   Lunch     4
86        13.03   2.00    Male     No  Thur   Lunch     2
87        18.28   4.00    Male     No  Thur   Lunch     2
88        24.71   5.85    Male     No  Thur   Lunch     2
89        21.16   3.00    Male     No  Thur   Lunch     2
90        28.97   3.00    Male    Yes   Fri  Dinner     2
91        22.49   3.50    Male     No   Fri  Dinner     2
92         5.75   1.00  Female    Yes   Fri  Dinner     2
93        16.32   4.30  Female    Yes   Fri  Dinner     2
94        22.75   3.25  Female     No   Fri  Dinner     2
95        40.17   4.73    Male    Yes   Fri  Dinner     4
96        27.28   4.00    Male    Yes   Fri  Dinner     2
97        12.03   1.50    Male    Yes   Fri  Dinner     2
98        21.01   3.00    Male    Yes   Fri  Dinner     2
99        12.46   1.50    Male     No   Fri  Dinner     2
100       11.35   2.50  Female    Yes   Fri  Dinner     2
101       15.38   3.00  Female    Yes   Fri  Dinner     2
102       44.30   2.50  Female    Yes   Sat  Dinner     3
103       22.42   3.48  Female    Yes   Sat  Dinner     2
104       20.92   4.08  Female     No   Sat  Dinner     2
105       15.36   1.64    Male    Yes   Sat  Dinner     2
106       20.49   4.06    Male    Yes   Sat  Dinner     2
107       25.21   4.29    Male    Yes   Sat  Dinner     2
108       18.24   3.76    Male     No   Sat  Dinner     2
109       14.31   4.00  Female    Yes   Sat  Dinner     2
110       14.00   3.00    Male     No   Sat  Dinner     2
111        7.25   1.00  Female     No   Sat  Dinner     1
112       38.07   4.00    Male     No   Sun  Dinner     3
113       23.95   2.55    Male     No   Sun  Dinner     2
114       25.71   4.00  Female     No   Sun  Dinner     3
115       17.31   3.50  Female     No   Sun  Dinner     2
116       29.93   5.07    Male     No   Sun  Dinner     4
117       10.65   1.50  Female     No  Thur   Lunch     2
118       12.43   1.80  Female     No  Thur   Lunch     2
119       24.08   2.92  Female     No  Thur   Lunch     4
120       11.69   2.31    Male     No  Thur   Lunch     2
121       13.42   1.68  Female     No  Thur   Lunch     2
122       14.26   2.50    Male     No  Thur   Lunch     2
123       15.95   2.00    Male     No  Thur   Lunch     2
124       12.48   2.52  Female     No  Thur   Lunch     2
125       29.80   4.20  Female     No  Thur   Lunch     6
126        8.52   1.48    Male     No  Thur   Lunch     2
127       14.52   2.00  Female     No  Thur   Lunch     2
128       11.38   2.00  Female     No  Thur   Lunch     2
129       22.82   2.18    Male     No  Thur   Lunch     3
130       19.08   1.50    Male     No  Thur   Lunch     2
131       20.27   2.83  Female     No  Thur   Lunch     2
132       11.17   1.50  Female     No  Thur   Lunch     2
133       12.26   2.00  Female     No  Thur   Lunch     2
134       18.26   3.25  Female     No  Thur   Lunch     2
135        8.51   1.25  Female     No  Thur   Lunch     2
136       10.33   2.00  Female     No  Thur   Lunch     2
137       14.15   2.00  Female     No  Thur   Lunch     2
138       16.00   2.00    Male    Yes  Thur   Lunch     2
139       13.16   2.75  Female     No  Thur   Lunch     2
140       17.47   3.50  Female     No  Thur   Lunch     2
141       34.30   6.70    Male     No  Thur   Lunch     6
142       41.19   5.00    Male     No  Thur   Lunch     5
143       27.05   5.00  Female     No  Thur   Lunch     6
144       16.43   2.30  Female     No  Thur   Lunch     2
145        8.35   1.50  Female     No  Thur   Lunch     2
146       18.64   1.36  Female     No  Thur   Lunch     3
147       11.87   1.63  Female     No  Thur   Lunch     2
148        9.78   1.73    Male     No  Thur   Lunch     2
149        7.51   2.00    Male     No  Thur   Lunch     2
150       14.07   2.50    Male     No   Sun  Dinner     2
151       13.13   2.00    Male     No   Sun  Dinner     2
152       17.26   2.74    Male     No   Sun  Dinner     3
153       24.55   2.00    Male     No   Sun  Dinner     4
154       19.77   2.00    Male     No   Sun  Dinner     4
155       29.85   5.14  Female     No   Sun  Dinner     5
156       48.17   5.00    Male     No   Sun  Dinner     6
157       25.00   3.75  Female     No   Sun  Dinner     4
158       13.39   2.61  Female     No   Sun  Dinner     2
159       16.49   2.00    Male     No   Sun  Dinner     4
160       21.50   3.50    Male     No   Sun  Dinner     4
161       12.66   2.50    Male     No   Sun  Dinner     2
162       16.21   2.00  Female     No   Sun  Dinner     3
163       13.81   2.00    Male     No   Sun  Dinner     2
164       17.51   3.00  Female    Yes   Sun  Dinner     2
165       24.52   3.48    Male     No   Sun  Dinner     3
166       20.76   2.24    Male     No   Sun  Dinner     2
167       31.71   4.50    Male     No   Sun  Dinner     4
168       10.59   1.61  Female    Yes   Sat  Dinner     2
169       10.63   2.00  Female    Yes   Sat  Dinner     2
170       50.81  10.00    Male    Yes   Sat  Dinner     3
171       15.81   3.16    Male    Yes   Sat  Dinner     2
172        7.25   5.15    Male    Yes   Sun  Dinner     2
173       31.85   3.18    Male    Yes   Sun  Dinner     2
174       16.82   4.00    Male    Yes   Sun  Dinner     2
175       32.90   3.11    Male    Yes   Sun  Dinner     2
176       17.89   2.00    Male    Yes   Sun  Dinner     2
177       14.48   2.00    Male    Yes   Sun  Dinner     2
178        9.60   4.00  Female    Yes   Sun  Dinner     2
179       34.63   3.55    Male    Yes   Sun  Dinner     2
180       34.65   3.68    Male    Yes   Sun  Dinner     4
181       23.33   5.65    Male    Yes   Sun  Dinner     2
182       45.35   3.50    Male    Yes   Sun  Dinner     3
183       23.17   6.50    Male    Yes   Sun  Dinner     4
184       40.55   3.00    Male    Yes   Sun  Dinner     2
185       20.69   5.00    Male     No   Sun  Dinner     5
186       20.90   3.50  Female    Yes   Sun  Dinner     3
187       30.46   2.00    Male    Yes   Sun  Dinner     5
188       18.15   3.50  Female    Yes   Sun  Dinner     3
189       23.10   4.00    Male    Yes   Sun  Dinner     3
190       15.69   1.50    Male    Yes   Sun  Dinner     2
191       19.81   4.19  Female    Yes  Thur   Lunch     2
192       28.44   2.56    Male    Yes  Thur   Lunch     2
193       15.48   2.02    Male    Yes  Thur   Lunch     2
194       16.58   4.00    Male    Yes  Thur   Lunch     2
195        7.56   1.44    Male     No  Thur   Lunch     2
196       10.34   2.00    Male    Yes  Thur   Lunch     2
197       43.11   5.00  Female    Yes  Thur   Lunch     4
198       13.00   2.00  Female    Yes  Thur   Lunch     2
199       13.51   2.00    Male    Yes  Thur   Lunch     2
200       18.71   4.00    Male    Yes  Thur   Lunch     3
201       12.74   2.01  Female    Yes  Thur   Lunch     2
202       13.00   2.00  Female    Yes  Thur   Lunch     2
203       16.40   2.50  Female    Yes  Thur   Lunch     2
204       20.53   4.00    Male    Yes  Thur   Lunch     4
205       16.47   3.23  Female    Yes  Thur   Lunch     3
206       26.59   3.41    Male    Yes   Sat  Dinner     3
207       38.73   3.00    Male    Yes   Sat  Dinner     4
208       24.27   2.03    Male    Yes   Sat  Dinner     2
209       12.76   2.23  Female    Yes   Sat  Dinner     2
210       30.06   2.00    Male    Yes   Sat  Dinner     3
211       25.89   5.16    Male    Yes   Sat  Dinner     4
212       48.33   9.00    Male     No   Sat  Dinner     4
213       13.27   2.50  Female    Yes   Sat  Dinner     2
214       28.17   6.50  Female    Yes   Sat  Dinner     3
215       12.90   1.10  Female    Yes   Sat  Dinner     2
216       28.15   3.00    Male    Yes   Sat  Dinner     5
217       11.59   1.50    Male    Yes   Sat  Dinner     2
218        7.74   1.44    Male    Yes   Sat  Dinner     2
219       30.14   3.09  Female    Yes   Sat  Dinner     4
220       12.16   2.20    Male    Yes   Fri   Lunch     2
221       13.42   3.48  Female    Yes   Fri   Lunch     2
222        8.58   1.92    Male    Yes   Fri   Lunch     1
223       15.98   3.00  Female     No   Fri   Lunch     3
224       13.42   1.58    Male    Yes   Fri   Lunch     2
225       16.27   2.50  Female    Yes   Fri   Lunch     2
226       10.09   2.00  Female    Yes   Fri   Lunch     2
227       20.45   3.00    Male     No   Sat  Dinner     4
228       13.28   2.72    Male     No   Sat  Dinner     2
229       22.12   2.88  Female    Yes   Sat  Dinner     2
230       24.01   2.00    Male    Yes   Sat  Dinner     4
231       15.69   3.00    Male    Yes   Sat  Dinner     3
232       11.61   3.39    Male     No   Sat  Dinner     2
233       10.77   1.47    Male     No   Sat  Dinner     2
234       15.53   3.00    Male    Yes   Sat  Dinner     2
235       10.07   1.25    Male     No   Sat  Dinner     2
236       12.60   1.00    Male    Yes   Sat  Dinner     2
237       32.83   1.17    Male    Yes   Sat  Dinner     2
238       35.83   4.67  Female     No   Sat  Dinner     3
239       29.03   5.92    Male     No   Sat  Dinner     3
240       27.18   2.00  Female    Yes   Sat  Dinner     2
241       22.67   2.00    Male    Yes   Sat  Dinner     2
242       17.82   1.75    Male     No   Sat  Dinner     2
243       18.78   3.00  Female     No  Thur  Dinner     2

In [6]:
#df = pd.read_csv("D:\\DataScience\\ClassVideos\\02_PythonLibraries\\Track_01\\Tips.csv")
df = pd.read_csv("Tips.csv")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [7]:
df.head(10)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2
7       26.88  3.12    Male     No  Sun  Dinner     4
8       15.04  1.96    Male     No  Sun  Dinner     2
9       14.78  3.23    Male     No  Sun  Dinner     2

In [8]:
df.tail()

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [9]:
df.tail(10)

     total_bill   tip     sex smoker   day    time  size
234       15.53  3.00    Male    Yes   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [10]:
df.shape

(244, 7)

In [11]:
df.size

1708

In [12]:
df.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [13]:
df.keys()

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [14]:
df.dtypes

total_bill    float64
tip           float64
sex            object
smoker         object
day            object
time           object
size            int64
dtype: object

In [15]:
df['total_bill'].unique()

array([16.99, 10.34, 21.01, 23.68, 24.59, 25.29,  8.77, 26.88, 15.04,
       14.78, 10.27, 35.26, 15.42, 18.43, 14.83, 21.58, 10.33, 16.29,
       16.97, 20.65, 17.92, 20.29, 15.77, 39.42, 19.82, 17.81, 13.37,
       12.69, 21.7 , 19.65,  9.55, 18.35, 15.06, 20.69, 17.78, 24.06,
       16.31, 16.93, 18.69, 31.27, 16.04, 17.46, 13.94,  9.68, 30.4 ,
       18.29, 22.23, 32.4 , 28.55, 18.04, 12.54, 10.29, 34.81,  9.94,
       25.56, 19.49, 38.01, 26.41, 11.24, 48.27, 13.81, 11.02, 17.59,
       20.08, 16.45,  3.07, 20.23, 15.01, 12.02, 17.07, 26.86, 25.28,
       14.73, 10.51, 27.2 , 22.76, 17.29, 19.44, 16.66, 10.07, 32.68,
       15.98, 34.83, 13.03, 18.28, 24.71, 21.16, 28.97, 22.49,  5.75,
       16.32, 22.75, 40.17, 27.28, 12.03, 12.46, 11.35, 15.38, 44.3 ,
       22.42, 20.92, 15.36, 20.49, 25.21, 18.24, 14.31, 14.  ,  7.25,
       38.07, 23.95, 25.71, 17.31, 29.93, 10.65, 12.43, 24.08, 11.69,
       13.42, 14.26, 15.95, 12.48, 29.8 ,  8.52, 14.52, 11.38, 22.82,
       19.08, 20.27, 11.17, 12.26, 18.26,  8.51, 14.15, 16.  , 13.16,
       17.47, 34.3 , 41.19, 27.05, 16.43,  8.35, 18.64, 11.87,  9.78,
        7.51, 14.07, 13.13, 17.26, 24.55, 19.77, 29.85, 48.17, 25.  ,
       13.39, 16.49, 21.5 , 12.66, 16.21, 17.51, 24.52, 20.76, 31.71,
       10.59, 10.63, 50.81, 15.81, 31.85, 16.82, 32.9 , 17.89, 14.48,
        9.6 , 34.63, 34.65, 23.33, 45.35, 23.17, 40.55, 20.9 , 30.46,
       18.15, 23.1 , 15.69, 19.81, 28.44, 15.48, 16.58,  7.56, 43.11,
       13.  , 13.51, 18.71, 12.74, 16.4 , 20.53, 16.47, 26.59, 38.73,
       24.27, 12.76, 30.06, 25.89, 48.33, 13.27, 28.17, 12.9 , 28.15,
       11.59,  7.74, 30.14, 12.16,  8.58, 16.27, 10.09, 20.45, 13.28,
       22.12, 24.01, 11.61, 10.77, 15.53, 12.6 , 32.83, 35.83, 29.03,
       27.18, 22.67, 17.82, 18.78])

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB

In [16]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [17]:
df = df.rename(columns = {'sex':'gender', 'size': 'no_of_members'})
df.head()

   total_bill   tip  gender smoker  day    time  no_of_members
0       16.99  1.01  Female     No  Sun  Dinner              2
1       10.34  1.66    Male     No  Sun  Dinner              3
2       21.01  3.50    Male     No  Sun  Dinner              3
3       23.68  3.31    Male     No  Sun  Dinner              2
4       24.59  3.61  Female     No  Sun  Dinner              4

In [18]:
df.iloc[0]

total_bill        16.99
tip                1.01
gender           Female
smoker               No
day                 Sun
time             Dinner
no_of_members         2
Name: 0, dtype: object

In [19]:
df.iloc[[0,1]]

   total_bill   tip  gender smoker  day    time  no_of_members
0       16.99  1.01  Female     No  Sun  Dinner              2
1       10.34  1.66    Male     No  Sun  Dinner              3

In [20]:
df.iloc[0:3]

   total_bill   tip  gender smoker  day    time  no_of_members
0       16.99  1.01  Female     No  Sun  Dinner              2
1       10.34  1.66    Male     No  Sun  Dinner              3
2       21.01  3.50    Male     No  Sun  Dinner              3

In [21]:
df.iloc[0,0]

16.99

In [22]:
df.iloc[[0,1],[0,1,2]]

   total_bill   tip  gender
0       16.99  1.01  Female
1       10.34  1.66    Male

In [23]:
df.iloc[0:3,0:7]

   total_bill   tip  gender smoker  day    time  no_of_members
0       16.99  1.01  Female     No  Sun  Dinner              2
1       10.34  1.66    Male     No  Sun  Dinner              3
2       21.01  3.50    Male     No  Sun  Dinner              3

In [24]:
df.loc[0]

total_bill        16.99
tip                1.01
gender           Female
smoker               No
day                 Sun
time             Dinner
no_of_members         2
Name: 0, dtype: object

In [25]:
df.loc[[0,1]]

   total_bill   tip  gender smoker  day    time  no_of_members
0       16.99  1.01  Female     No  Sun  Dinner              2
1       10.34  1.66    Male     No  Sun  Dinner              3

In [26]:
df.loc[0:2]

   total_bill   tip  gender smoker  day    time  no_of_members
0       16.99  1.01  Female     No  Sun  Dinner              2
1       10.34  1.66    Male     No  Sun  Dinner              3
2       21.01  3.50    Male     No  Sun  Dinner              3

In [27]:
df.loc[0,'total_bill']

16.99

In [28]:
df.loc[[0,1],['total_bill', 'tip', 'gender']]

   total_bill   tip  gender
0       16.99  1.01  Female
1       10.34  1.66    Male

In [29]:
df.loc[0:2,'total_bill']

0    16.99
1    10.34
2    21.01
Name: total_bill, dtype: float64

In [30]:
df.loc[0:2,['total_bill']]

   total_bill
0       16.99
1       10.34
2       21.01

In [31]:
df.columns

Index(['total_bill', 'tip', 'gender', 'smoker', 'day', 'time',
       'no_of_members'],
      dtype='object')

In [32]:
df.loc[0:2,['total_bill', 'tip', 'gender', 'smoker', 'day', 'time', 'no_of_members']]

   total_bill   tip  gender smoker  day    time  no_of_members
0       16.99  1.01  Female     No  Sun  Dinner              2
1       10.34  1.66    Male     No  Sun  Dinner              3
2       21.01  3.50    Male     No  Sun  Dinner              3

# To select first column of all records of dataframe:

In [33]:
df.iloc[:, 0]

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
5      25.29
6       8.77
7      26.88
8      15.04
9      14.78
10     10.27
11     35.26
12     15.42
13     18.43
14     14.83
15     21.58
16     10.33
17     16.29
18     16.97
19     20.65
20     17.92
21     20.29
22     15.77
23     39.42
24     19.82
25     17.81
26     13.37
27     12.69
28     21.70
29     19.65
30      9.55
31     18.35
32     15.06
33     20.69
34     17.78
35     24.06
36     16.31
37     16.93
38     18.69
39     31.27
40     16.04
41     17.46
42     13.94
43      9.68
44     30.40
45     18.29
46     22.23
47     32.40
48     28.55
49     18.04
50     12.54
51     10.29
52     34.81
53      9.94
54     25.56
55     19.49
56     38.01
57     26.41
58     11.24
59     48.27
60     20.29
61     13.81
62     11.02
63     18.29
64     17.59
65     20.08
66     16.45
67      3.07
68     20.23
69     15.01
70     12.02
71     17.07
72     26.86
73     25.28
74     14.73
75     10.51
76     17.92
77     27.20
78     22.76
79     17.29
80     19.44
81     16.66
82     10.07
83     32.68
84     15.98
85     34.83
86     13.03
87     18.28
88     24.71
89     21.16
90     28.97
91     22.49
92      5.75
93     16.32
94     22.75
95     40.17
96     27.28
97     12.03
98     21.01
99     12.46
100    11.35
101    15.38
102    44.30
103    22.42
104    20.92
105    15.36
106    20.49
107    25.21
108    18.24
109    14.31
110    14.00
111     7.25
112    38.07
113    23.95
114    25.71
115    17.31
116    29.93
117    10.65
118    12.43
119    24.08
120    11.69
121    13.42
122    14.26
123    15.95
124    12.48
125    29.80
126     8.52
127    14.52
128    11.38
129    22.82
130    19.08
131    20.27
132    11.17
133    12.26
134    18.26
135     8.51
136    10.33
137    14.15
138    16.00
139    13.16
140    17.47
141    34.30
142    41.19
143    27.05
144    16.43
145     8.35
146    18.64
147    11.87
148     9.78
149     7.51
150    14.07
151    13.13
152    17.26
153    24.55
154    19.77
155    29.85
156    48.17
157    25.00
158    13.39
159    16.49
160    21.50
161    12.66
162    16.21
163    13.81
164    17.51
165    24.52
166    20.76
167    31.71
168    10.59
169    10.63
170    50.81
171    15.81
172     7.25
173    31.85
174    16.82
175    32.90
176    17.89
177    14.48
178     9.60
179    34.63
180    34.65
181    23.33
182    45.35
183    23.17
184    40.55
185    20.69
186    20.90
187    30.46
188    18.15
189    23.10
190    15.69
191    19.81
192    28.44
193    15.48
194    16.58
195     7.56
196    10.34
197    43.11
198    13.00
199    13.51
200    18.71
201    12.74
202    13.00
203    16.40
204    20.53
205    16.47
206    26.59
207    38.73
208    24.27
209    12.76
210    30.06
211    25.89
212    48.33
213    13.27
214    28.17
215    12.90
216    28.15
217    11.59
218     7.74
219    30.14
220    12.16
221    13.42
222     8.58
223    15.98
224    13.42
225    16.27
226    10.09
227    20.45
228    13.28
229    22.12
230    24.01
231    15.69
232    11.61
233    10.77
234    15.53
235    10.07
236    12.60
237    32.83
238    35.83
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, dtype: float64

In [34]:
df.loc[:,'total_bill']

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
5      25.29
6       8.77
7      26.88
8      15.04
9      14.78
10     10.27
11     35.26
12     15.42
13     18.43
14     14.83
15     21.58
16     10.33
17     16.29
18     16.97
19     20.65
20     17.92
21     20.29
22     15.77
23     39.42
24     19.82
25     17.81
26     13.37
27     12.69
28     21.70
29     19.65
30      9.55
31     18.35
32     15.06
33     20.69
34     17.78
35     24.06
36     16.31
37     16.93
38     18.69
39     31.27
40     16.04
41     17.46
42     13.94
43      9.68
44     30.40
45     18.29
46     22.23
47     32.40
48     28.55
49     18.04
50     12.54
51     10.29
52     34.81
53      9.94
54     25.56
55     19.49
56     38.01
57     26.41
58     11.24
59     48.27
60     20.29
61     13.81
62     11.02
63     18.29
64     17.59
65     20.08
66     16.45
67      3.07
68     20.23
69     15.01
70     12.02
71     17.07
72     26.86
73     25.28
74     14.73
75     10.51
76     17.92
77     27.20
78     22.76
79     17.29
80     19.44
81     16.66
82     10.07
83     32.68
84     15.98
85     34.83
86     13.03
87     18.28
88     24.71
89     21.16
90     28.97
91     22.49
92      5.75
93     16.32
94     22.75
95     40.17
96     27.28
97     12.03
98     21.01
99     12.46
100    11.35
101    15.38
102    44.30
103    22.42
104    20.92
105    15.36
106    20.49
107    25.21
108    18.24
109    14.31
110    14.00
111     7.25
112    38.07
113    23.95
114    25.71
115    17.31
116    29.93
117    10.65
118    12.43
119    24.08
120    11.69
121    13.42
122    14.26
123    15.95
124    12.48
125    29.80
126     8.52
127    14.52
128    11.38
129    22.82
130    19.08
131    20.27
132    11.17
133    12.26
134    18.26
135     8.51
136    10.33
137    14.15
138    16.00
139    13.16
140    17.47
141    34.30
142    41.19
143    27.05
144    16.43
145     8.35
146    18.64
147    11.87
148     9.78
149     7.51
150    14.07
151    13.13
152    17.26
153    24.55
154    19.77
155    29.85
156    48.17
157    25.00
158    13.39
159    16.49
160    21.50
161    12.66
162    16.21
163    13.81
164    17.51
165    24.52
166    20.76
167    31.71
168    10.59
169    10.63
170    50.81
171    15.81
172     7.25
173    31.85
174    16.82
175    32.90
176    17.89
177    14.48
178     9.60
179    34.63
180    34.65
181    23.33
182    45.35
183    23.17
184    40.55
185    20.69
186    20.90
187    30.46
188    18.15
189    23.10
190    15.69
191    19.81
192    28.44
193    15.48
194    16.58
195     7.56
196    10.34
197    43.11
198    13.00
199    13.51
200    18.71
201    12.74
202    13.00
203    16.40
204    20.53
205    16.47
206    26.59
207    38.73
208    24.27
209    12.76
210    30.06
211    25.89
212    48.33
213    13.27
214    28.17
215    12.90
216    28.15
217    11.59
218     7.74
219    30.14
220    12.16
221    13.42
222     8.58
223    15.98
224    13.42
225    16.27
226    10.09
227    20.45
228    13.28
229    22.12
230    24.01
231    15.69
232    11.61
233    10.77
234    15.53
235    10.07
236    12.60
237    32.83
238    35.83
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, dtype: float64

In [35]:
df.total_bill

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
5      25.29
6       8.77
7      26.88
8      15.04
9      14.78
10     10.27
11     35.26
12     15.42
13     18.43
14     14.83
15     21.58
16     10.33
17     16.29
18     16.97
19     20.65
20     17.92
21     20.29
22     15.77
23     39.42
24     19.82
25     17.81
26     13.37
27     12.69
28     21.70
29     19.65
30      9.55
31     18.35
32     15.06
33     20.69
34     17.78
35     24.06
36     16.31
37     16.93
38     18.69
39     31.27
40     16.04
41     17.46
42     13.94
43      9.68
44     30.40
45     18.29
46     22.23
47     32.40
48     28.55
49     18.04
50     12.54
51     10.29
52     34.81
53      9.94
54     25.56
55     19.49
56     38.01
57     26.41
58     11.24
59     48.27
60     20.29
61     13.81
62     11.02
63     18.29
64     17.59
65     20.08
66     16.45
67      3.07
68     20.23
69     15.01
70     12.02
71     17.07
72     26.86
73     25.28
74     14.73
75     10.51
76     17.92
77     27.20
78     22.76
79     17.29
80     19.44
81     16.66
82     10.07
83     32.68
84     15.98
85     34.83
86     13.03
87     18.28
88     24.71
89     21.16
90     28.97
91     22.49
92      5.75
93     16.32
94     22.75
95     40.17
96     27.28
97     12.03
98     21.01
99     12.46
100    11.35
101    15.38
102    44.30
103    22.42
104    20.92
105    15.36
106    20.49
107    25.21
108    18.24
109    14.31
110    14.00
111     7.25
112    38.07
113    23.95
114    25.71
115    17.31
116    29.93
117    10.65
118    12.43
119    24.08
120    11.69
121    13.42
122    14.26
123    15.95
124    12.48
125    29.80
126     8.52
127    14.52
128    11.38
129    22.82
130    19.08
131    20.27
132    11.17
133    12.26
134    18.26
135     8.51
136    10.33
137    14.15
138    16.00
139    13.16
140    17.47
141    34.30
142    41.19
143    27.05
144    16.43
145     8.35
146    18.64
147    11.87
148     9.78
149     7.51
150    14.07
151    13.13
152    17.26
153    24.55
154    19.77
155    29.85
156    48.17
157    25.00
158    13.39
159    16.49
160    21.50
161    12.66
162    16.21
163    13.81
164    17.51
165    24.52
166    20.76
167    31.71
168    10.59
169    10.63
170    50.81
171    15.81
172     7.25
173    31.85
174    16.82
175    32.90
176    17.89
177    14.48
178     9.60
179    34.63
180    34.65
181    23.33
182    45.35
183    23.17
184    40.55
185    20.69
186    20.90
187    30.46
188    18.15
189    23.10
190    15.69
191    19.81
192    28.44
193    15.48
194    16.58
195     7.56
196    10.34
197    43.11
198    13.00
199    13.51
200    18.71
201    12.74
202    13.00
203    16.40
204    20.53
205    16.47
206    26.59
207    38.73
208    24.27
209    12.76
210    30.06
211    25.89
212    48.33
213    13.27
214    28.17
215    12.90
216    28.15
217    11.59
218     7.74
219    30.14
220    12.16
221    13.42
222     8.58
223    15.98
224    13.42
225    16.27
226    10.09
227    20.45
228    13.28
229    22.12
230    24.01
231    15.69
232    11.61
233    10.77
234    15.53
235    10.07
236    12.60
237    32.83
238    35.83
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, dtype: float64

In [36]:
df['total_bill']

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
5      25.29
6       8.77
7      26.88
8      15.04
9      14.78
10     10.27
11     35.26
12     15.42
13     18.43
14     14.83
15     21.58
16     10.33
17     16.29
18     16.97
19     20.65
20     17.92
21     20.29
22     15.77
23     39.42
24     19.82
25     17.81
26     13.37
27     12.69
28     21.70
29     19.65
30      9.55
31     18.35
32     15.06
33     20.69
34     17.78
35     24.06
36     16.31
37     16.93
38     18.69
39     31.27
40     16.04
41     17.46
42     13.94
43      9.68
44     30.40
45     18.29
46     22.23
47     32.40
48     28.55
49     18.04
50     12.54
51     10.29
52     34.81
53      9.94
54     25.56
55     19.49
56     38.01
57     26.41
58     11.24
59     48.27
60     20.29
61     13.81
62     11.02
63     18.29
64     17.59
65     20.08
66     16.45
67      3.07
68     20.23
69     15.01
70     12.02
71     17.07
72     26.86
73     25.28
74     14.73
75     10.51
76     17.92
77     27.20
78     22.76
79     17.29
80     19.44
81     16.66
82     10.07
83     32.68
84     15.98
85     34.83
86     13.03
87     18.28
88     24.71
89     21.16
90     28.97
91     22.49
92      5.75
93     16.32
94     22.75
95     40.17
96     27.28
97     12.03
98     21.01
99     12.46
100    11.35
101    15.38
102    44.30
103    22.42
104    20.92
105    15.36
106    20.49
107    25.21
108    18.24
109    14.31
110    14.00
111     7.25
112    38.07
113    23.95
114    25.71
115    17.31
116    29.93
117    10.65
118    12.43
119    24.08
120    11.69
121    13.42
122    14.26
123    15.95
124    12.48
125    29.80
126     8.52
127    14.52
128    11.38
129    22.82
130    19.08
131    20.27
132    11.17
133    12.26
134    18.26
135     8.51
136    10.33
137    14.15
138    16.00
139    13.16
140    17.47
141    34.30
142    41.19
143    27.05
144    16.43
145     8.35
146    18.64
147    11.87
148     9.78
149     7.51
150    14.07
151    13.13
152    17.26
153    24.55
154    19.77
155    29.85
156    48.17
157    25.00
158    13.39
159    16.49
160    21.50
161    12.66
162    16.21
163    13.81
164    17.51
165    24.52
166    20.76
167    31.71
168    10.59
169    10.63
170    50.81
171    15.81
172     7.25
173    31.85
174    16.82
175    32.90
176    17.89
177    14.48
178     9.60
179    34.63
180    34.65
181    23.33
182    45.35
183    23.17
184    40.55
185    20.69
186    20.90
187    30.46
188    18.15
189    23.10
190    15.69
191    19.81
192    28.44
193    15.48
194    16.58
195     7.56
196    10.34
197    43.11
198    13.00
199    13.51
200    18.71
201    12.74
202    13.00
203    16.40
204    20.53
205    16.47
206    26.59
207    38.73
208    24.27
209    12.76
210    30.06
211    25.89
212    48.33
213    13.27
214    28.17
215    12.90
216    28.15
217    11.59
218     7.74
219    30.14
220    12.16
221    13.42
222     8.58
223    15.98
224    13.42
225    16.27
226    10.09
227    20.45
228    13.28
229    22.12
230    24.01
231    15.69
232    11.61
233    10.77
234    15.53
235    10.07
236    12.60
237    32.83
238    35.83
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, dtype: float64

In [37]:
df[['total_bill']]

     total_bill
0         16.99
1         10.34
2         21.01
3         23.68
4         24.59
5         25.29
6          8.77
7         26.88
8         15.04
9         14.78
10        10.27
11        35.26
12        15.42
13        18.43
14        14.83
15        21.58
16        10.33
17        16.29
18        16.97
19        20.65
20        17.92
21        20.29
22        15.77
23        39.42
24        19.82
25        17.81
26        13.37
27        12.69
28        21.70
29        19.65
30         9.55
31        18.35
32        15.06
33        20.69
34        17.78
35        24.06
36        16.31
37        16.93
38        18.69
39        31.27
40        16.04
41        17.46
42        13.94
43         9.68
44        30.40
45        18.29
46        22.23
47        32.40
48        28.55
49        18.04
50        12.54
51        10.29
52        34.81
53         9.94
54        25.56
55        19.49
56        38.01
57        26.41
58        11.24
59        48.27
60        20.29
61        13.81
62        11.02
63        18.29
64        17.59
65        20.08
66        16.45
67         3.07
68        20.23
69        15.01
70        12.02
71        17.07
72        26.86
73        25.28
74        14.73
75        10.51
76        17.92
77        27.20
78        22.76
79        17.29
80        19.44
81        16.66
82        10.07
83        32.68
84        15.98
85        34.83
86        13.03
87        18.28
88        24.71
89        21.16
90        28.97
91        22.49
92         5.75
93        16.32
94        22.75
95        40.17
96        27.28
97        12.03
98        21.01
99        12.46
100       11.35
101       15.38
102       44.30
103       22.42
104       20.92
105       15.36
106       20.49
107       25.21
108       18.24
109       14.31
110       14.00
111        7.25
112       38.07
113       23.95
114       25.71
115       17.31
116       29.93
117       10.65
118       12.43
119       24.08
120       11.69
121       13.42
122       14.26
123       15.95
124       12.48
125       29.80
126        8.52
127       14.52
128       11.38
129       22.82
130       19.08
131       20.27
132       11.17
133       12.26
134       18.26
135        8.51
136       10.33
137       14.15
138       16.00
139       13.16
140       17.47
141       34.30
142       41.19
143       27.05
144       16.43
145        8.35
146       18.64
147       11.87
148        9.78
149        7.51
150       14.07
151       13.13
152       17.26
153       24.55
154       19.77
155       29.85
156       48.17
157       25.00
158       13.39
159       16.49
160       21.50
161       12.66
162       16.21
163       13.81
164       17.51
165       24.52
166       20.76
167       31.71
168       10.59
169       10.63
170       50.81
171       15.81
172        7.25
173       31.85
174       16.82
175       32.90
176       17.89
177       14.48
178        9.60
179       34.63
180       34.65
181       23.33
182       45.35
183       23.17
184       40.55
185       20.69
186       20.90
187       30.46
188       18.15
189       23.10
190       15.69
191       19.81
192       28.44
193       15.48
194       16.58
195        7.56
196       10.34
197       43.11
198       13.00
199       13.51
200       18.71
201       12.74
202       13.00
203       16.40
204       20.53
205       16.47
206       26.59
207       38.73
208       24.27
209       12.76
210       30.06
211       25.89
212       48.33
213       13.27
214       28.17
215       12.90
216       28.15
217       11.59
218        7.74
219       30.14
220       12.16
221       13.42
222        8.58
223       15.98
224       13.42
225       16.27
226       10.09
227       20.45
228       13.28
229       22.12
230       24.01
231       15.69
232       11.61
233       10.77
234       15.53
235       10.07
236       12.60
237       32.83
238       35.83
239       29.03
240       27.18
241       22.67
242       17.82
243       18.78

# To select the single column of all records
    syntax: df[column]
# To select the multiple columns of all records
    syntax: df[list of column names]

In [38]:
df['total_bill']

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
5      25.29
6       8.77
7      26.88
8      15.04
9      14.78
10     10.27
11     35.26
12     15.42
13     18.43
14     14.83
15     21.58
16     10.33
17     16.29
18     16.97
19     20.65
20     17.92
21     20.29
22     15.77
23     39.42
24     19.82
25     17.81
26     13.37
27     12.69
28     21.70
29     19.65
30      9.55
31     18.35
32     15.06
33     20.69
34     17.78
35     24.06
36     16.31
37     16.93
38     18.69
39     31.27
40     16.04
41     17.46
42     13.94
43      9.68
44     30.40
45     18.29
46     22.23
47     32.40
48     28.55
49     18.04
50     12.54
51     10.29
52     34.81
53      9.94
54     25.56
55     19.49
56     38.01
57     26.41
58     11.24
59     48.27
60     20.29
61     13.81
62     11.02
63     18.29
64     17.59
65     20.08
66     16.45
67      3.07
68     20.23
69     15.01
70     12.02
71     17.07
72     26.86
73     25.28
74     14.73
75     10.51
76     17.92
77     27.20
78     22.76
79     17.29
80     19.44
81     16.66
82     10.07
83     32.68
84     15.98
85     34.83
86     13.03
87     18.28
88     24.71
89     21.16
90     28.97
91     22.49
92      5.75
93     16.32
94     22.75
95     40.17
96     27.28
97     12.03
98     21.01
99     12.46
100    11.35
101    15.38
102    44.30
103    22.42
104    20.92
105    15.36
106    20.49
107    25.21
108    18.24
109    14.31
110    14.00
111     7.25
112    38.07
113    23.95
114    25.71
115    17.31
116    29.93
117    10.65
118    12.43
119    24.08
120    11.69
121    13.42
122    14.26
123    15.95
124    12.48
125    29.80
126     8.52
127    14.52
128    11.38
129    22.82
130    19.08
131    20.27
132    11.17
133    12.26
134    18.26
135     8.51
136    10.33
137    14.15
138    16.00
139    13.16
140    17.47
141    34.30
142    41.19
143    27.05
144    16.43
145     8.35
146    18.64
147    11.87
148     9.78
149     7.51
150    14.07
151    13.13
152    17.26
153    24.55
154    19.77
155    29.85
156    48.17
157    25.00
158    13.39
159    16.49
160    21.50
161    12.66
162    16.21
163    13.81
164    17.51
165    24.52
166    20.76
167    31.71
168    10.59
169    10.63
170    50.81
171    15.81
172     7.25
173    31.85
174    16.82
175    32.90
176    17.89
177    14.48
178     9.60
179    34.63
180    34.65
181    23.33
182    45.35
183    23.17
184    40.55
185    20.69
186    20.90
187    30.46
188    18.15
189    23.10
190    15.69
191    19.81
192    28.44
193    15.48
194    16.58
195     7.56
196    10.34
197    43.11
198    13.00
199    13.51
200    18.71
201    12.74
202    13.00
203    16.40
204    20.53
205    16.47
206    26.59
207    38.73
208    24.27
209    12.76
210    30.06
211    25.89
212    48.33
213    13.27
214    28.17
215    12.90
216    28.15
217    11.59
218     7.74
219    30.14
220    12.16
221    13.42
222     8.58
223    15.98
224    13.42
225    16.27
226    10.09
227    20.45
228    13.28
229    22.12
230    24.01
231    15.69
232    11.61
233    10.77
234    15.53
235    10.07
236    12.60
237    32.83
238    35.83
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, dtype: float64

In [39]:
df[['total_bill', 'tip', 'gender', 'smoker', 'day', 'time', 'no_of_members']]

     total_bill    tip  gender smoker   day    time  no_of_members
0         16.99   1.01  Female     No   Sun  Dinner              2
1         10.34   1.66    Male     No   Sun  Dinner              3
2         21.01   3.50    Male     No   Sun  Dinner              3
3         23.68   3.31    Male     No   Sun  Dinner              2
4         24.59   3.61  Female     No   Sun  Dinner              4
5         25.29   4.71    Male     No   Sun  Dinner              4
6          8.77   2.00    Male     No   Sun  Dinner              2
7         26.88   3.12    Male     No   Sun  Dinner              4
8         15.04   1.96    Male     No   Sun  Dinner              2
9         14.78   3.23    Male     No   Sun  Dinner              2
10        10.27   1.71    Male     No   Sun  Dinner              2
11        35.26   5.00  Female     No   Sun  Dinner              4
12        15.42   1.57    Male     No   Sun  Dinner              2
13        18.43   3.00    Male     No   Sun  Dinner              4
14        14.83   3.02  Female     No   Sun  Dinner              2
15        21.58   3.92    Male     No   Sun  Dinner              2
16        10.33   1.67  Female     No   Sun  Dinner              3
17        16.29   3.71    Male     No   Sun  Dinner              3
18        16.97   3.50  Female     No   Sun  Dinner              3
19        20.65   3.35    Male     No   Sat  Dinner              3
20        17.92   4.08    Male     No   Sat  Dinner              2
21        20.29   2.75  Female     No   Sat  Dinner              2
22        15.77   2.23  Female     No   Sat  Dinner              2
23        39.42   7.58    Male     No   Sat  Dinner              4
24        19.82   3.18    Male     No   Sat  Dinner              2
25        17.81   2.34    Male     No   Sat  Dinner              4
26        13.37   2.00    Male     No   Sat  Dinner              2
27        12.69   2.00    Male     No   Sat  Dinner              2
28        21.70   4.30    Male     No   Sat  Dinner              2
29        19.65   3.00  Female     No   Sat  Dinner              2
30         9.55   1.45    Male     No   Sat  Dinner              2
31        18.35   2.50    Male     No   Sat  Dinner              4
32        15.06   3.00  Female     No   Sat  Dinner              2
33        20.69   2.45  Female     No   Sat  Dinner              4
34        17.78   3.27    Male     No   Sat  Dinner              2
35        24.06   3.60    Male     No   Sat  Dinner              3
36        16.31   2.00    Male     No   Sat  Dinner              3
37        16.93   3.07  Female     No   Sat  Dinner              3
38        18.69   2.31    Male     No   Sat  Dinner              3
39        31.27   5.00    Male     No   Sat  Dinner              3
40        16.04   2.24    Male     No   Sat  Dinner              3
41        17.46   2.54    Male     No   Sun  Dinner              2
42        13.94   3.06    Male     No   Sun  Dinner              2
43         9.68   1.32    Male     No   Sun  Dinner              2
44        30.40   5.60    Male     No   Sun  Dinner              4
45        18.29   3.00    Male     No   Sun  Dinner              2
46        22.23   5.00    Male     No   Sun  Dinner              2
47        32.40   6.00    Male     No   Sun  Dinner              4
48        28.55   2.05    Male     No   Sun  Dinner              3
49        18.04   3.00    Male     No   Sun  Dinner              2
50        12.54   2.50    Male     No   Sun  Dinner              2
51        10.29   2.60  Female     No   Sun  Dinner              2
52        34.81   5.20  Female     No   Sun  Dinner              4
53         9.94   1.56    Male     No   Sun  Dinner              2
54        25.56   4.34    Male     No   Sun  Dinner              4
55        19.49   3.51    Male     No   Sun  Dinner              2
56        38.01   3.00    Male    Yes   Sat  Dinner              4
57        26.41   1.50  Female     No   Sat  Dinner              2
58        11.24   1.76    Male    Yes   Sat  Dinner              2
59        48.27   6.73    Male     No   Sat  Dinner              4
60        20.29   3.21    Male    Yes   Sat  Dinner              2
61        13.81   2.00    Male    Yes   Sat  Dinner              2
62        11.02   1.98    Male    Yes   Sat  Dinner              2
63        18.29   3.76    Male    Yes   Sat  Dinner              4
64        17.59   2.64    Male     No   Sat  Dinner              3
65        20.08   3.15    Male     No   Sat  Dinner              3
66        16.45   2.47  Female     No   Sat  Dinner              2
67         3.07   1.00  Female    Yes   Sat  Dinner              1
68        20.23   2.01    Male     No   Sat  Dinner              2
69        15.01   2.09    Male    Yes   Sat  Dinner              2
70        12.02   1.97    Male     No   Sat  Dinner              2
71        17.07   3.00  Female     No   Sat  Dinner              3
72        26.86   3.14  Female    Yes   Sat  Dinner              2
73        25.28   5.00  Female    Yes   Sat  Dinner              2
74        14.73   2.20  Female     No   Sat  Dinner              2
75        10.51   1.25    Male     No   Sat  Dinner              2
76        17.92   3.08    Male    Yes   Sat  Dinner              2
77        27.20   4.00    Male     No  Thur   Lunch              4
78        22.76   3.00    Male     No  Thur   Lunch              2
79        17.29   2.71    Male     No  Thur   Lunch              2
80        19.44   3.00    Male    Yes  Thur   Lunch              2
81        16.66   3.40    Male     No  Thur   Lunch              2
82        10.07   1.83  Female     No  Thur   Lunch              1
83        32.68   5.00    Male    Yes  Thur   Lunch              2
84        15.98   2.03    Male     No  Thur   Lunch              2
85        34.83   5.17  Female     No  Thur   Lunch              4
86        13.03   2.00    Male     No  Thur   Lunch              2
87        18.28   4.00    Male     No  Thur   Lunch              2
88        24.71   5.85    Male     No  Thur   Lunch              2
89        21.16   3.00    Male     No  Thur   Lunch              2
90        28.97   3.00    Male    Yes   Fri  Dinner              2
91        22.49   3.50    Male     No   Fri  Dinner              2
92         5.75   1.00  Female    Yes   Fri  Dinner              2
93        16.32   4.30  Female    Yes   Fri  Dinner              2
94        22.75   3.25  Female     No   Fri  Dinner              2
95        40.17   4.73    Male    Yes   Fri  Dinner              4
96        27.28   4.00    Male    Yes   Fri  Dinner              2
97        12.03   1.50    Male    Yes   Fri  Dinner              2
98        21.01   3.00    Male    Yes   Fri  Dinner              2
99        12.46   1.50    Male     No   Fri  Dinner              2
100       11.35   2.50  Female    Yes   Fri  Dinner              2
101       15.38   3.00  Female    Yes   Fri  Dinner              2
102       44.30   2.50  Female    Yes   Sat  Dinner              3
103       22.42   3.48  Female    Yes   Sat  Dinner              2
104       20.92   4.08  Female     No   Sat  Dinner              2
105       15.36   1.64    Male    Yes   Sat  Dinner              2
106       20.49   4.06    Male    Yes   Sat  Dinner              2
107       25.21   4.29    Male    Yes   Sat  Dinner              2
108       18.24   3.76    Male     No   Sat  Dinner              2
109       14.31   4.00  Female    Yes   Sat  Dinner              2
110       14.00   3.00    Male     No   Sat  Dinner              2
111        7.25   1.00  Female     No   Sat  Dinner              1
112       38.07   4.00    Male     No   Sun  Dinner              3
113       23.95   2.55    Male     No   Sun  Dinner              2
114       25.71   4.00  Female     No   Sun  Dinner              3
115       17.31   3.50  Female     No   Sun  Dinner              2
116       29.93   5.07    Male     No   Sun  Dinner              4
117       10.65   1.50  Female     No  Thur   Lunch              2
118       12.43   1.80  Female     No  Thur   Lunch              2
119       24.08   2.92  Female     No  Thur   Lunch              4
120       11.69   2.31    Male     No  Thur   Lunch              2
121       13.42   1.68  Female     No  Thur   Lunch              2
122       14.26   2.50    Male     No  Thur   Lunch              2
123       15.95   2.00    Male     No  Thur   Lunch              2
124       12.48   2.52  Female     No  Thur   Lunch              2
125       29.80   4.20  Female     No  Thur   Lunch              6
126        8.52   1.48    Male     No  Thur   Lunch              2
127       14.52   2.00  Female     No  Thur   Lunch              2
128       11.38   2.00  Female     No  Thur   Lunch              2
129       22.82   2.18    Male     No  Thur   Lunch              3
130       19.08   1.50    Male     No  Thur   Lunch              2
131       20.27   2.83  Female     No  Thur   Lunch              2
132       11.17   1.50  Female     No  Thur   Lunch              2
133       12.26   2.00  Female     No  Thur   Lunch              2
134       18.26   3.25  Female     No  Thur   Lunch              2
135        8.51   1.25  Female     No  Thur   Lunch              2
136       10.33   2.00  Female     No  Thur   Lunch              2
137       14.15   2.00  Female     No  Thur   Lunch              2
138       16.00   2.00    Male    Yes  Thur   Lunch              2
139       13.16   2.75  Female     No  Thur   Lunch              2
140       17.47   3.50  Female     No  Thur   Lunch              2
141       34.30   6.70    Male     No  Thur   Lunch              6
142       41.19   5.00    Male     No  Thur   Lunch              5
143       27.05   5.00  Female     No  Thur   Lunch              6
144       16.43   2.30  Female     No  Thur   Lunch              2
145        8.35   1.50  Female     No  Thur   Lunch              2
146       18.64   1.36  Female     No  Thur   Lunch              3
147       11.87   1.63  Female     No  Thur   Lunch              2
148        9.78   1.73    Male     No  Thur   Lunch              2
149        7.51   2.00    Male     No  Thur   Lunch              2
150       14.07   2.50    Male     No   Sun  Dinner              2
151       13.13   2.00    Male     No   Sun  Dinner              2
152       17.26   2.74    Male     No   Sun  Dinner              3
153       24.55   2.00    Male     No   Sun  Dinner              4
154       19.77   2.00    Male     No   Sun  Dinner              4
155       29.85   5.14  Female     No   Sun  Dinner              5
156       48.17   5.00    Male     No   Sun  Dinner              6
157       25.00   3.75  Female     No   Sun  Dinner              4
158       13.39   2.61  Female     No   Sun  Dinner              2
159       16.49   2.00    Male     No   Sun  Dinner              4
160       21.50   3.50    Male     No   Sun  Dinner              4
161       12.66   2.50    Male     No   Sun  Dinner              2
162       16.21   2.00  Female     No   Sun  Dinner              3
163       13.81   2.00    Male     No   Sun  Dinner              2
164       17.51   3.00  Female    Yes   Sun  Dinner              2
165       24.52   3.48    Male     No   Sun  Dinner              3
166       20.76   2.24    Male     No   Sun  Dinner              2
167       31.71   4.50    Male     No   Sun  Dinner              4
168       10.59   1.61  Female    Yes   Sat  Dinner              2
169       10.63   2.00  Female    Yes   Sat  Dinner              2
170       50.81  10.00    Male    Yes   Sat  Dinner              3
171       15.81   3.16    Male    Yes   Sat  Dinner              2
172        7.25   5.15    Male    Yes   Sun  Dinner              2
173       31.85   3.18    Male    Yes   Sun  Dinner              2
174       16.82   4.00    Male    Yes   Sun  Dinner              2
175       32.90   3.11    Male    Yes   Sun  Dinner              2
176       17.89   2.00    Male    Yes   Sun  Dinner              2
177       14.48   2.00    Male    Yes   Sun  Dinner              2
178        9.60   4.00  Female    Yes   Sun  Dinner              2
179       34.63   3.55    Male    Yes   Sun  Dinner              2
180       34.65   3.68    Male    Yes   Sun  Dinner              4
181       23.33   5.65    Male    Yes   Sun  Dinner              2
182       45.35   3.50    Male    Yes   Sun  Dinner              3
183       23.17   6.50    Male    Yes   Sun  Dinner              4
184       40.55   3.00    Male    Yes   Sun  Dinner              2
185       20.69   5.00    Male     No   Sun  Dinner              5
186       20.90   3.50  Female    Yes   Sun  Dinner              3
187       30.46   2.00    Male    Yes   Sun  Dinner              5
188       18.15   3.50  Female    Yes   Sun  Dinner              3
189       23.10   4.00    Male    Yes   Sun  Dinner              3
190       15.69   1.50    Male    Yes   Sun  Dinner              2
191       19.81   4.19  Female    Yes  Thur   Lunch              2
192       28.44   2.56    Male    Yes  Thur   Lunch              2
193       15.48   2.02    Male    Yes  Thur   Lunch              2
194       16.58   4.00    Male    Yes  Thur   Lunch              2
195        7.56   1.44    Male     No  Thur   Lunch              2
196       10.34   2.00    Male    Yes  Thur   Lunch              2
197       43.11   5.00  Female    Yes  Thur   Lunch              4
198       13.00   2.00  Female    Yes  Thur   Lunch              2
199       13.51   2.00    Male    Yes  Thur   Lunch              2
200       18.71   4.00    Male    Yes  Thur   Lunch              3
201       12.74   2.01  Female    Yes  Thur   Lunch              2
202       13.00   2.00  Female    Yes  Thur   Lunch              2
203       16.40   2.50  Female    Yes  Thur   Lunch              2
204       20.53   4.00    Male    Yes  Thur   Lunch              4
205       16.47   3.23  Female    Yes  Thur   Lunch              3
206       26.59   3.41    Male    Yes   Sat  Dinner              3
207       38.73   3.00    Male    Yes   Sat  Dinner              4
208       24.27   2.03    Male    Yes   Sat  Dinner              2
209       12.76   2.23  Female    Yes   Sat  Dinner              2
210       30.06   2.00    Male    Yes   Sat  Dinner              3
211       25.89   5.16    Male    Yes   Sat  Dinner              4
212       48.33   9.00    Male     No   Sat  Dinner              4
213       13.27   2.50  Female    Yes   Sat  Dinner              2
214       28.17   6.50  Female    Yes   Sat  Dinner              3
215       12.90   1.10  Female    Yes   Sat  Dinner              2
216       28.15   3.00    Male    Yes   Sat  Dinner              5
217       11.59   1.50    Male    Yes   Sat  Dinner              2
218        7.74   1.44    Male    Yes   Sat  Dinner              2
219       30.14   3.09  Female    Yes   Sat  Dinner              4
220       12.16   2.20    Male    Yes   Fri   Lunch              2
221       13.42   3.48  Female    Yes   Fri   Lunch              2
222        8.58   1.92    Male    Yes   Fri   Lunch              1
223       15.98   3.00  Female     No   Fri   Lunch              3
224       13.42   1.58    Male    Yes   Fri   Lunch              2
225       16.27   2.50  Female    Yes   Fri   Lunch              2
226       10.09   2.00  Female    Yes   Fri   Lunch              2
227       20.45   3.00    Male     No   Sat  Dinner              4
228       13.28   2.72    Male     No   Sat  Dinner              2
229       22.12   2.88  Female    Yes   Sat  Dinner              2
230       24.01   2.00    Male    Yes   Sat  Dinner              4
231       15.69   3.00    Male    Yes   Sat  Dinner              3
232       11.61   3.39    Male     No   Sat  Dinner              2
233       10.77   1.47    Male     No   Sat  Dinner              2
234       15.53   3.00    Male    Yes   Sat  Dinner              2
235       10.07   1.25    Male     No   Sat  Dinner              2
236       12.60   1.00    Male    Yes   Sat  Dinner              2
237       32.83   1.17    Male    Yes   Sat  Dinner              2
238       35.83   4.67  Female     No   Sat  Dinner              3
239       29.03   5.92    Male     No   Sat  Dinner              3
240       27.18   2.00  Female    Yes   Sat  Dinner              2
241       22.67   2.00    Male    Yes   Sat  Dinner              2
242       17.82   1.75    Male     No   Sat  Dinner              2
243       18.78   3.00  Female     No  Thur  Dinner              2

In [40]:
df['total_bill'].shape

(244,)

In [41]:
df[['total_bill', 'tip', 'gender', 'smoker', 'day', 'time', 'no_of_members']].shape

(244, 7)

In [42]:
df['total_bill'].values

array([16.99, 10.34, 21.01, 23.68, 24.59, 25.29,  8.77, 26.88, 15.04,
       14.78, 10.27, 35.26, 15.42, 18.43, 14.83, 21.58, 10.33, 16.29,
       16.97, 20.65, 17.92, 20.29, 15.77, 39.42, 19.82, 17.81, 13.37,
       12.69, 21.7 , 19.65,  9.55, 18.35, 15.06, 20.69, 17.78, 24.06,
       16.31, 16.93, 18.69, 31.27, 16.04, 17.46, 13.94,  9.68, 30.4 ,
       18.29, 22.23, 32.4 , 28.55, 18.04, 12.54, 10.29, 34.81,  9.94,
       25.56, 19.49, 38.01, 26.41, 11.24, 48.27, 20.29, 13.81, 11.02,
       18.29, 17.59, 20.08, 16.45,  3.07, 20.23, 15.01, 12.02, 17.07,
       26.86, 25.28, 14.73, 10.51, 17.92, 27.2 , 22.76, 17.29, 19.44,
       16.66, 10.07, 32.68, 15.98, 34.83, 13.03, 18.28, 24.71, 21.16,
       28.97, 22.49,  5.75, 16.32, 22.75, 40.17, 27.28, 12.03, 21.01,
       12.46, 11.35, 15.38, 44.3 , 22.42, 20.92, 15.36, 20.49, 25.21,
       18.24, 14.31, 14.  ,  7.25, 38.07, 23.95, 25.71, 17.31, 29.93,
       10.65, 12.43, 24.08, 11.69, 13.42, 14.26, 15.95, 12.48, 29.8 ,
        8.52, 14.52, 11.38, 22.82, 19.08, 20.27, 11.17, 12.26, 18.26,
        8.51, 10.33, 14.15, 16.  , 13.16, 17.47, 34.3 , 41.19, 27.05,
       16.43,  8.35, 18.64, 11.87,  9.78,  7.51, 14.07, 13.13, 17.26,
       24.55, 19.77, 29.85, 48.17, 25.  , 13.39, 16.49, 21.5 , 12.66,
       16.21, 13.81, 17.51, 24.52, 20.76, 31.71, 10.59, 10.63, 50.81,
       15.81,  7.25, 31.85, 16.82, 32.9 , 17.89, 14.48,  9.6 , 34.63,
       34.65, 23.33, 45.35, 23.17, 40.55, 20.69, 20.9 , 30.46, 18.15,
       23.1 , 15.69, 19.81, 28.44, 15.48, 16.58,  7.56, 10.34, 43.11,
       13.  , 13.51, 18.71, 12.74, 13.  , 16.4 , 20.53, 16.47, 26.59,
       38.73, 24.27, 12.76, 30.06, 25.89, 48.33, 13.27, 28.17, 12.9 ,
       28.15, 11.59,  7.74, 30.14, 12.16, 13.42,  8.58, 15.98, 13.42,
       16.27, 10.09, 20.45, 13.28, 22.12, 24.01, 15.69, 11.61, 10.77,
       15.53, 10.07, 12.6 , 32.83, 35.83, 29.03, 27.18, 22.67, 17.82,
       18.78])

In [43]:
df[['total_bill', 'tip', 'gender', 'smoker', 'day', 'time', 'no_of_members']].to_numpy()

array([[16.99, 1.01, 'Female', ..., 'Sun', 'Dinner', 2],
       [10.34, 1.66, 'Male', ..., 'Sun', 'Dinner', 3],
       [21.01, 3.5, 'Male', ..., 'Sun', 'Dinner', 3],
       ...,
       [22.67, 2.0, 'Male', ..., 'Sat', 'Dinner', 2],
       [17.82, 1.75, 'Male', ..., 'Sat', 'Dinner', 2],
       [18.78, 3.0, 'Female', ..., 'Thur', 'Dinner', 2]], dtype=object)

# filtering
    (1) df[condition]
    (2) df[condition1 or condition2]

In [44]:
df1 = pd.DataFrame({'X': [1,2,3,4,5], 'Y':[6,7,8,9,10]})
df1
df1[df1['X']>=4]

   X   Y
3  4   9
4  5  10

In [45]:
df1[df1['X']==4]['X']

3    4
Name: X, dtype: int64

In [46]:
df1[df1['X']==4]['X'].index

Index([3], dtype='int64')

In [47]:
df1[df1['X']==4]['X'].index[0]

3

In [48]:
df[(df["tip"]>=7)]

     total_bill    tip gender smoker  day    time  no_of_members
23        39.42   7.58   Male     No  Sat  Dinner              4
170       50.81  10.00   Male    Yes  Sat  Dinner              3
212       48.33   9.00   Male     No  Sat  Dinner              4

In [49]:
df[(df["gender"]=='Male')]

     total_bill    tip gender smoker   day    time  no_of_members
1         10.34   1.66   Male     No   Sun  Dinner              3
2         21.01   3.50   Male     No   Sun  Dinner              3
3         23.68   3.31   Male     No   Sun  Dinner              2
5         25.29   4.71   Male     No   Sun  Dinner              4
6          8.77   2.00   Male     No   Sun  Dinner              2
7         26.88   3.12   Male     No   Sun  Dinner              4
8         15.04   1.96   Male     No   Sun  Dinner              2
9         14.78   3.23   Male     No   Sun  Dinner              2
10        10.27   1.71   Male     No   Sun  Dinner              2
12        15.42   1.57   Male     No   Sun  Dinner              2
13        18.43   3.00   Male     No   Sun  Dinner              4
15        21.58   3.92   Male     No   Sun  Dinner              2
17        16.29   3.71   Male     No   Sun  Dinner              3
19        20.65   3.35   Male     No   Sat  Dinner              3
20        17.92   4.08   Male     No   Sat  Dinner              2
23        39.42   7.58   Male     No   Sat  Dinner              4
24        19.82   3.18   Male     No   Sat  Dinner              2
25        17.81   2.34   Male     No   Sat  Dinner              4
26        13.37   2.00   Male     No   Sat  Dinner              2
27        12.69   2.00   Male     No   Sat  Dinner              2
28        21.70   4.30   Male     No   Sat  Dinner              2
30         9.55   1.45   Male     No   Sat  Dinner              2
31        18.35   2.50   Male     No   Sat  Dinner              4
34        17.78   3.27   Male     No   Sat  Dinner              2
35        24.06   3.60   Male     No   Sat  Dinner              3
36        16.31   2.00   Male     No   Sat  Dinner              3
38        18.69   2.31   Male     No   Sat  Dinner              3
39        31.27   5.00   Male     No   Sat  Dinner              3
40        16.04   2.24   Male     No   Sat  Dinner              3
41        17.46   2.54   Male     No   Sun  Dinner              2
42        13.94   3.06   Male     No   Sun  Dinner              2
43         9.68   1.32   Male     No   Sun  Dinner              2
44        30.40   5.60   Male     No   Sun  Dinner              4
45        18.29   3.00   Male     No   Sun  Dinner              2
46        22.23   5.00   Male     No   Sun  Dinner              2
47        32.40   6.00   Male     No   Sun  Dinner              4
48        28.55   2.05   Male     No   Sun  Dinner              3
49        18.04   3.00   Male     No   Sun  Dinner              2
50        12.54   2.50   Male     No   Sun  Dinner              2
53         9.94   1.56   Male     No   Sun  Dinner              2
54        25.56   4.34   Male     No   Sun  Dinner              4
55        19.49   3.51   Male     No   Sun  Dinner              2
56        38.01   3.00   Male    Yes   Sat  Dinner              4
58        11.24   1.76   Male    Yes   Sat  Dinner              2
59        48.27   6.73   Male     No   Sat  Dinner              4
60        20.29   3.21   Male    Yes   Sat  Dinner              2
61        13.81   2.00   Male    Yes   Sat  Dinner              2
62        11.02   1.98   Male    Yes   Sat  Dinner              2
63        18.29   3.76   Male    Yes   Sat  Dinner              4
64        17.59   2.64   Male     No   Sat  Dinner              3
65        20.08   3.15   Male     No   Sat  Dinner              3
68        20.23   2.01   Male     No   Sat  Dinner              2
69        15.01   2.09   Male    Yes   Sat  Dinner              2
70        12.02   1.97   Male     No   Sat  Dinner              2
75        10.51   1.25   Male     No   Sat  Dinner              2
76        17.92   3.08   Male    Yes   Sat  Dinner              2
77        27.20   4.00   Male     No  Thur   Lunch              4
78        22.76   3.00   Male     No  Thur   Lunch              2
79        17.29   2.71   Male     No  Thur   Lunch              2
80        19.44   3.00   Male    Yes  Thur   Lunch              2
81        16.66   3.40   Male     No  Thur   Lunch              2
83        32.68   5.00   Male    Yes  Thur   Lunch              2
84        15.98   2.03   Male     No  Thur   Lunch              2
86        13.03   2.00   Male     No  Thur   Lunch              2
87        18.28   4.00   Male     No  Thur   Lunch              2
88        24.71   5.85   Male     No  Thur   Lunch              2
89        21.16   3.00   Male     No  Thur   Lunch              2
90        28.97   3.00   Male    Yes   Fri  Dinner              2
91        22.49   3.50   Male     No   Fri  Dinner              2
95        40.17   4.73   Male    Yes   Fri  Dinner              4
96        27.28   4.00   Male    Yes   Fri  Dinner              2
97        12.03   1.50   Male    Yes   Fri  Dinner              2
98        21.01   3.00   Male    Yes   Fri  Dinner              2
99        12.46   1.50   Male     No   Fri  Dinner              2
105       15.36   1.64   Male    Yes   Sat  Dinner              2
106       20.49   4.06   Male    Yes   Sat  Dinner              2
107       25.21   4.29   Male    Yes   Sat  Dinner              2
108       18.24   3.76   Male     No   Sat  Dinner              2
110       14.00   3.00   Male     No   Sat  Dinner              2
112       38.07   4.00   Male     No   Sun  Dinner              3
113       23.95   2.55   Male     No   Sun  Dinner              2
116       29.93   5.07   Male     No   Sun  Dinner              4
120       11.69   2.31   Male     No  Thur   Lunch              2
122       14.26   2.50   Male     No  Thur   Lunch              2
123       15.95   2.00   Male     No  Thur   Lunch              2
126        8.52   1.48   Male     No  Thur   Lunch              2
129       22.82   2.18   Male     No  Thur   Lunch              3
130       19.08   1.50   Male     No  Thur   Lunch              2
138       16.00   2.00   Male    Yes  Thur   Lunch              2
141       34.30   6.70   Male     No  Thur   Lunch              6
142       41.19   5.00   Male     No  Thur   Lunch              5
148        9.78   1.73   Male     No  Thur   Lunch              2
149        7.51   2.00   Male     No  Thur   Lunch              2
150       14.07   2.50   Male     No   Sun  Dinner              2
151       13.13   2.00   Male     No   Sun  Dinner              2
152       17.26   2.74   Male     No   Sun  Dinner              3
153       24.55   2.00   Male     No   Sun  Dinner              4
154       19.77   2.00   Male     No   Sun  Dinner              4
156       48.17   5.00   Male     No   Sun  Dinner              6
159       16.49   2.00   Male     No   Sun  Dinner              4
160       21.50   3.50   Male     No   Sun  Dinner              4
161       12.66   2.50   Male     No   Sun  Dinner              2
163       13.81   2.00   Male     No   Sun  Dinner              2
165       24.52   3.48   Male     No   Sun  Dinner              3
166       20.76   2.24   Male     No   Sun  Dinner              2
167       31.71   4.50   Male     No   Sun  Dinner              4
170       50.81  10.00   Male    Yes   Sat  Dinner              3
171       15.81   3.16   Male    Yes   Sat  Dinner              2
172        7.25   5.15   Male    Yes   Sun  Dinner              2
173       31.85   3.18   Male    Yes   Sun  Dinner              2
174       16.82   4.00   Male    Yes   Sun  Dinner              2
175       32.90   3.11   Male    Yes   Sun  Dinner              2
176       17.89   2.00   Male    Yes   Sun  Dinner              2
177       14.48   2.00   Male    Yes   Sun  Dinner              2
179       34.63   3.55   Male    Yes   Sun  Dinner              2
180       34.65   3.68   Male    Yes   Sun  Dinner              4
181       23.33   5.65   Male    Yes   Sun  Dinner              2
182       45.35   3.50   Male    Yes   Sun  Dinner              3
183       23.17   6.50   Male    Yes   Sun  Dinner              4
184       40.55   3.00   Male    Yes   Sun  Dinner              2
185       20.69   5.00   Male     No   Sun  Dinner              5
187       30.46   2.00   Male    Yes   Sun  Dinner              5
189       23.10   4.00   Male    Yes   Sun  Dinner              3
190       15.69   1.50   Male    Yes   Sun  Dinner              2
192       28.44   2.56   Male    Yes  Thur   Lunch              2
193       15.48   2.02   Male    Yes  Thur   Lunch              2
194       16.58   4.00   Male    Yes  Thur   Lunch              2
195        7.56   1.44   Male     No  Thur   Lunch              2
196       10.34   2.00   Male    Yes  Thur   Lunch              2
199       13.51   2.00   Male    Yes  Thur   Lunch              2
200       18.71   4.00   Male    Yes  Thur   Lunch              3
204       20.53   4.00   Male    Yes  Thur   Lunch              4
206       26.59   3.41   Male    Yes   Sat  Dinner              3
207       38.73   3.00   Male    Yes   Sat  Dinner              4
208       24.27   2.03   Male    Yes   Sat  Dinner              2
210       30.06   2.00   Male    Yes   Sat  Dinner              3
211       25.89   5.16   Male    Yes   Sat  Dinner              4
212       48.33   9.00   Male     No   Sat  Dinner              4
216       28.15   3.00   Male    Yes   Sat  Dinner              5
217       11.59   1.50   Male    Yes   Sat  Dinner              2
218        7.74   1.44   Male    Yes   Sat  Dinner              2
220       12.16   2.20   Male    Yes   Fri   Lunch              2
222        8.58   1.92   Male    Yes   Fri   Lunch              1
224       13.42   1.58   Male    Yes   Fri   Lunch              2
227       20.45   3.00   Male     No   Sat  Dinner              4
228       13.28   2.72   Male     No   Sat  Dinner              2
230       24.01   2.00   Male    Yes   Sat  Dinner              4
231       15.69   3.00   Male    Yes   Sat  Dinner              3
232       11.61   3.39   Male     No   Sat  Dinner              2
233       10.77   1.47   Male     No   Sat  Dinner              2
234       15.53   3.00   Male    Yes   Sat  Dinner              2
235       10.07   1.25   Male     No   Sat  Dinner              2
236       12.60   1.00   Male    Yes   Sat  Dinner              2
237       32.83   1.17   Male    Yes   Sat  Dinner              2
239       29.03   5.92   Male     No   Sat  Dinner              3
241       22.67   2.00   Male    Yes   Sat  Dinner              2
242       17.82   1.75   Male     No   Sat  Dinner              2

In [50]:
df[(df['total_bill']>40) & (df['gender']=='Female')]

     total_bill  tip  gender smoker   day    time  no_of_members
102       44.30  2.5  Female    Yes   Sat  Dinner              3
197       43.11  5.0  Female    Yes  Thur   Lunch              4

In [52]:
df[(df['total_bill']>40) & (df['gender']=='Male')]

     total_bill    tip gender smoker   day    time  no_of_members
59        48.27   6.73   Male     No   Sat  Dinner              4
95        40.17   4.73   Male    Yes   Fri  Dinner              4
142       41.19   5.00   Male     No  Thur   Lunch              5
156       48.17   5.00   Male     No   Sun  Dinner              6
170       50.81  10.00   Male    Yes   Sat  Dinner              3
182       45.35   3.50   Male    Yes   Sun  Dinner              3
184       40.55   3.00   Male    Yes   Sun  Dinner              2
212       48.33   9.00   Male     No   Sat  Dinner              4

In [53]:
df[(df["tip"]>=7) | (df["no_of_members"]==6)]

     total_bill    tip  gender smoker   day    time  no_of_members
23        39.42   7.58    Male     No   Sat  Dinner              4
125       29.80   4.20  Female     No  Thur   Lunch              6
141       34.30   6.70    Male     No  Thur   Lunch              6
143       27.05   5.00  Female     No  Thur   Lunch              6
156       48.17   5.00    Male     No   Sun  Dinner              6
170       50.81  10.00    Male    Yes   Sat  Dinner              3
212       48.33   9.00    Male     No   Sat  Dinner              4

In [54]:
df[(df["day"]=='Sun') & (df['gender']=='Male')]

     total_bill   tip gender smoker  day    time  no_of_members
1         10.34  1.66   Male     No  Sun  Dinner              3
2         21.01  3.50   Male     No  Sun  Dinner              3
3         23.68  3.31   Male     No  Sun  Dinner              2
5         25.29  4.71   Male     No  Sun  Dinner              4
6          8.77  2.00   Male     No  Sun  Dinner              2
7         26.88  3.12   Male     No  Sun  Dinner              4
8         15.04  1.96   Male     No  Sun  Dinner              2
9         14.78  3.23   Male     No  Sun  Dinner              2
10        10.27  1.71   Male     No  Sun  Dinner              2
12        15.42  1.57   Male     No  Sun  Dinner              2
13        18.43  3.00   Male     No  Sun  Dinner              4
15        21.58  3.92   Male     No  Sun  Dinner              2
17        16.29  3.71   Male     No  Sun  Dinner              3
41        17.46  2.54   Male     No  Sun  Dinner              2
42        13.94  3.06   Male     No  Sun  Dinner              2
43         9.68  1.32   Male     No  Sun  Dinner              2
44        30.40  5.60   Male     No  Sun  Dinner              4
45        18.29  3.00   Male     No  Sun  Dinner              2
46        22.23  5.00   Male     No  Sun  Dinner              2
47        32.40  6.00   Male     No  Sun  Dinner              4
48        28.55  2.05   Male     No  Sun  Dinner              3
49        18.04  3.00   Male     No  Sun  Dinner              2
50        12.54  2.50   Male     No  Sun  Dinner              2
53         9.94  1.56   Male     No  Sun  Dinner              2
54        25.56  4.34   Male     No  Sun  Dinner              4
55        19.49  3.51   Male     No  Sun  Dinner              2
112       38.07  4.00   Male     No  Sun  Dinner              3
113       23.95  2.55   Male     No  Sun  Dinner              2
116       29.93  5.07   Male     No  Sun  Dinner              4
150       14.07  2.50   Male     No  Sun  Dinner              2
151       13.13  2.00   Male     No  Sun  Dinner              2
152       17.26  2.74   Male     No  Sun  Dinner              3
153       24.55  2.00   Male     No  Sun  Dinner              4
154       19.77  2.00   Male     No  Sun  Dinner              4
156       48.17  5.00   Male     No  Sun  Dinner              6
159       16.49  2.00   Male     No  Sun  Dinner              4
160       21.50  3.50   Male     No  Sun  Dinner              4
161       12.66  2.50   Male     No  Sun  Dinner              2
163       13.81  2.00   Male     No  Sun  Dinner              2
165       24.52  3.48   Male     No  Sun  Dinner              3
166       20.76  2.24   Male     No  Sun  Dinner              2
167       31.71  4.50   Male     No  Sun  Dinner              4
172        7.25  5.15   Male    Yes  Sun  Dinner              2
173       31.85  3.18   Male    Yes  Sun  Dinner              2
174       16.82  4.00   Male    Yes  Sun  Dinner              2
175       32.90  3.11   Male    Yes  Sun  Dinner              2
176       17.89  2.00   Male    Yes  Sun  Dinner              2
177       14.48  2.00   Male    Yes  Sun  Dinner              2
179       34.63  3.55   Male    Yes  Sun  Dinner              2
180       34.65  3.68   Male    Yes  Sun  Dinner              4
181       23.33  5.65   Male    Yes  Sun  Dinner              2
182       45.35  3.50   Male    Yes  Sun  Dinner              3
183       23.17  6.50   Male    Yes  Sun  Dinner              4
184       40.55  3.00   Male    Yes  Sun  Dinner              2
185       20.69  5.00   Male     No  Sun  Dinner              5
187       30.46  2.00   Male    Yes  Sun  Dinner              5
189       23.10  4.00   Male    Yes  Sun  Dinner              3
190       15.69  1.50   Male    Yes  Sun  Dinner              2

In [55]:
df.columns

Index(['total_bill', 'tip', 'gender', 'smoker', 'day', 'time',
       'no_of_members'],
      dtype='object')

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   total_bill     244 non-null    float64
 1   tip            244 non-null    float64
 2   gender         244 non-null    object
 3   smoker         244 non-null    object
 4   day            244 non-null    object
 5   time           244 non-null    object
 6   no_of_members  244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB

In [57]:
dicrete_categorical = ['gender', 'smoker', 'day', 'time']

In [58]:
df['gender'].unique()

array(['Female', 'Male'], dtype=object)

In [59]:
df['gender'].value_counts()

gender
Male      157
Female     87
Name: count, dtype: int64

In [60]:
df['smoker'].unique()

array(['No', 'Yes'], dtype=object)

In [61]:
df['smoker'].value_counts()

smoker
No     151
Yes     93
Name: count, dtype: int64

In [62]:
df['day'].unique()

array(['Sun', 'Sat', 'Thur', 'Fri'], dtype=object)

In [63]:
df['day'].value_counts()

day
Sat     87
Sun     76
Thur    62
Fri     19
Name: count, dtype: int64

In [64]:
df['time'].unique()

array(['Dinner', 'Lunch'], dtype=object)

In [65]:
df['time'].value_counts()

time
Dinner    176
Lunch      68
Name: count, dtype: int64

In [66]:
df[dicrete_categorical].describe()

       gender smoker  day    time
count     244    244  244     244
unique      2      2    4       2
top      Male     No  Sat  Dinner
freq      157    151   87     176

In [66]:
df['gender'].value_counts()/len(df)

gender
Male      0.643443
Female    0.356557
Name: count, dtype: float64

In [67]:
df['gender'].value_counts(normalize=True)

gender
Male      0.643443
Female    0.356557
Name: proportion, dtype: float64

In [68]:
pd.crosstab(df['gender'],df['smoker'])

smoker  No  Yes
gender
Female  54   33
Male    97   60

In [69]:
pd.crosstab(df['gender'],df['day'])

day     Fri  Sat  Sun  Thur
gender
Female    9   28   18    32
Male     10   59   58    30

In [70]:
pd.crosstab(df['gender'],df['time'])

time    Dinner  Lunch
gender
Female      52     35
Male       124     33

In [71]:
pd.crosstab(df['gender'],df['time'],margins=True)

time    Dinner  Lunch  All
gender
Female      52     35   87
Male       124     33  157
All        176     68  244