### ***Dictionary***

#### 1. Initialize a dictionary
#### 2. Create a dictionary with items
#### 3. dict.fromkeys
#### 4. Dictionary is mutable(keys and values - what can be added)
#### 5. keys, values, items
#### 6. Accessing items in Dictionary(get method)
#### 7. modifying a dictionary
#### 8. update method
#### 9. deleting items in dictionary
#### 10. clear
#### 11. pop
#### 12. popitem

### ***Initialize a dictionary***

In [1]:
d = {}
print(d)
print(type(d))

{}
<class 'dict'>

In [2]:
d = {1,2,3}
print(type(d))
print(d)

<class 'set'>
{1, 2, 3}

In [3]:
d = {'A':2, 'B': 3} # key-value format 
print(d)
print(type(d))

{'A': 2, 'B': 3}
<class 'dict'>

In [4]:
d1 = dict()
print(d1)
print(type(d1))

{}
<class 'dict'>

In [5]:
d2 = dict([])
print(d2)
print(type(d2))

{}
<class 'dict'>

In [6]:
# dictionary is ordered 
d = {"A": 1, "B": 2, "C": 3}
d2 = {1: [1,2,3], "ABC": 20, 2: 12, "a": (12,20)}
print(d)
print(d2)

{'A': 1, 'B': 2, 'C': 3}
{1: [1, 2, 3], 'ABC': 20, 2: 12, 'a': (12, 20)}

In [8]:
d = {"A": 1, "B": 2, "C": 3}

for k in d:
    print("Keys: ", k)
    print("Values: ", d[k])

Keys:  A
Values:  1
Keys:  B
Values:  2
Keys:  C
Values:  3

In [9]:
print(d['A'])

1

In [10]:
print(d[0])

KeyError: 0

In [11]:
# to access an element in a dictionary 
# dictionary_name[key]
d['B']

2

In [12]:
s = {1,1.5,"abc",2,2.4,"bca",False}
print(s)

{False, 1, 2, 'abc', 1.5, 2.4, 'bca'}

In [13]:
# duplicates are not allowed 
# 1,1.0,True are treated same 
# 0,0.0, False are treated same
d = {1: 'A', 1.0: "F", True: 'B', 0: 'Z', 0.0: 'FZ', False: 'BZ'}
print(d)

{1: 'B', 0: 'BZ'}

In [14]:
d = {"1": "A", 1.0: "BZ", True: "B"}
print(d)

{'1': 'A', 1.0: 'B'}

In [15]:
a = "Venky"
d = {a: 12}
print(d)
a = "RBR"
print(d)

{'Venky': 12}
{'Venky': 12}

In [16]:
# duplicate values are allowed
d = {'A': 12, 'B': 12, 'C': 12}
print(d)

{'A': 12, 'B': 12, 'C': 12}

In [17]:
1==1.0

True

In [18]:
# dict method 
d1 = dict(a=10, b=12, c=50, d=[12,30])
print(d1)
print(type(d1))

{'a': 10, 'b': 12, 'c': 50, 'd': [12, 30]}
<class 'dict'>

In [19]:
d1 = dict(10,12,50,[12,24])
print(d1)

TypeError: dict expected at most 1 argument, got 4

In [20]:
# copy a dictionary 
d1 = {'A': 12, 'B': 20, 'C': 30}
d2 = d1 # dictionary is mutable 
print(id(d2))
print(id(d1))

2577557433152
2577557433152

In [21]:
print(d1)
d1['A'] = 100
print(d2)
print(d1)

{'A': 12, 'B': 20, 'C': 30}
{'A': 100, 'B': 20, 'C': 30}
{'A': 100, 'B': 20, 'C': 30}

In [22]:
print(d1)
d3 = d1.copy()
d1['A'] = 1000 
print(d1)
print(d3)

{'A': 100, 'B': 20, 'C': 30}
{'A': 1000, 'B': 20, 'C': 30}
{'A': 100, 'B': 20, 'C': 30}

In [23]:
d1 = {'A': [10,20,30], 'B': 20, 'C': 30}
d2 = d1.copy()
print(d1)
print(d2)
d1['A'][1] = 100 
print(d1)
print(d2) 
# to overcome this, u go to deepcopy

{'A': [10, 20, 30], 'B': 20, 'C': 30}
{'A': [10, 20, 30], 'B': 20, 'C': 30}
{'A': [10, 100, 30], 'B': 20, 'C': 30}
{'A': [10, 100, 30], 'B': 20, 'C': 30}

In [24]:
import copy 
d1 = {'A': [10,20,30], 'B': 20, 'C': 30}
d2 = copy.deepcopy(d1)
print(d1)
print(d2)
d1['A'][1] = 100 
print(d1)
print(d2)

{'A': [10, 20, 30], 'B': 20, 'C': 30}
{'A': [10, 20, 30], 'B': 20, 'C': 30}
{'A': [10, 100, 30], 'B': 20, 'C': 30}
{'A': [10, 20, 30], 'B': 20, 'C': 30}

In [25]:
d = {'a': 10, 'b': 20, 'c': 30}
d_2 = dict(d)
print(d)
print(d_2)
d['a'] = 100 
print(d)
print(d_2)

{'a': 10, 'b': 20, 'c': 30}
{'a': 10, 'b': 20, 'c': 30}
{'a': 100, 'b': 20, 'c': 30}
{'a': 10, 'b': 20, 'c': 30}

In [26]:
d = {'a': [100,200,300], 'b': 20, 'c': 30}
d_2 = dict(d) # similar to d.copy() method 
print(d)
print(d_2)
d['a'][1] = 1000 
print(d)
print(d_2)

{'a': [100, 200, 300], 'b': 20, 'c': 30}
{'a': [100, 200, 300], 'b': 20, 'c': 30}
{'a': [100, 1000, 300], 'b': 20, 'c': 30}
{'a': [100, 1000, 300], 'b': 20, 'c': 30}

In [27]:
d = {"a": 1, "b": 2}
print("d")
print(d)
print(id(d))
d2 = d 
print("d2")
print(d2)
print(id(d2))
d3 = d.copy()
print("d3")
print(d3)
print(id(d3))
d4 = dict(d)
print("d4")
print(d4)
print(id(d4))

d
{'a': 1, 'b': 2}
2577557471360
d2
{'a': 1, 'b': 2}
2577557471360
d3
{'a': 1, 'b': 2}
2577574382720
d4
{'a': 1, 'b': 2}
2577557475072

In [28]:
print(d)
d['b'] = 1000 
print(d)
print(d2)
print(d3)
print(d4)

{'a': 1, 'b': 2}
{'a': 1, 'b': 1000}
{'a': 1, 'b': 1000}
{'a': 1, 'b': 2}
{'a': 1, 'b': 2}

### ***creating dictionary using iterables - list, tuples***

In [29]:
# creating dictionary using iterables - list, tuples
d = dict([("a",2), ("b", 4), ("c", 10)])
print(d)

{'a': 2, 'b': 4, 'c': 10}

In [30]:
d = dict([("a",2), ("b", 4), ("c", 10), ("d", 100, 2)])
print(d)

ValueError: dictionary update sequence element #3 has length 3; 2 is required

In [31]:
d = dict([("a",2), ("b", 4), ("c", 10), (100,"d")])
print(d)

{'a': 2, 'b': 4, 'c': 10, 100: 'd'}

In [32]:
d = dict((("a",2), ("b", 4), ("c", 10), (100,"d")))
print(d)

{'a': 2, 'b': 4, 'c': 10, 100: 'd'}

In [33]:
d = dict(("a",2), ("b", 4), ("c", 10), (100,"d"))
print(d)

TypeError: dict expected at most 1 argument, got 4

In [34]:
d = dict([("a",[1,2,3]), ("b", 4), ("c", 10), (100,"d")])
print(d)

{'a': [1, 2, 3], 'b': 4, 'c': 10, 100: 'd'}

In [35]:
d = dict([("a",[1,2,3]), ("b", 4), ("c", 10), (100,"d")], virat=120)
print(d)

{'a': [1, 2, 3], 'b': 4, 'c': 10, 100: 'd', 'virat': 120}

In [36]:
virat = "ABC"
d = dict([(virat, 120)])
print(d)
d2 = dict([(120, virat)])
print(d2)

{'ABC': 120}
{120: 'ABC'}

In [37]:
d = dict([("a",[1,2,3]), ("b", 4), ("c", 10), (100,"d")], virat=120, rohit=100)
print(d)

{'a': [1, 2, 3], 'b': 4, 'c': 10, 100: 'd', 'virat': 120, 'rohit': 100}

### ***Creating dictionary fromkeys method***

In [38]:
students = ['venky', 'viky', 'abi', 'sai', 'vasanth']
d = dict.fromkeys(students) # default value is None
print(d)

{'venky': None, 'viky': None, 'abi': None, 'sai': None, 'vasanth': None}

In [39]:
students = ['venky', 'viky', 'abi', 'sai', 'vasanth']
d = dict.fromkeys(students, 0)
print(d)

{'venky': 0, 'viky': 0, 'abi': 0, 'sai': 0, 'vasanth': 0}

In [40]:
students = ('venky', 'viky', 'abi', 'sai', 'vasanth')
d = dict.fromkeys(students, 0)
print(d)

{'venky': 0, 'viky': 0, 'abi': 0, 'sai': 0, 'vasanth': 0}

In [41]:
students = ('venky', 'viky', 'abi', 'sai', 'vasanth')
d = dict.fromkeys(students, [1,2,3])
print(d)

{'venky': [1, 2, 3], 'viky': [1, 2, 3], 'abi': [1, 2, 3], 'sai': [1, 2, 3], 'vasanth': [1, 2, 3]}

In [42]:
# keys and values in dictionary 
d = {'a': [12,20,30], 'b': (20,30,40), 'c': {12,30,40}, 'd': {10:20,20:30,30:40}} # dictionary inside dictionary 
print(d)

{'a': [12, 20, 30], 'b': (20, 30, 40), 'c': {40, 12, 30}, 'd': {10: 20, 20: 30, 30: 40}}

In [43]:
d = {(12,30,40): 'b'} # tuple as a key
print(d)

{(12, 30, 40): 'b'}

In [44]:
d = {(12,30,40): 'b', [12,30,40]: 'c'} # list as a key is not possible 
print(d)

TypeError: unhashable type: 'list'

In [45]:
# list, set, dictionaries - are mutable (so it cannot be passed as a key to a dictionary)
d = {(12,30,[12,30]): "A"}
print(d)

TypeError: unhashable type: 'list'

In [46]:
d = {"a": 12, "b": 13, "c": 100}
print(len(d))

3

In [47]:
d = {"a": 12, "b": 13, "c": 100, 1:"A", "1": "ABC", 1.0:"2", False: "True"}
print(d)
print(len(d))

{'a': 12, 'b': 13, 'c': 100, 1: '2', '1': 'ABC', False: 'True'}
6

### ***keys, values, items***

In [48]:
# keys, values, items 
d = {"Virat": 55.4, "Rohit": 46.9, "Sachin": 60.9}
print(d.keys())
print(d.values())
print(d.items())

dict_keys(['Virat', 'Rohit', 'Sachin'])
dict_values([55.4, 46.9, 60.9])
dict_items([('Virat', 55.4), ('Rohit', 46.9), ('Sachin', 60.9)])

In [49]:
for k in d.keys(): 
    print("Keys: -->", k)

Keys: --> Virat
Keys: --> Rohit
Keys: --> Sachin

In [50]:
for k in d.values(): 
    print("Values: -->", k)

Values: --> 55.4
Values: --> 46.9
Values: --> 60.9

In [51]:
for k in d.items(): 
    print("Items: -->", k)

Items: --> ('Virat', 55.4)
Items: --> ('Rohit', 46.9)
Items: --> ('Sachin', 60.9)

In [53]:
for k, v in d.items(): 
    print("Key: -->", k, "; Values-->", v)

Key: --> Virat ; Values--> 55.4
Key: --> Rohit ; Values--> 46.9
Key: --> Sachin ; Values--> 60.9

### ***Accessing in a dictionary***

In [54]:
d = {"Virat": 55.4, "Rohit": 46.9, "Sachin": 60.9}
d['Virat']

55.4

In [55]:
d['Sky']

KeyError: 'Sky'

### **get(key)**
#### - It is used to returns the value of given key
#### - If key is not in dictionary it returns default value
#### - If default value is not given it returns None keyword

In [56]:
# get() method 
d = {"Virat": 55.4, "Rohit": 46.9, "Sachin": 60.9}
d.get("Virat")

55.4

In [57]:
a = d.get("Sky")
b = d.get("Virat")
print(a)
print(b)

None
55.4

In [58]:
d.get("Sky", -1) # get(key, default_val)

-1

In [59]:
d.get("Sky", "Key Not Found") # get(key, default_val)

'Key Not Found'

### ***Modifying dictionary***
#### syntax: d[key]=value

In [2]:
d = {"Virat": 55.4, "Rohit": 46.9, "Sachin": 60.9}
d['Virat'] = [100,56,78] # keys in dictionary needs to be unique 
print(d)

{'Virat': [100, 56, 78], 'Rohit': 46.9, 'Sachin': 60.9}

In [3]:
# in operator 
'Virat' in d

True

In [4]:
'Virat' not in d

False

In [5]:
'Sky' not in d

True

In [6]:
"Sky" in d

False

In [7]:
"Sky" in d.values()

False

### ***Update(iterable)***
#### we can add multiple items to dictionary.
#### syntax: dict.update(iterables)

In [79]:
my_dict = {
    'name': 'New_buddy',
    'age':25,
    'profession':'DataScientist'
}
#other_dict = ['Education', 'BE'],['Salary', 100000]
other_dict = [['Education', 'BE'],['Salary', 100000]]
#other_dict = [('Education', 'BE'),('Salary', 100000)]
#other_dict = ('Education', 'BE'),('Salary', 100000)
#other_dict = (('Education', 'BE'),('Salary', 100000))
#other_dict = (['Education', 'BE'],['Salary', 100000])

my_dict.update(other_dict)
print(my_dict)

{'name': 'New_buddy', 'age': 25, 'profession': 'DataScientist', 'Education': 'BE', 'Salary': 100000}

In [67]:
my_dict = {"name": "Venky", "age": 26, "profession": "teaching"}
print(my_dict)

{'name': 'Venky', 'age': 26, 'profession': 'teaching'}

In [68]:
my_dict.update(name = "Viky", age = 30)
print(my_dict)

{'name': 'Viky', 'age': 30, 'profession': 'teaching'}

In [70]:
my_dict = {"name": "Venky", "age": 26, "profession": "teaching"}
other_dict = {"salary": 1000, "education": "Mtech"}
my_dict.update(other_dict)
my_dict

{'name': 'Venky',
 'age': 26,
 'profession': 'teaching',
 'salary': 1000,
 'education': 'Mtech'}

In [71]:
d = {"a": [12]}
d["a"].append(20)
print(d)

{'a': [12, 20]}

In [72]:
d = {"a": 1, "a": 2}
print(d)

{'a': 2}

In [73]:
my_dict = {"name": "Viky", "age": 30, "profession": "teaching"}

other_dict = ["salary", 10000], ["education", "btech"]
my_dict.update(other_dict)
type(other_dict)

tuple

In [74]:
my_dict

{'name': 'Viky',
 'age': 30,
 'profession': 'teaching',
 'salary': 10000,
 'education': 'btech'}

In [75]:
del my_dict['salary']
my_dict

{'name': 'Viky', 'age': 30, 'profession': 'teaching', 'education': 'btech'}

In [76]:
del my_dict
my_dict

NameError: name 'my_dict' is not defined

In [77]:
my_dict = {"name": "Viky", "age": 30, "profession": "teaching"}
other_dict = ["salary", 10000], ["education", "btech"]
my_dict.update(other_dict)
print(my_dict)

{'name': 'Viky', 'age': 30, 'profession': 'teaching', 'salary': 10000, 'education': 'btech'}

In [78]:
my_dict.clear()
my_dict

{}

### ***pop***
#### - It takes key as an argument and returns value of the given key
#### - If given key is not in dictionary then it returns default value provided
#### - If default value is not given then it throws key error

In [80]:
# pop method
d = {"Venky": 100, "Viky": 200, "Sendhil": 300, "Mani": 400}
d.pop()

TypeError: pop expected at least 1 argument, got 0

In [81]:
v = d.pop("Sendhil")
print(v)
print(type(v))
print(d)

300
<class 'int'>
{'Venky': 100, 'Viky': 200, 'Mani': 400}

In [82]:
print(d)

{'Venky': 100, 'Viky': 200, 'Mani': 400}

In [83]:
d.pop("Virat")

KeyError: 'Virat'

In [84]:
v = d.pop("Virat", 10)
print(v)
print(d)

10
{'Venky': 100, 'Viky': 200, 'Mani': 400}

In [85]:
v = d.pop("Venky", 10)
print(v)
print(d)

100
{'Viky': 200, 'Mani': 400}

### ***popitem***
#### - It removes and return last key value pair in the form of tuple
#### - It will not accept any argument

In [86]:
# popitem()
d = {"Venky": 100, "Viky": 200, "Sendhil": 300, "Mani": 400}
v = d.popitem() # returns a tuple of last key_value pair
print(v)
print(type(v))
print(d)

('Mani', 400)
<class 'tuple'>
{'Venky': 100, 'Viky': 200, 'Sendhil': 300}

In [87]:
d

{'Venky': 100, 'Viky': 200, 'Sendhil': 300}

In [88]:
d.popitem("Venky")

TypeError: dict.popitem() takes no arguments (1 given)