### ***Database:***
#### - collection of data is called `database`
#### ex: student database contains the data of students

### ***DBMS:***
#### - A software application used to manage our data

### ***Understanding how user interact with database:***

#### - user cannot interact with database directly
#### - user uses a software application to write queries
#### - later the software application decodes the query and perform required operation or actions on database

### ***Types of database:***

#### (1) `Relational database :` database in which data is stored in table form
#### ex: oracle, MySQL, mariadb
#### (2) `Non Relational database :` database in which data is not stored in table form
#### ex: mongo db

### ***why SQL?***
#### - we need a language to interact with database
#### - so we use SQL to interact with database, do some CRUD operation on data

### ***what is MYSQL?***
#### - It is a Specific Relational database management system(RDBMS) that uses SQL as its query language

----

### ***History of SQL:***
#### - SQL originated in the 1970 from IBM's research on relational database.
#### - It started as SEQUEL(structured english query language), later renamed sql due to trademark issues

### ***what is SQL?***

#### - SQL is a programming language that is used to communicate and manipulate data in databases
#### -  It helps user in performing CRUD(create, read, update, delete) operations in DB

### ***HOW SQL helps us?***

#### - SQL allows users to perform a variety of tasks related to database

#### (1) `Retrieving data  :` Extracting precise information from a database through queries

#### (2) `Manipulating data:` Adding, modifying or removing records within a database

#### (3) `Defining data    :` Creating and adjusting the structure of a database including tables, views and indexes

#### (4) `Controlling data :` managing database access by granting or revoking the permissions

### ***Types of SQL Commands:***

#### - SQL commands are divided into different categories based on their functionalities

### (1) Data Query Language(DQL Commands)
#### - DQL is used to retrieve data from the database
#### `command: SELECT`

### (2) Data Manipulation Language(DML Commands)
#### - DML is used to manipulate data stored in the database
#### `commands: INSERT, UPDATE, DELETE`

### (3) Data Definition Language(DDL Commands)
#### - DDL is used to define the structure and schema of the database
#### `commands: CREATE, ALTER, DROP, TRUNCATE, RENAME`

### (4) Data Control Language(DCL Commands)
#### - DCL deals with the control and security of data within the database
#### `commands: GRANT, REVOKE`

### (5) Transaction Control Language(TCL Commands)
#### - TCL is used to manage transactions within a database
#### `commands: COMMIT, ROLLBACK, SAVEPOINT`

----

### ***Important***
#### - Follow the MySQL installation jupyter notebook to complete the Installation setup

### ***Creation of Database:***
#### - Lets understand database design from an example, consider a college database

#### - database: School
#### - table1: Student(Sname, Rollno)
#### - table2: Teacher(Tname, Tid)
#### - Sname, Rollno, Tname, Tid are `attributes or characteristics`

### ***schema:***
#### - all the information of tables and their attributes is known as `schema`
### ***points important:***
#### - establish a server connection to create a database
#### - we can create multiple databases with different names in single server
#### - we can create multiple tables in single database

### ***Steps to create a Database:***

#### - Choose a DBMS(Database Management System)
#### - Connect to the server using command line tool or a graphical user interface
#### - Create a new Database
#### - Once the database is created, you can use the USE statement to create tables in the database
#### - Create Tables and insert data

### ***Creating a new Database:***


#### - we use the CREATE DATABASE statement to create a new database
#### - These commands are not case-sensitive
```
command:  CREATE DATABASE databaseName;
```
#### - Also to avoid errors we can use:
```
command: CREATE DATABASE IF NOT EXISTS databaseName;
```
#### - IF NOT EXISTS and IF EXISTS clauses are commonly used in conjunction with the CREATE TABLE and DROP TABLE statements to avoid errors
### ***Example_01:***
![](Database_Command_Images/Image_01.png)
### ***Example_02:***
![](Database_Command_Images/Image_02.png)
### ***Example_03:***
![](Database_Command_Images/Image_03.png)

### ***Deletion of Database:***

#### - we use the DROP DATABASE statement to delete a database
#### - Dropping a database means deleting the entire database, including all tables, data and other objects within it. DROP is a DDL Command
#### - These commands are not case-sensitive
```
command: DROP DATABASE databaseName;
```
#### - Also to avoid errors we can use:
```
command: DROP DATABASE IF EXISTS databaseName;
```
### ***Example_01:***
![](Database_Command_Images/Image_04.png)
### ***Example_02:***
![](Database_Command_Images/Image_05.png)
### ***Example_03:***
![](Database_Command_Images/Image_06.png)

### ***Using a Database:***

#### - we use the USE DATABASE statement to use a database
#### - These commands are not case-sensitive
```
command: USE databaseName;
```
### ***Example_01:***
![](Database_Command_Images/Image_07.png)
### ***Example_02:***
![](Database_Command_Images/Image_08.png)

### ***Showing a Database:***

#### - We use the SHOW DATABASE statement to see all the databases present in a server
```
command: SHOW DATABASES;
```
### ***Example_01:***
![](Database_Command_Images/Image_09.png)