### ***SQL Commands:***

#### (1) DQL : SELECT
#### (2) DML : INSERT, UPDATE, DELETE
#### (3) DDL : CREATE, ALTER, DROP, TRUNCATE, RENAME  

### ***ALTER Command:***

#### - ALTER is a DDL command used to modify(change) existing database objects, such as tables,indexes or constraints(schema)
#### - Let's see all the things ALTER can help us to do.
#### - So mostly it is used to modify the schema
#### - So we will mostly see how it can help in modification of columns like addition of new column, deletion of column, modification of column and much more

### ***ADD a column:***

```
QUERY:

    ALTER TABLE tableName
    ADD columnName datatype constraint;
```
![](Images/Image01(video16).png)
![](Images/Image02(video16).png)

### ***DROP a column:***
```
QUERY:

    ALTER TABLE tableName
    DROP COLUMN columnName;
```
![](Images/Image03(video16).png)
![](Images/Image04(video16).png)

### ***Modify the data type of an existing column:***


### ***MODIFY clause:***

#### - The MODIFY clause is oftenly used within an ALTER TABLE statement in SQL
#### - It allows us to change the definition or properties of an existing column in a table

```
QUERY:

    ALTER TABLE tableName
    MODIFY columnName newdatatype;
```
#### - The above command modifies columnName to a new datatype
![](Images/Image05(video16).png)

### ***Change the name of an existing columns:***

### ***CHANGE:***

#### - The CHANGE command is oftenly used within an ALTER TABLE statement in SQL
#### - It helps to change the name or data type of a column within a table
```
QUERY:

    ALTER TABLE tableName
    CHANGE oldcolumnName newcolumnName newdatatype;
```
#### -The above command changes the oldcolumnName to newcolumnName and also its datatype
![](Images/Image06(video16).png)
![](Images/Image07(video16).png)

### ***Rename the name of an existing column:***

### ***RENAME:***

#### - RENAME command is used to change the name of an existing database object, such as table, column, index or constraint
```
QUERY:

    ALTER TABLE tableName
    RENAME COLUMN oldcolumnName TO newcolumnName;
```
#### - The above command renames the oldcolumnName to newcolumnName
![](Images/Image08(video16).png)

----

### ***RENAME Command:***

### ***RENAME:***

#### - RENAME command is used to change the name of an existing database object, such as table, column, index or constraint
```
==> We cannot change database name simply due to its security concerns 
QUERY(Database Renaming):

    RENAME DATABASE olddatabasename TO newdatabasename;
```
```
QUERY(Table Renaming):

    RENAME TABLE oldTableName TO newTableName;
```
#### - The above command renames the oldTableName to newTableName
![](Images/Image09(video17).png)

```
QUERY(Column Renaming):

    ALTER TABLE tablename
    RENAME COLUMN oldcolumnname To newcolumnname;
```
#### - The above command renames the oldcolumnName to newcolumnName
![](Images/Image10(video17).png)
![](Images/Image11(video17).png)

----

### ***TRUNCATE Command:***

#### - This command removes all rows from the given table, leaving the table empty but preserving its structure
```
QUERY:

    TRUNCATE TABLE tableName;
```
![](Images/Image12(video18).png)
![](Images/Image13(video18).png)
![](Images/Image14(video18).png)
![](Images/Image15(video18).png)

----

### ***Difference between TRUNCATE, DELETE, DROP:***

### ***TRUNCATE:***
#### - Used to remove all rows from a table
```
command:

    TRUNCATE TABLE tableName;
```

### ***DELETE:***
#### - Used to remove specific rows from a table based on a condition
```
command: 

    DELETE FROM tableName
    WHERE condition;
```

### ***DROP:***
#### - Used to completely remove table
```
command:

    DROP TABLE tableName;
```

----

### ***Using DISTINCT to retrieve unique values:***

#### - DISTINCT keyword is used within the SELECT statement to retrieve unique values from a column or combination of columns
#### - To retrieve a list of unique values for col1
```
QUERY:
    SELECT DISTINCT col1
    FROM tableName;
```
#### - To return unique combination of col1 and col2
```
QUERY:
    SELECT DISTINCT col1, col2
    FROM tableName;
```
![](Images/Image16(video20).png)
![](Images/Image17(video20).png)
![](Images/Image18(video20).png)
![](Images/Image19(video20).png)
![](Images/Image20(video20).png)