### ***List***
#### 1. Initialize a list
#### 2. Accessing elements of a list & Slicing a list
#### 3. Adding elements to the list
#### 4. Taking user input of list
#### 5. Updating list items (single and multiple items)
#### 6. remove, del, clear, pop
#### 7. List Comprehensions

#### ***Initialize a list***

In [1]:
l = []
print(l)

[]

In [2]:
l = list()
print(l)

[]

In [3]:
l = list(" ")
print(l)
print(len(l))

[' ']
1

In [4]:
l = list("")
print(l)
print(len(l))

[]
0

In [5]:
t = tuple()
l = list(t)
print(l)

[]

In [6]:
name = "virat kohli"
l = list(name)
print(l)

['v', 'i', 'r', 'a', 't', ' ', 'k', 'o', 'h', 'l', 'i']

#### ***Accessing list elements***
##### syntax : variable[index]

In [7]:
l = [1, 2, 3, "a", "b", "c", "rcb", "gate", "da"]
print(l[4])
print(l[-4])

b
c

In [8]:
l = [[1, 2, 3, [4, 5]], [23, [12, 34], 9], 30, 21]
print(l[0][3][0])
print(l[0][3][-2])

4
4

In [9]:
print(l[0])
print(l[-4])
print(l[0][3])
print(l[0][-1])
print(l[-4][3])
print(l[-4][-1])

[1, 2, 3, [4, 5]]
[1, 2, 3, [4, 5]]
[4, 5]
[4, 5]
[4, 5]
[4, 5]

#### ***Slicing a list***

In [10]:
l = ["sachin", "sehwag", "gauti", "virat", "yuvi", "raina", "dhoni", "yousuf", "zaheer", "bumrah"]
print(len(l))

10

In [11]:
l[-4:2]

[]

In [12]:
alpha = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
print(alpha[-4:8])
print(alpha[-4:-8])

['g', 'h']
[]

In [13]:
l[6:1:-3]

['dhoni', 'virat']

In [14]:
l[6:2:-1]

['dhoni', 'raina', 'yuvi', 'virat']

In [15]:
l[::-1]

['bumrah',
 'zaheer',
 'yousuf',
 'dhoni',
 'raina',
 'yuvi',
 'virat',
 'gauti',
 'sehwag',
 'sachin']

In [16]:
l[::]

['sachin',
 'sehwag',
 'gauti',
 'virat',
 'yuvi',
 'raina',
 'dhoni',
 'yousuf',
 'zaheer',
 'bumrah']

In [17]:
l[1:7]

['sehwag', 'gauti', 'virat', 'yuvi', 'raina', 'dhoni']

In [18]:
l[1:8:2]

['sehwag', 'virat', 'raina', 'yousuf']

# Adding elements to the list

### ***append***
#### syntax: append(element)
#### - This method is used to add one element at a time
#### - Value is added at the end of the list

In [19]:
csk = ["Hayden", "Vijay", "Raina"]
print(csk)

['Hayden', 'Vijay', 'Raina']

In [20]:
print(csk)
csk.append("Dhoni")
print(csk)

['Hayden', 'Vijay', 'Raina']
['Hayden', 'Vijay', 'Raina', 'Dhoni']

In [21]:
print(csk)
csk.append("Jadeja")
print(csk)

['Hayden', 'Vijay', 'Raina', 'Dhoni']
['Hayden', 'Vijay', 'Raina', 'Dhoni', 'Jadeja']

In [23]:
l = [1,2,3,4]
print(l)
print(id(l))
l.append(5)
print(l)
print(id(l))
l.append("Venky")
print(l)
print(id(l))

[1, 2, 3, 4]
1982861794496
[1, 2, 3, 4, 5]
1982861794496
[1, 2, 3, 4, 5, 'Venky']
1982861794496

In [24]:
print(l)

[1, 2, 3, 4, 5, 'Venky']

In [25]:
l.append("rbr", "jay")

TypeError: list.append() takes exactly one argument (2 given)

In [26]:
l.append(["rbr", "jay"])
print(l)

[1, 2, 3, 4, 5, 'Venky', ['rbr', 'jay']]

In [27]:
a = [1,2,3]
a.append(('venky',"ev"))
print(a)

[1, 2, 3, ('venky', 'ev')]

In [28]:
l = l.append(["Hari", "Sriniwas"])
print(l)

None

In [29]:
numbers = [1,2,3,4,5]
print(numbers)
print(id(numbers))
k = numbers.append(6)
print(id(k))
print(k)
print(numbers)
print(id(numbers))
print(type(numbers))
numbers = numbers.append(7)
print(numbers)
print(id(numbers))
print(type(numbers))

[1, 2, 3, 4, 5]
1982878843712
140728312630032
None
[1, 2, 3, 4, 5, 6]
1982878843712
<class 'list'>
None
140728312630032
<class 'NoneType'>

In [30]:
l = [1,2,3]
l.append(4)
print(l)

[1, 2, 3, 4]

In [31]:
l.append([5,6])
print(l)

[1, 2, 3, 4, [5, 6]]

In [33]:
indian_batting = ["Rohit", "Virat", "PANT","SKY"]
indian_batting[1] = "Jasiwal"
print(indian_batting)

['Rohit', 'Jasiwal', 'PANT', 'SKY']

### ***insert***
#### syntax: insert(index, element)
#### - This method is used to add one element at particular index position
#### - If index value is more than length of list, element is added either beginning or end based on the positive index or negative index

In [32]:
indian_batting = ["Rohit", "Virat", "PANT","SKY"]
indian_batting.insert(1, "Jaiswal")
print(indian_batting)

['Rohit', 'Jaiswal', 'Virat', 'PANT', 'SKY']

In [34]:
indian_batting = ["Rohit", "Virat", "PANT","SKY"]
indian_batting.insert(1, "Jaiswal") # ro, ja, vi, pa, sky
indian_batting.insert(2, "Dhoni") # ro, ja, dhoni, vi, pa, sky
print(indian_batting)

['Rohit', 'Jaiswal', 'Dhoni', 'Virat', 'PANT', 'SKY']

In [35]:
indian_batting = ["Rohit", "Virat", "PANT","SKY"]
ind_bat = indian_batting.insert(1, "Jaiswal")
print(ind_bat)
print(indian_batting)

None
['Rohit', 'Jaiswal', 'Virat', 'PANT', 'SKY']

In [36]:
l = [1,2,3,4,5]
print(l)
print(id(l))
l.insert(2,10)
print(l)
print(id(l))

[1, 2, 3, 4, 5]
1982878964992
[1, 2, 10, 3, 4, 5]
1982878964992

In [37]:
l = [1,2,3]
l.insert(10, 'a')
print(l)

[1, 2, 3, 'a']

In [38]:
l = [1,2,3]
l.insert(-10, 'a')
print(l)

['a', 1, 2, 3]

In [39]:
l = [1,2,3,4,5,6]
l.insert(2, "cab")
print(l)

[1, 2, 'cab', 3, 4, 5, 6]

In [40]:
l = [1,2,3,4,5,6]
l.insert(-2, "cab")
print(l)

[1, 2, 3, 4, 'cab', 5, 6]

In [41]:
l = [1,2,3,4,5,6]
l.insert(2, "a")
print(l)

[1, 2, 'a', 3, 4, 5, 6]

In [42]:
l = [1,2,3,4,5,6]
l.insert(-2, "a")
print(l)

[1, 2, 3, 4, 'a', 5, 6]

In [43]:
l = [1,2,3,4,5]
l.insert(2, [10, 20, 30])
print(l)

[1, 2, [10, 20, 30], 3, 4, 5]

### ***extend***
#### syntax: extend(iterable)
#### - This method is used to add mutiple values to list at a time
#### - It takes only one argument which is of collection data type

In [44]:
subjects = ["Linear Algebra", "Calculus", "Python", "DSA", "ML"]
print(subjects)

['Linear Algebra', 'Calculus', 'Python', 'DSA', 'ML']

In [45]:
new_subjects = ["Probability", "Statistics", "DBMS"]
subjects.append(new_subjects)
print(subjects)

['Linear Algebra', 'Calculus', 'Python', 'DSA', 'ML', ['Probability', 'Statistics', 'DBMS']]

In [46]:
subjects = ["Linear Algebra", "Calculus", "Python", "DSA", "ML"]
print(subjects)
new_subjects = ["Probability", "Statistics", "DBMS"]
subjects.extend(new_subjects)
print(subjects)

['Linear Algebra', 'Calculus', 'Python', 'DSA', 'ML']
['Linear Algebra', 'Calculus', 'Python', 'DSA', 'ML', 'Probability', 'Statistics', 'DBMS']

In [47]:
alpha = ["a","b","c"]
alpha.append("def")
print(alpha)
alpha.extend("ghi")
print(alpha)

['a', 'b', 'c', 'def']
['a', 'b', 'c', 'def', 'g', 'h', 'i']

In [48]:
alpha = ["a","b","c"]
alpha.append("def")
print(alpha)
alpha.extend("ghi klm nop")
print(alpha)

['a', 'b', 'c', 'def']
['a', 'b', 'c', 'def', 'g', 'h', 'i', ' ', 'k', 'l', 'm', ' ', 'n', 'o', 'p']

In [49]:
a = [1, 2, 3]
b = [2, 3, 4]
c = a.extend(b)
print(a)
print(b)
print(c)

[1, 2, 3, 2, 3, 4]
[2, 3, 4]
None

In [50]:
alpha = ["a","b","c"]
alpha.append(10)
print(alpha)
alpha.extend((10,20,30))
print(alpha)

['a', 'b', 'c', 10]
['a', 'b', 'c', 10, 10, 20, 30]

In [1]:
l = [1, 2, 3, 4]
l.extend([10,20,30,(100,200)])
print(l)

[1, 2, 3, 4, 10, 20, 30, (100, 200)]

In [51]:
alpha = ["a","b","c"]
alpha.append(10)
print(alpha)
alpha.extend({10,20,30})
print(alpha)

['a', 'b', 'c', 10]
['a', 'b', 'c', 10, 10, 20, 30]

In [52]:
s = {1,"a",2,"c"}
for element in s:
    print(element)

c
1
2
a

### ***Taking user input to list***

In [53]:
input_user = input("Enter the input: ").split()
print(input_user)
print(len(input_user))
print(type(input_user))

Enter the input:  1 2 3 4

['1', '2', '3', '4']
4
<class 'list'>

In [54]:
n = int(input("Enter the size of the list : "))
new_list = []
for i in range(n):
    new_list.append(int(input("Enter the element")))
print(new_list)

Enter the size of the list :  5
Enter the element 10
Enter the element 20
Enter the element 199
Enter the element 200
Enter the element 1

[10, 20, 199, 200, 1]

### ***Updating list items***

#### syntax: variable[index] = value
#### syntax: variable[start_index : end_index] = list of values

In [55]:
players = ["Rohit", "Jaiswal", "Virat", "Pant", "Sky", "Dube", "Hardik", "Jaddu"]
print(players)
players[5] = "Rinku"
print(players)

['Rohit', 'Jaiswal', 'Virat', 'Pant', 'Sky', 'Dube', 'Hardik', 'Jaddu']
['Rohit', 'Jaiswal', 'Virat', 'Pant', 'Sky', 'Rinku', 'Hardik', 'Jaddu']

In [56]:
players = ["Rohit", "Jaiswal", "Virat", "Pant", "Sky", "Dube", "Hardik", "Jaddu"]
print(players)
players[5:] = "Rinku"
print(players)

['Rohit', 'Jaiswal', 'Virat', 'Pant', 'Sky', 'Dube', 'Hardik', 'Jaddu']
['Rohit', 'Jaiswal', 'Virat', 'Pant', 'Sky', 'R', 'i', 'n', 'k', 'u']

In [58]:
players = ["Rohit", "Jaiswal", "Virat", "Pant", "Sky", "Dube", "Hardik", "Jaddu"]
print(players)
players[5:] = ["Rinku"]
print(players)

['Rohit', 'Jaiswal', 'Virat', 'Pant', 'Sky', 'Dube', 'Hardik', 'Jaddu']
['Rohit', 'Jaiswal', 'Virat', 'Pant', 'Sky', 'Rinku']

In [59]:
players = ["Rohit", "Jaiswal", "Virat", "Pant", "Sky", "Dube", "Hardik", "Jaddu"]
print(players)
players[5:] = ["Rinku", "Tewatia", "Ashuthosh", "Shashank"]
print(players)

['Rohit', 'Jaiswal', 'Virat', 'Pant', 'Sky', 'Dube', 'Hardik', 'Jaddu']
['Rohit', 'Jaiswal', 'Virat', 'Pant', 'Sky', 'Rinku', 'Tewatia', 'Ashuthosh', 'Shashank']

In [60]:
players = ["Rohit", "Jaiswal", "Virat", "Pant", "Sky", "Dube", "Hardik", "Jaddu"]
print(players)
players[5:7] = ["Rinku", "Tewatia", "Ashuthosh", "Shashank"]
print(players)

['Rohit', 'Jaiswal', 'Virat', 'Pant', 'Sky', 'Dube', 'Hardik', 'Jaddu']
['Rohit', 'Jaiswal', 'Virat', 'Pant', 'Sky', 'Rinku', 'Tewatia', 'Ashuthosh', 'Shashank', 'Jaddu']

In [61]:
players = ["Rohit", "Jaiswal", "Virat", "Pant", "Sky", "Dube", "Hardik", "Jaddu"]
print(players)
print(players[5:2])
players[5:2] = ["Rinku", "Tewatia"]
print(players)

['Rohit', 'Jaiswal', 'Virat', 'Pant', 'Sky', 'Dube', 'Hardik', 'Jaddu']
[]
['Rohit', 'Jaiswal', 'Virat', 'Pant', 'Sky', 'Rinku', 'Tewatia', 'Dube', 'Hardik', 'Jaddu']

### ***remove***
#### syntax: remove(value)
#### - It takes values as argument. If value is repeated more than once then it remove the first occurrence of value in list
#### - If value is not present in list, then it throw value error

In [62]:
l = [1,2,3,4,5]
print(l)
l.remove(3)
print(l)

[1, 2, 3, 4, 5]
[1, 2, 4, 5]

In [63]:
l = [1,2,3,4,5]
print(l)
l.remove(6)
print(l)

[1, 2, 3, 4, 5]

ValueError: list.remove(x): x not in list

In [64]:
l = [1,2,3,6,4,3,5,3]
print(l)
l.remove(3)
print(l)

[1, 2, 3, 6, 4, 3, 5, 3]
[1, 2, 6, 4, 3, 5, 3]

In [65]:
l = [1,2,3,6,4,3,5,3]
print(l)
a = l.remove(3)
print(a)
print(l)

[1, 2, 3, 6, 4, 3, 5, 3]
None
[1, 2, 6, 4, 3, 5, 3]

### ***pop***
#### syntax: pop(index)
#### - It takes index as argument and it returns the removed value
#### - If index is not given by default it take index as -1 and return the last element of list

In [72]:
l = [1,2,3,4,5]
print(l)
a = l.pop(3)
print(l)
print(a)

[1, 2, 3, 4, 5]
[1, 2, 3, 5]
4

In [73]:
l = [1,2,3,4,5]
print(l)
a = l.pop()
print(l)
print(a)

[1, 2, 3, 4, 5]
[1, 2, 3, 4]
5

In [74]:
l = [1,2,3,4,5]
print(l)
a = l.pop(10)
print(l)
print(a)

[1, 2, 3, 4, 5]

IndexError: pop index out of range

### ***clear***
#### - It uses to empty the list from non empty state

In [71]:
l = [1,2,3,4,5]
print(l)
l.clear()
print(l)

[1, 2, 3, 4, 5]
[]

### ***del***
#### - It uses to delete an element or mulitple elements from the list at a time

In [66]:
l = [1,2,3,4,5]
print(l)
del l[3]
print(l)

[1, 2, 3, 4, 5]
[1, 2, 3, 5]

In [67]:
l = [1,2,3,4,5]
print(l)
del l[3:]
print(l)

[1, 2, 3, 4, 5]
[1, 2, 3]

In [68]:
l = [1,2,3,4,5]
print(l)
del l[1:4]
print(l)

[1, 2, 3, 4, 5]
[1, 5]

In [69]:
l = [1,2,3,4,5]
print(l)
del l[:]
print(l)

[1, 2, 3, 4, 5]
[]

In [70]:
l = [1,2,3,4,5]
print(l)
del l # delete the entire list 
print(l)

[1, 2, 3, 4, 5]

NameError: name 'l' is not defined

### ***Comprehensions***
#### - It is a single statement where we write and represent mulitple line of code in single line of code
```
syntax:

    1. [var for_loop]

    2. [var for_loop if_condition]

    3. [var if_else for_loop]
```

In [75]:
n = []
for i in range(1,101):
    n.append(i)
print(n)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [76]:
l = [i for i in range(1,101)]
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [77]:
l = [i*2 for i in range(1,5)]
print(l)

[2, 4, 6, 8]

In [78]:
n = []
for i in range(1,11):
    if i%2 == 0:
        n.append(i)
print(n)

[2, 4, 6, 8, 10]

In [79]:
l = [i for i in range(1,11) if i%2==0]
print(l)

[2, 4, 6, 8, 10]

In [80]:
# if even numbers add 5 to it 
# else add 10 to it 
# [1,2,3,4,5,6]
# [11,7,13,9,15,11]

l = [i+5 for i in range(1,7) if i%2==0 else i+10]
print(l)

SyntaxError: invalid syntax (1031434063.py, line 6)

In [81]:
l = [i+5 if i%2==0 else i+10 for i in range(1,10)]
print(l)

[11, 7, 13, 9, 15, 11, 17, 13, 19]

In [82]:
l = [1,2,3]
m = [2,3,4]
n = []
for i in l:
    for j in m:
        if i+j>3:
            n.append((i,j))
print(n)

[(1, 3), (1, 4), (2, 2), (2, 3), (2, 4), (3, 2), (3, 3), (3, 4)]

### ***copy methods***
#### - shallow copy
#### - deep copy

In [83]:
l = [1,2,3,4,5]
m = l 
print(m)
print(l)
print(id(m))
print(id(l))

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
1982879463616
1982879463616

In [84]:
l[0] = 1000 
print(m)
print(l)

[1000, 2, 3, 4, 5]
[1000, 2, 3, 4, 5]

In [85]:
a = [1,2,3]
b = [1,2,3]
print(id(a))
print(id(b))

1982879453312
1982879285440

### ***shallow copy***

In [86]:
l = [1,2,3,4,5]
m = l.copy()
print(m)
print(l)
print(id(m))
print(id(l))
l[0] = 1000 
print(l)
print(m)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
1982879506880
1982879261312
[1000, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [87]:
sub_list = ["a","b","c"]
l = [1,2,3,sub_list]
m = l.copy()
print(l)
print(m)
print(id(l))
print(id(m))
sub_list[1] = "Krishna"
print(l)
print(m)
print(id(l))
print(id(m))

[1, 2, 3, ['a', 'b', 'c']]
[1, 2, 3, ['a', 'b', 'c']]
1982879429440
1982879430528
[1, 2, 3, ['a', 'Krishna', 'c']]
[1, 2, 3, ['a', 'Krishna', 'c']]
1982879429440
1982879430528

In [5]:
sub_list = ["a","b","c"]
l = [1,2,3,sub_list]
m = l.copy()
print(l)
print(m)
print(id(l))
print(id(m))
print(id(l[3]))
print(id(m[3]))
sub_list[1] = "Krishna"
print(l)
print(m)
print(id(l))
print(id(m))
print(id(l[3]))
print(id(m[3]))

[1, 2, 3, ['a', 'b', 'c']]
[1, 2, 3, ['a', 'b', 'c']]
2643053839744
2643053842432
2643053839936
2643053839936
[1, 2, 3, ['a', 'Krishna', 'c']]
[1, 2, 3, ['a', 'Krishna', 'c']]
2643053839744
2643053842432
2643053839936
2643053839936

### ***deep copy***

In [6]:
import copy
sub_list = ["a","b","c"]
l = [1,2,3,sub_list]
m = copy.deepcopy(l)
print(l)
print(m)
print(id(l))
print(id(m))
print(id(l[3]))
print(id(m[3]))
l[1] = "krishna"
print(l)
print(m)
print(id(l))
print(id(m))
print(id(l[3]))
print(id(m[3]))

[1, 2, 3, ['a', 'b', 'c']]
[1, 2, 3, ['a', 'b', 'c']]
2643053837376
2643053842624
2643053516352
2643053642432
[1, 'krishna', 3, ['a', 'b', 'c']]
[1, 2, 3, ['a', 'b', 'c']]
2643053837376
2643053842624
2643053516352
2643053642432

In [88]:
import copy
sub_list = ["a","b","c"]
l = [1,2,3,sub_list]
m = copy.deepcopy(l)
print(l)
print(m)
print(id(l))
print(id(m))
sub_list[1] = "krishna"
print(l)
print(m)
print(id(l))
print(id(m))

[1, 2, 3, ['a', 'b', 'c']]
[1, 2, 3, ['a', 'b', 'c']]
1982879430720
1982879410368
[1, 2, 3, ['a', 'krishna', 'c']]
[1, 2, 3, ['a', 'b', 'c']]
1982879430720
1982879410368