### ***String Operations***
#### 1. Concatenate Operator (+)
#### 2. Repetition Opearator (*)
#### 3. String Comparision Operator (==, !=, >=, <=, >, <)
#### 4. Membership Operator (in, not in)
#### 5. Escape Sequence Operator (\\, \n, \b, \ooo, \xhh)
#### 6. String Formatting Operator (%s, %d, %f)

In [5]:
# concatenate operator

print("Hello"+"World")
print("Hello "+"World")
print("Hello"+" World")
print("Hello"+" "+"World")

HelloWorld
Hello World
Hello World
Hello World

In [8]:
# Repetition operator

print('"learnPython"*-1 :', "learnPython"*-1)
print('"learnPython"*0  :', "learnPython"*0)
print('"learnPython"*1  :', "learnPython"*1)
print('"learnPython"*2  :', "learnPython"*2)

"learnPython"*-1 :
"learnPython"*0  :
"learnPython"*1  : learnPython
"learnPython"*2  : learnPythonlearnPython

In [9]:
# String comparision operator

print("Python"=="Python")
print("Python"=="python")

True
False

In [10]:
print("Python"!="Python")
print("Python"!="python")

False
True

In [11]:
print("Python"<="Python")
print("Python"<="python")

True
True

In [12]:
print("Python"<"Python")
print("Python"<"python")

False
True

In [13]:
print("Python">="Python")
print("Python">="python")

True
False

In [14]:
print("Python">"Python")
print("Python">"python")

False
False

In [1]:
print("Pythond"=="Pythona")
print("Pythond"<"Pythonad")
print("Python"<"PythonA")
print("Python">"PythonA")

False
False
True
False

In [17]:
# membership operator

# in, not in

print("py" in "python")
print("py" not in "python")
print("ton" not in "python")
print("to" not in "python")

True
False
True
True

In [18]:
# Escape Sequence Operator (\, \n, \b, \ooo, \xhh)

print("Today's learning concept "Detailed information of strings"")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2669167003.py, line 3)

In [19]:
print("Today's learning concept \"Detailed information of strings\"")

Today's learning concept "Detailed information of strings"

In [3]:
print("Hurrah! we won today's match ")

Hurrah! we won today's match

In [20]:
print('Today\'s learning concept "Detailed information of strings"')

Today's learning concept "Detailed information of strings"

In [22]:
# \n : new line

print("Topic 1: String operations\nTopic 2: String Slicing\nTopic 3: String Formatting\nTopic 4: String Methods")

Topic 1: String operations
Topic 2: String Slicing
Topic 3: String Formatting
Topic 4: String Methods

In [23]:
print("String\nOperations")

String
Operations

In [24]:
# \b - backspace

print("learn python \b")
print("learn python\b")
print("learn \bpython")
print("learn\bpython")

learn python
learn pytho
learnpython
learpython

In [25]:
print("learn\b pyth\bon \b")

lear pyton

In [26]:
# \ooo

print('\141')
print('\141\142')
print('\1412')
print('\141789456123159753468')
print('\1412akertsdfgbvwryuiop')

a
ab
a2
a789456123159753468
a2akertsdfgbvwryuiop

In [27]:
# \xhh

print('\x61')

a

In [29]:
ord('\x61')

97

In [30]:
chr('\x61')

TypeError: 'str' object cannot be interpreted as an integer

In [31]:
ord('a')

97

In [32]:
chr(97)

'a'

In [33]:
# string formatting operator

subject = "python"
print("java is learning today")
print("%s is learning today"%subject)

java is learning today
python is learning today

In [34]:
name    = "ramu"
country = "India"
print("My name is sam. Iam from Russia")
print("My name is %s. Iam from %s"%(name, country))

My name is sam. Iam from Russia
My name is ramu. Iam from India

In [35]:
print("My name is %s. Iam from %s"%(country, name))

My name is India. Iam from ramu

### ***Note:***
#### while doing string formatting, we should take care order of arguments %(var1, var2)

In [36]:
name = "charlie"
mnum = 7894561230
print("Iam %s and my mobile number is %d"%(name, mnum))

Iam charlie and my mobile number is 7894561230

In [37]:
print("Iam %s and my mobile number is %d"%(mnum, name))

TypeError: %d format: a real number is required, not str

In [38]:
score  = 23.5
score1 = 23
score2 = 23.852963147
print("score is %f"%score)
print("score1 is %f"%score1)
print("score2 is %f"%score2)

score is 23.500000
score1 is 23.000000
score2 is 23.852963

In [39]:
print("score is %d"%score)
print("score1 is %d"%score1)
print("score2 is %d"%score2)

score is 23
score1 is 23
score2 is 23

In [40]:
print("score is %s"%score)
print("score1 is %s"%score1)
print("score2 is %s"%score2)

score is 23.5
score1 is 23
score2 is 23.852963147

### ***Point to remember***
#### - %s accepts strings, float,integer
#### - %d accepts float, integer
#### - %f accepts float, integer

### ***StringSlicing***
#### - It returns a sequence of values from a collection data types i.e string, list, tuple
```
syntax:

    variable[start : end : step]

1. start, end, step ==> all are integers

2. start ==> 0 (default)

3. end   ==> length of string (default)

4. step  ==> 1 (default)
```

In [41]:
name = "DataScience Learner"
print(name)
print(len(name))

DataScience Learner
19

In [42]:
print(name[5])
print(name[5:8])
print(name[5:9])
print(name[5:10])
print(name[5:11])

c
cie
cien
cienc
cience

In [43]:
print(name[10:19])
print(name[10:19:2])
print(name[10:19:3])
print(name[10:24])

e Learner
eLanr
een
e Learner

In [45]:
print(name[2:])
print(name[:15])

taScience Learner
DataScience Lea

In [46]:
print(name[15:10])

In [47]:
print(name[15:10:-1])

raeL

In [48]:
print(name[18:10:-2])

rnaL

In [49]:
print(name[5: len(name)+10])

cience Learner

In [50]:
print(name[5:18:200])

c

In [52]:
print(name[-19:-13])
print(name[-19:-13:-1])
print(name[-13:-19])
print(name[-13:-19:-1])

DataSc


icSata

In [53]:
print(name[::-1])
print(name[::-2])

renraeL ecneicSataD
rnaLeniStD

In [54]:
print(name[::-1][::-1])

DataScience Learner

In [57]:
print(name[11:-11])
print(name[-11:11:-1])

In [58]:
var = "Madam"
var2= "MadaM"
print(var)
print(var[::-1])
print(var==var[::-1])

Madam
madaM
False

In [59]:
print(var2)
print(var2[::-1])
print(var2==var2[::-1])

MadaM
MadaM
True

In [61]:
print(name[15:10:0])

ValueError: slice step cannot be zero

### ***String Formatting***
#### 1. % operator
#### 2. string.format()
#### 3. fstring

In [62]:
name = "Suresh"
age  = 26 
print("My name is %s and I'm %d years old"%(name, age)) # % operator

My name is Suresh and I'm 26 years old

In [63]:
# default arguments 
print("My name is {} and I'm {} years old.".format(name, age))

My name is Suresh and I'm 26 years old.

In [64]:
# positional arguments 
print("My name is {1} and I'm {0} years old.".format(name, age))
print("My name is {1} and I'm {1} years old.".format(name, age))
print("My name is {0} and I'm {0} years old.".format(name, age))
print("My name is {0} and I'm {2} years old.".format(name, age, "29"))

My name is 26 and I'm Suresh years old.
My name is 26 and I'm 26 years old.
My name is Suresh and I'm Suresh years old.
My name is Suresh and I'm 29 years old.

In [66]:
# keyword arguments
print("My name is {name} and I'm {age} years old.".format(age=26, name="Suresh"))

My name is Suresh and I'm 26 years old.

In [67]:
# mixed arguments
print("My name is {} and I'm {age} years old.".format("Suresh", age=26))
print("My name is {0} and I'm {age} years old.".format("Suresh", age=26))
print("My name is {1} and I'm {age} years old.".format("Suresh", "Raju", age=26))

My name is Suresh and I'm 26 years old.
My name is Suresh and I'm 26 years old.
My name is Raju and I'm 26 years old.

In [68]:
print("My name is {1} and I'm {age} years old.".format(age=26, "Suresh"))

SyntaxError: positional argument follows keyword argument (3714952757.py, line 1)

In [69]:
# integer arguments 
print("Class ends around {:d} AM".format(9))

Class ends around 9 AM

In [70]:
print("Class ends around {:d} AM".format(9.30))

ValueError: Unknown format code 'd' for object of type 'float'

In [71]:
print("Class ends around {:d} AM".format("9"))

ValueError: Unknown format code 'd' for object of type 'str'

In [4]:
print("{:f}".format(25))

25.000000

In [5]:
print("{:f}".format('25'))

ValueError: Unknown format code 'f' for object of type 'str'

In [72]:
# float arguments 
print("Float value is given by {:f} ".format(120.4568976))
print("Float round off to 2 digits: {:.2f} ".format(120.4568976))
print("Float round off to 2 digits: {:.3f} ".format(120.4568976))

Float value is given by 120.456898
Float round off to 2 digits: 120.46
Float round off to 2 digits: 120.457

In [6]:
# padding
print("Learning padding for decimal number {:10d}".format(12897))
print("Learning padding for float number {:8.3f}".format(10.5678))
print("Learning padding for decimal number {:010d}".format(12897))
print("Learning padding for float number {:08.3f}".format(10.5678))
print("Learning padding for decimal number {:010d}".format(12897))
print("Learning padding for float number {:010.3f}".format(10.5678))

Learning padding for decimal number      12897
Learning padding for float number   10.568
Learning padding for decimal number 0000012897
Learning padding for float number 0010.568
Learning padding for decimal number 0000012897
Learning padding for float number 000010.568

In [75]:
 # integer with left alignment 
print("Left Alignment Integer: {:<5d}".format(12))
print("Right Alignment Integer: {:>5d}".format(12))
print("Center Alignment Integer: {:^5d}".format(12))

Left Alignment Integer: 12
Right Alignment Integer:    12
Center Alignment Integer:  12

In [76]:
print("Left Alignment Integer: {:<05d}".format(12))
print("Right Alignment Integer: {:>05d}".format(12))
print("Center Alignment Integer: {:^05d}".format(12))
print("Center Alignment Integer: {:^06d}".format(12))
print("Center Alignment Integer: {:^07d}".format(12))

Left Alignment Integer: 12000
Right Alignment Integer: 00012
Center Alignment Integer: 01200
Center Alignment Integer: 001200
Center Alignment Integer: 0012000

In [77]:
# strings 
print("Left Alignment Integer: {:*<20}".format("Venkatesh"))
print("Right Alignment Integer: {:#>20}".format("Venkatesh"))
print("Center Alignment Integer: {:0^20}".format("Venkatesh"))

Left Alignment Integer: Venkatesh***********
Right Alignment Integer: ###########Venkatesh
Center Alignment Integer: 00000Venkatesh000000

In [78]:
# truncating the strings 
print("Truncated String: {:.3}".format("Python"))
print("Truncated String: {:.2}".format("Python"))
print("Truncated String with RA: {:*>10.2}".format("Python"))
print("Truncated String with LA: {:*<10.2}".format("Python"))
print("Truncated String with LA: {:*^10.2}".format("Python"))

Truncated String: Pyt
Truncated String: Py
Truncated String with RA: ********Py
Truncated String with LA: Py********
Truncated String with LA: ****Py****

In [79]:
print("Binary Value: {0:b}, Oct Value: {0:o}, Hex Value: {0:x}".format(12))
print("Binary Value: {:b}, Oct Value: {:o}, Hex Value: {:x}".format(12, 14, 15))

Binary Value: 1100, Oct Value: 14, Hex Value: c
Binary Value: 1100, Oct Value: 16, Hex Value: f

In [80]:
1_000_000+1_000

1001000

In [81]:
1,000,000+1,000

(1, 0, 1, 0)

In [82]:
1,000+1,000

(1, 1, 0)

In [83]:
name = "Virat"
age = 35 
print(f"Hello {name} and your age is {age} now")
print(F"Hello {name} and your age is {age} now")

Hello Virat and your age is 35 now
Hello Virat and your age is 35 now

In [85]:
print(f"""Name: Virat
Age: 36 
Playing Cricket""")

Name: Virat
Age: 36
Playing Cricket

In [86]:
print(f"Printing Braces {{}}")

Printing Braces {}

In [87]:
float_val = 12.678 
print(f"Float Value is given by : {float_val: .2f}")

Float Value is given by :  12.68

In [88]:
1,000+5,178

(1, 5, 178)

In [89]:
1,2,3

(1, 2, 3)

### ***String Methods***

### ***strip***
#### syntax: strip(arg)
#### - By default, It removes the spaces present at the beginning and end of the string
#### - If we provide substring as argument, then it removes the matched characters present at the beginning and end of the string
#### - rstrip ==> It removes the matched characters of a substring on the right side of a string
#### - lstrip ==> It removes the matched characters of a substring on the left side of a string

In [90]:
name = "Rohit Sharma"
name.strip()

'Rohit Sharma'

In [92]:
name = "  Rohit Sharma"
name.strip()

'Rohit Sharma'

In [93]:
name = "  Rohit Sharma "
name.strip()

'Rohit Sharma'

In [94]:
name = ".a..Rohit Sharma..b."
name.strip(".")

'a..Rohit Sharma..b'

In [96]:
name = ".a..Rohit Sharma..b."
name.strip(".Ra")

'ohit Sharma..b'

In [97]:
name = ".a..Rohit Sharma..b."
name.strip(".rabm")

'Rohit Sh'

In [98]:
name = ".a..Rohit Sharma..b."
name.lstrip(".Rabm")

'ohit Sharma..b.'

In [99]:
name = " .a..Rohit Sharma..b. "
name.lstrip()

'.a..Rohit Sharma..b. '

In [100]:
name = ".a..Rohit Sharma..b."
name.rstrip(".rabm")

'.a..Rohit Sh'

In [101]:
name = " .a..Rohit Sharma..b. "
name.rstrip()

' .a..Rohit Sharma..b.'

### ***split***
#### syntax:  split(arg, max split)
#### - It converts the given string into a list of substrings. By default, It will take space as a delimiter
#### - We can controls the splitting of the string with the max split argument
#### - rsplit ==> It splits the given string from the right side and converts to a list of substrings

In [102]:
message = "All the best for your ongoing Exams"
message.split()

['All', 'the', 'best', 'for', 'your', 'ongoing', 'Exams']

In [103]:
message = "Rohit, Virat, Pant, and Surya were the India's best batters"
message.split()

['Rohit,',
 'Virat,',
 'Pant,',
 'and',
 'Surya',
 'were',
 'the',
 "India's",
 'best',
 'batters']

In [104]:
message = "Rohit, Virat, Pant, and Surya were the India's best batters"
m = message.split("Virat")
for l in m:
    print(l)

Rohit,
, Pant, and Surya were the India's best batters

In [105]:
message = "Rohit, Virat, Pant, and Surya were the India's best batters"
message.split(', ')

['Rohit', 'Virat', 'Pant', "and Surya were the India's best batters"]

In [106]:
message = "All the best for your ongoing Exams"
message.split(" ", maxsplit=3)

['All', 'the', 'best', 'for your ongoing Exams']

In [107]:
message = "All the best for your ongoing Exams"
message.rsplit()

['All', 'the', 'best', 'for', 'your', 'ongoing', 'Exams']

In [108]:
message = "All the best for your ongoing Exams"
message.rsplit(" ", maxsplit=2)

['All the best for your', 'ongoing', 'Exams']

In [109]:
message = "Rohit, Virat, Pant, and Surya were the India's best batters"
m = message.rsplit("Virat")
for l in m:
    print(l)

Rohit,
, Pant, and Surya were the India's best batters

In [110]:
message = "All the best for your ongoing Exams"
print(message.split(maxsplit=2))
print(message.rsplit(maxsplit=2))

['All', 'the', 'best for your ongoing Exams']
['All the best for your', 'ongoing', 'Exams']

### ***join***
#### - synatx: "arg".join(iterable)
#### - It converts the given iterable of substrings into a string by placing the argument between substrings

In [114]:
l = ["Python", "is", "going", "good"]
s = "-".join(l) # Python is going good
print(s)

Python-is-going-good

In [113]:
match_day = "India-Pakistan"
"vs".join(match_day)

'Ivsnvsdvsivsavs-vsPvsavskvsivssvstvsavsn'

In [112]:
match_day = "India-Pakistan"
"IndiaWin".join(match_day)

'IIndiaWinnIndiaWindIndiaWiniIndiaWinaIndiaWin-IndiaWinPIndiaWinaIndiaWinkIndiaWiniIndiaWinsIndiaWintIndiaWinaIndiaWinn'

In [116]:
l = [1,2,3]
" ".join(l)

TypeError: sequence item 0: expected str instance, int found

In [117]:
l = [1,2,3]
" ".join()

TypeError: str.join() takes exactly one argument (0 given)

### ***replace***
#### syntax: replace(old_substring, new_substring, count_value)
#### - It replaces the old substring with the new substring and returns string object
#### - We can control the replacement of new_substring through the count_value

In [118]:
ind_players = "Virat, Rohit, Sky, Pant, Dube, Hardik, Jadeja, Bumrah"
ind_players.replace('Dube', "Rinku")

'Virat, Rohit, Sky, Pant, Rinku, Hardik, Jadeja, Bumrah'

In [119]:
ind_players = "Virat, Rohit, Sky, Pant, Shivam Dube, Hardik, Jadeja, Bumrah, Shubham Dube"
ind_players.replace('Dube', "Rinku")

'Virat, Rohit, Sky, Pant, Shivam Rinku, Hardik, Jadeja, Bumrah, Shubham Rinku'

In [120]:
ind_players = "Virat, Rohit, Sky, Pant, Dube, Hardik, Jadeja, Bumrah, Dube"
ind_players.replace('Dube', "XYZ")

'Virat, Rohit, Sky, Pant, XYZ, Hardik, Jadeja, Bumrah, XYZ'

In [121]:
ind_players = "Virat, Rohit, Sky, Pant, Shivam Dube, Dube, Dube, Dube, Hardik, Jadeja, Bumrah, Shubham Dube"
ind_players.replace('Dube', "Rinku", 2)

'Virat, Rohit, Sky, Pant, Shivam Rinku, Rinku, Dube, Dube, Hardik, Jadeja, Bumrah, Shubham Dube'

In [122]:
ind_players = "Virat, Rohit, Sky, Pant, Shivam Dube, Dube, Dube, Dube, Hardik, Jadeja, Bumrah, Shubham Dube"
ind_players.replace('a', "***", 3)

'Vir***t, Rohit, Sky, P***nt, Shiv***m Dube, Dube, Dube, Dube, Hardik, Jadeja, Bumrah, Shubham Dube'

### ***count***
#### syntax: count(arg, start_index, end_index)
#### - It returns the number of times substring occurred in a string

In [124]:
statement = "Virat is the best player of our generation and Virat scored 50 centuries in ODI. Virat is 35 years old"
statement.count("Virat")

3

In [125]:
statement.count("i")

8

In [126]:
statement.count("Virat", 2, 30)

0

In [127]:
name = "Virat Kohli"
name.count("i",1,10)

1

In [128]:
s = "ENGINEERING"

In [129]:
print("E  : ", s.count('E'))
print("R  : ", s.count('R'))
print("I  : ", s.count('I'))
print("Z  : ", s.count('Z'))
print("EE : ", s.count('EE'))

E  :  3
R  :  1
I  :  2
Z  :  0
EE :  1

### ***index***
#### syntax: index(substring, start_index, end_index)
#### - It returns the index position of the first occurrence of a given substring
#### - If a substring is not available, it throws a value error

In [130]:
statement = "Python Course - Python"
statement.index("ho")

3

In [131]:
statement.index("oh")

ValueError: substring not found

### ***rindex***
#### syntax: rindex(substring, start_index, end_index)
#### - It returns the index position of the last occurrence of a given substring
#### - If a substring is not available, it throws a value error

In [132]:
statement = "Python Course - Python"
statement.rindex("ho")

19

In [133]:
statement = "Python Course - Python"
statement.rindex("oh")

ValueError: substring not found

### ***find***
#### syntax: find(substring, start_index, end_index)
#### - It returns the index position of the first occurrence of a given substring
#### - If a substring is not available, it returns -1

In [135]:
statement = "Python Course - Python"
statement.find("ho")

3

In [136]:
statement = "Python Course - Python"
statement.find("oh")

-1

### ***rfind***
#### syntax: rfind(substring, start_index, end_index)
#### - It returns the index position of the last occurrence of a given substring
#### - If a substring is not available, it returns -1

In [137]:
statement = "Python Course - Python"
statement.rfind("ho")

19

In [138]:
statement = "Python Course - Python"
statement.rfind("oh")

-1

In [139]:
statement = "Python Course"
print(statement.find("ho"))
print(statement.rfind("ho"))

3
3

### ***Case Conversion Methods***
#### - upper ==> It converts lowercase characters to uppercase characters
#### - lower ==> It converts uppercase characters to lowercase characters
#### - swap case ==> It converts lowercase characters to uppercase characters and uppercase characters to lowercase characters
#### - title  ==> It converts the first letter of each word in a string into uppercase
#### - capitalize ==> It converts the first character of a string into uppercase and the rest into lowercase

In [154]:
s = 'python'
x = s.upper()
print("s :", s)
print("x :", x)

s : python
x : PYTHON

In [153]:
s = 'Python@123'
x = s.upper()
print("s :", s)
print("x :", x)

s : Python@123
x : PYTHON@123

In [152]:
s = 'PYTHON@123'
x = s.lower()
print("s :", s)
print("x :", x)

s : PYTHON@123
x : python@123

In [151]:
s = 'PYThon@123'
x = s.swapcase()
print("s :", s)
print("x :", x)

s : PYThon@123
x : pytHON@123

In [156]:
s = "python is easy IF YOU LEARN"
x = s.title()
print("s :", s)
print("x :", x)

s : python is easy IF YOU LEARN
x : Python Is Easy If You Learn

In [158]:
s = "python is easy IF YOU LEARN"
x = s.capitalize()
print("s :", s)
print("x :", x)

s : python is easy IF YOU LEARN
x : Python is easy if you learn

In [159]:
s = "23python is easy IF YOU LEARN"
x = s.capitalize()
print("s :", s)
print("x :", x)

s : 23python is easy IF YOU LEARN
x : 23python is easy if you learn